[2016-08-19 12:51] henninglive commented on #252
@Grenkin1988 yes, but if these are the only features we are gaining, then it is definitely not worth the effort. Also both compiles would have to this.

[2016-08-19 12:51] BeefEX commented on #265
Updated, and learned not to paste XML into comments :D

[2016-08-19 12:53] WardBenjamin commented on #252
@henninglive I think pretty much everything other than Caller Information and possibly a few other non-backwards-compatible things should work fine. I don't think *any* compilers fully support that, btw.

To be honest, I think C# 6's properties and nullconditional operators make it totally worth it. Those are both great, simple features that I really like using.

[2016-08-19 12:54] NogginBops commented on #265
I will look at this in  30 minutes when I get home.

[2016-08-19 12:54] BeefEX commented on #265
Ok, thanks

[2016-08-19 12:58] Grenkin1988 commented on #252
[code]
This is already a win for readability

And
`int? first = customers?[0].Orders.Count();`
Instead of
[code]

[2016-08-19 12:59] WardBenjamin commented on #263
Any ideas for a kind of story here? We could do something along the lines of you starting in your spacecraft, it malfunctions or you're stranded or something, and you have to survive, or something like that. It'd give you a convenient place to build from, some materials, etc.

[2016-08-19 13:02] koosemose commented on #264
With the intent being that areas with no tiles are empty space, I'm not sure that slower movement is the right answer. However, the right answer also requires more systems in place, the primary one being a differentiation on if the character is in a space suit or not, and appropriate penalties if they're not in one and in a place with no oxygen (such as empty space) or in a place with no floor tra

[2016-08-19 13:05] kd7uiy commented on #264
The space suit idea is a good thought. For the short term, we should add it as a fairly high movement penalty, say, 5, to discourage such movement.

As for the space suit, if there isn't a discussion about that, we should start one. Or we could use this one I suppose. It needs to be a state of some kind for the character. I could imagine there might be different kinds of suits, so it might be a cl

[2016-08-19 13:08] NogginBops commented on #264
I think tjat spacesuites should in some way be implemented as items.

[2016-08-19 13:10] koosemose commented on #264
I just kind of feel like, at this stage of development, the movement penalty would be more of a hinderance, there would be no way at this point to avoid it, and if I were to, for example, do a test involving picking up all the steel plates that currently spawn on the "asteroids" or to test the mining that someone is doing in a PR, it's just going to take that much longer to actually test it out.

[2016-08-19 13:14] Mizipzor commented on #264
Increasing the cost of tiles wont prevent workers from walking on them. The pathfinding finds the cheapest route, not matter how expensive it its. If the only path is through space that path is found.

Maybe split the worlds into two parts? Two graphs that are not connected that can be searched. Airlocks seems to be a big thing anyway.

[2016-08-19 13:18] koosemose commented on #264
Unless the pathfinding system has been changed (it may well have been) the cost of moving into a tile directly translates into the speed one moves, so with the example of interacting with the asteroids, it will take 5 times as long. Though if those are still coupled, it may be time to look into separating them, so we can have tiles that people don't want to walk through but can walk through at ful

[2016-08-19 13:21] Mizipzor commented on #265
Youre saying that you try to make it work, but im not sure what its expected to do. What do you want it to do and what does it currently do?

[2016-08-19 13:23] BeefEX commented on #265
Look at the video, for what it does now. It is sapposed to connect walls but i dont how to do it now.

[2016-08-19 13:24] henninglive commented on #252
I agree that the language features are really nice, but i still do not think it is worth the effort. It raises the barrier of entry for contributing to the project. Installing and configuring the other compiler might be easy on windows, but we also have to support linux and mac. It might not be as easy there, i don't know. We would also need to add platform specific guides on how to set this up in

[2016-08-19 13:26] WardBenjamin commented on #252
New versions of Mono both support these features and are fairly easy to install on all three platforms, actually.

[2016-08-19 13:26] Mizipzor commented on #265
What the video does looks correct to me. What do you mean by "connecting"?

[2016-08-19 13:27] BeefEX commented on #265
I ma talking about texture and those arent correct in video, i am sure the system for getting them is correct, i just need the function to update furnParametres.

[2016-08-19 13:28] kd7uiy commented on #264
Walking on empty spaces might be okay, but it shouldn't be the same as unhindered space.

I think walking on open space should require a jetpack, and walking in a vacuum a space suit.

[2016-08-19 13:28] NogginBops commented on #252
I agree with @henninglive. The barrier that this would create is not worth it. What if we have someone who has only worked with C# in unity. They would not know what the ?. operator means nor how to read it. Plus the setup, it's going to go wrong for a lot of people and they won't know what to do.

[2016-08-19 13:29] koosemose opened #268 "Discussion on how to handle gear such as a spacesuit"
While I'm not quite sure if it's time to try to implement gear, I do think it would be useful to have discussion on how to handle it, as many other features will likely affect/be affected by gear and how it's handled.

It seems fairly clear it should be something distinct from a character's inventory, both because that would only allow a character to carry or wear one thing (and not both carry and

[2016-08-19 13:31] kd7uiy opened #269 "Fetch dump Fetch dump build"
We really should set it up so that if the worker doesn't have enough material to do a job, he should keep getting more material until either there is no more material left, or he has enough to build the job. The fetch dump fetch pattern isn't good.

[2016-08-19 13:33] NogginBops commented on #268
I think wearables should be special items to allow them to be placed in a stockpile or carried around (without being worn).

[2016-08-19 13:34] koosemose commented on #264
I'm not sure if there is a situation where you could have open space that isn't a vacuum. But you could conceivably have spacesuits that don't have jetpacks in them, like an emergency flight suit or something you make your people wear if you're paranoid about sudden hull breaches, or have them put on before fixing said hull breach.

I have, however, started a separate discussion in #268 regarding

[2016-08-19 13:37] relinu commented on #213
Didn't know what to do so I implemented the eventsystem myself ^^' Hope it's ok  #270

[2016-08-19 13:38] kd7uiy commented on #268
The best way I think would be to do something akin to an RPG. There are certain items, with certain slots they can fill. There is a clothing slot, hand slot, back slot, foot slot. The item fits in to the particular slot. If a job requires a particular piece of equipment, then it's uses it.

An equipment could fulfill multiple requirements. There might be a tool pack, and a better tool pack. The be

[2016-08-19 13:40] kd7uiy opened #272 "Pending door replacing pending wall [Easy]"
A door should be able to replace a pending wall as an object to be built. We can replace an existing wall, why not a wall?

Also, a door shouldn't be free. An upgrade of a door to a wall should cost less than a straight wall, but in general a door should cost more than a wall.

[2016-08-19 13:40] BeefEX commented on #213
@relinu why it wouldt be :D

[2016-08-19 13:41] NogginBops commented on #268
A bastType was implemented in furniture, maybe something similar for items?

[2016-08-19 13:43] Kreol-Dev commented on #86
Wouldn't HTN + Utility functions be more effective? From my experience resource managing GOAP is a mess if you make it anything but "specific action always requires same amount of resources". Any interdependency between them (like, fuel per km when car is moving) gonna break the whole idea of simple AI that can account for that, because actions will become bloated with accounting for different cas

[2016-08-19 13:45] kd7uiy opened #273 "Pending floor doesn't show an icon"
It's not easy to see where pending floor is right now. Fix this!

[2016-08-19 13:49] koosemose commented on #268
Just what I was thinking (I was the one that implemented that), though I'm thinking of changing it up a bit, changing it to allow multiple types, with a name change to something that might make it clearer that multiples are allowed (typeTag is the current suggestion), which is how I would probably implement it for gear as well. So the typeTag could designate both that it is handheld and that it is

[2016-08-19 13:50] kd7uiy opened #274 "[Bug] Stockpile doesn't alway fill up"
Not quite sure what's causing this, but I noticed that the stockpile wasn't completely full, not sure why.

![capture](https://cloud.githubusercontent.com/assets/5951269/17811817/68f01ae2-65f2-11e6-9260-ab26fcc7fa68.PNG)

[2016-08-19 13:51] kd7uiy opened #275 "Room stats don't show oxygen levels (Proposal- Indicate items that don't have power somehow)"
There's no way to status the health of a room, with things like the proper oxygen levels. This should be addressed.

[2016-08-19 13:53] NogginBops commented on #86
@Kreol-Dev With HTN do you mean Hierarchical task network?

[2016-08-19 13:53] kd7uiy opened #276 "[Bug] New room not checked upon floor completion"
If there is a missing floor tile, a room is not created. This is desired. However, the room can be finished by adding floor, and the room is still considered outside. Check for a complete room should be included when building a floor, or another way to manage this should be decided.

[2016-08-19 13:54] bjubes commented on #275
Mousing over a floor tile in a room won't show the O2 in the bottom right?

[2016-08-19 13:54] BeefEX commented on #275
I will try to add it? If it doesnt already say it.

[2016-08-19 13:55] FaintSpeaker commented on #263
We could take a page from rim world's book and have xml based scenarios,
with starter room configuration. Would be best to get that kind of
configuration done early.

Such a configuration could be as simple as a set of tile data similar to
the map saves,  or a list of generator constants such as width,  height,
furniture, and resources. Or some kind of combination of the two.

On Fri, Aug 19, 2016

[2016-08-19 13:55] kd7uiy commented on #268
One thing to consider is what do you do if you have a space suit with a build in tool set, for instance. Ideally each item can have multiple "needs" they fulfill. I've been struggling with something very similar with my game I'm working on, with some blogs giving my rambling at http://www.kd7uiy.com. It's a non-trivial issue to cover all of the edge cases...

[2016-08-19 13:56] bjubes commented on #275
Should this be a beginner bug?

[2016-08-19 13:56] kd7uiy commented on #275
@bjubes Yes, this is the idea. I think it used to, not sure why it's not working now.

[2016-08-19 13:59] kd7uiy commented on #263
See also https://github.com/TeamPorcupine/ProjectPorcupine/issues/21

The story question would be a good separate issue thread.

[2016-08-19 14:01] koosemose commented on #268
Well, typeTags should handle that. You have a toolkit which has a typeTag of "Toolkit", you also have a Spacesuit with a typeTag of "Spacesuit", you can work on something if you have a piece of gear with a typeTag of "Toolkit". If you then have a deluxe Spacesuit that has two typeTags, "Toolkit", and "Spacesuit". The job that requires a toolkit just checks if any of your gear has a typeTag of "Too

[2016-08-19 14:02] BeefEX opened #278 "Pathfinding throws NullReferenceException"
This happens, when while building a job, some parts of it get block by building other parts.

NullReferenceException: Object reference not set to an instance of an object
Character.CheckForJobMaterials () (at Assets/Scripts/Models/Character.cs:195)
Character.Update_DoJob (Single deltaTime) (at Assets/Scripts/Models/Character.cs:170)
Character.Update (Single deltaTime) (at Assets/Scripts/Models/Cha

[2016-08-19 14:03] kd7uiy commented on #268
@koosemose That's basically my thought. Each object can have multiple typeTags, and even an action might require multiple typeTags too.

[2016-08-19 14:04] NogginBops commented on #86
I have read the Wikipedia article and this seems like it could be the system I hoped for but wasn't able to come up with and didn't quite know about existed. That's what happens when you don't have a lot of experience around the field.

[2016-08-19 14:04] Kreol-Dev commented on #86
@NogginBops Yep,

Because, for example, a case of a metal producing machine can be solved in much simpler way just by creating a "production component", so actions won't really orient for specific furniture, but for an interfacing component.
If it will require resource, then you would create a "consumer" component, and a Task that will search for both producer and consumer on the same object and s

[2016-08-19 14:06] emilkris33 commented on #275
@kd7uiy build an O2 gen in a room and a Power Station to generating and then it Will show

[2016-08-19 14:09] NogginBops commented on #86
I will read up on this topic to understand more of the different concepts but it seems promising.

Though I want some feedback from @lameox @emilkris33 @vogonistic that have been active in this thread, about what they think about this?

[2016-08-19 14:09] NogginBops commented on #86
@Kreol-Dev Yeah, your case makes sense.

[2016-08-19 14:19] TheRiven commented on #263
A QuilCorp Basic Utility Station - Relatively Clean Air, 1 X AA battery power and a pick for all your mining needs!

Free with your station loan welcome pack! :laughing:

[2016-08-19 14:22] TheRiven commented on #275
yeah, oxygen is currently the only thing needing power as it does not cause any issue if you don't have it (yet!) and can show that the power system is working when you do.

[2016-08-19 14:23] NogginBops commented on #265
@BeefEX to try and understand your problem I first need to know what changes you have made and what your plan for this feature looks like.

[2016-08-19 14:26] BeefEX commented on #265
Take a look at this branch: https://github.com/BeefEX/ProjectPorcupine/tree/Animations
I will be offline for next two days an will finish it later. The system for txtures is finished now i only need the waals to update propely whitch i cant work out.

[2016-08-19 14:27] WardBenjamin commented on #86
Incidentally, both Prison Architect and Rimworld handle jobs in pretty much this system and it seems to work well for both. I definitely like the get materials -> stockpile them in-place -> construction paradigm, but it probably should be paired with a priority queue, since it doesn't really matter *who* (as in, which character) does each task, and some tasks should be higher priority than others

[2016-08-19 14:37] NogginBops commented on #265
@BeefEX I think it could be the min and max in the attributes. Shouldn't it go from min=0 to max=1. A float is by default a zero.

[2016-08-19 14:40] NogginBops commented on #86
@WardBenjamin What are your thoughts on a [HSN](https://en.wikipedia.org/wiki/Hierarchical_task_network#cite_note-6) implementation instead of a GOAP one?

[2016-08-19 14:40] BeefEX commented on #265
No, it is >= min, but i waill try that.

[2016-08-19 14:42] NogginBops commented on #265
@BeefEX I mean that the xml specifies attributs with a min=1 and a  max=1. I think it should be min=0 and max=1

[2016-08-19 14:42] BeefEX commented on #265
No, that didnt fix it, even with only counting **value > min** not **value >= min**

[2016-08-19 14:43] BeefEX commented on #265
It gave same result as with min="1" max="1"

[2016-08-19 14:43] NogginBops commented on #265
I don't quite understand what you are saying. What did you test?

[2016-08-19 14:45] BeefEX commented on #265
Min at 0 wouldnt work since it it checks if value >**=** than min it would always be true.

[2016-08-19 14:48] kd7uiy commented on #275
Ahhh, didn't realize it required power... Interesting. Will try.

In that case, there should be a visual indicator on the O2 generator that it doesn't have power. Either it should turn red, or have a lightning bolt symbol on it, or something like that.

[2016-08-19 14:52] relinu commented on #265
Can you test how many elements there are in the metaTable? Because the sprites with only one attribute seem to work.

[2016-08-19 14:52] WardBenjamin commented on #263
![projectporcupine](https://cloud.githubusercontent.com/assets/4739008/17813852/11a32762-65fb-11e6-856a-c555c9988f41.PNG)

[2016-08-19 14:53] WardBenjamin commented on #263
@TheRiven  ^

[2016-08-19 14:54] BeefEX commented on #265
i tried that, didnt work, maybe try to fokr that branch, as i said i will be offline now

[2016-08-19 14:56] NogginBops commented on #263
^ THIS!

[2016-08-19 14:56] TheRiven commented on #263
That's awesome and just like that we have the beginnings of a story :laughing:

[2016-08-19 14:57] Dormanil commented on #263
This is great. I love it.

[2016-08-19 14:57] kd7uiy commented on #263
Looks great!

[2016-08-19 15:09] Grenkin1988 commented on #252
That would be a great way to leand about new technologies.
This is tutorial as I remember :-)

[2016-08-19 15:10] SquareMan commented on #276
That seems like a pretty easy fix, i'll get on this right away.

[2016-08-19 15:16] relinu commented on #265
got it

[2016-08-19 15:19] bjubes commented on #182
I think that naming of variables and functions should be regulated, but does it really matter if a class has a curly brace on the same line or next line?  It's very clear either way and unity chooses the former when it creates new files Anyway

[2016-08-19 15:19] vogonistic commented on #252
What is the requirement for Linux and Mac users to write and run C# 6?

[2016-08-19 15:26] kd7uiy opened #282 "[Bug] Stockpile is too high of a priority"
Building should always be higher in priority than filling a stockpile. However, I've found if there's an open stockpile, making sure there's something in every tile seems to be higher priority than building something. This should be addressed.

[2016-08-19 15:27] kd7uiy opened #283 "New Characters"
How should we add new characters?

[2016-08-19 15:27] WardBenjamin commented on #252
A link for reference: https://bitbucket.org/alexzzzz/unity-c-5.0-and-6.0-integration/src

[2016-08-19 15:31] WardBenjamin commented on #263
Quill approved:

![capture](https://cloud.githubusercontent.com/assets/4739008/17815027/785c3084-6600-11e6-9932-66e7e12b6181.PNG)

[2016-08-19 15:32] kd7uiy opened #284 "Difference between an Airlock and a Door?"
First of all, an Airlock should be able to replace a Door as it can replace a Wall, assuming an Airlock is a better door.

Next, why the difference at all? What does an Airlock do that a Door doesn't? Just trying to understand.

[2016-08-19 15:32] Mizipzor commented on #182
There are many, many reasons why sticking to a code style is beneficial.

1. It prevents people going back and forth constantly changing a method they work on to fit their personal style.
2. If you read a lot of code in the project you get used to reading (and writing) that style, making both easier.
3. If two people write the same code and write it in the same way, merging is easier.
4. Good rule

[2016-08-19 15:34] kd7uiy opened #286 "Replacing wall bug (Deconstructing an object should be a job)"
When a wall is replaced with a door, it instantly can be walked through. It also looses it's room containment. That seems like a poor choice.

[2016-08-19 15:35] GamerInspired commented on #284
Maybe airlock doors take longer to open so are use where needed; maybe also they can withstand being on the outside wall. Where as a normal may open faster and can't handle being on a outside wall.

[2016-08-19 15:40] koosemose commented on #284
I believe a normal door leaks air.

[2016-08-19 15:41] kd7uiy commented on #284
A normal door could vent the atmosphere when it is opened in to space. If it opens to another occupied room, then the two room's gas mix. An airlock won't do either. Sound good?

[2016-08-19 15:46] koosemose commented on #282
At present there is no actual priority on jobs (filling stockpiles is a job, just as building furniture is), so a job is just added to a queue and when getting a job it just takes the next off of a queue. So if you have 5 stockpiles, each will add a job to the queue, and a furniture to be constructed will have a job on the queue, the exact order that things happen in will affect the order the jobs

[2016-08-19 15:47] koosemose commented on #284
I believe that is what it is programmed to do at present, if it doesn't then there's an issue with it.

[2016-08-19 15:52] koosemose commented on #284
Correction: a normal door always leaks, an airlock door only leaks when open. Presumably intended to be used in a proper airlock, a small room with a door on either side, to minimize the gas that escapes. A more proper name might be pressurized door, but airlock door is technically accurate as well, as it is a door meant for an airlock.

[2016-08-19 15:54] vogonistic commented on #86
The implementation in my head is probably leaning towards HSN, but I'm good either way.

[2016-08-19 15:54] GamerInspired commented on #284
Would be awesome to see gas pumps later (a lot later) on to pump the gas out of the small rooms (airlocks).

[2016-08-19 15:58] koosemose commented on #284
I suspect (I haven't investigated the related code) that might be a trivial addition, quite possibly making use of the same code that currently causes gas to leak through doors, or at least similar (so direction is forced, rather than from higher pressure to lower pressure)

[2016-08-19 16:00] GamerInspired commented on #284
Thinking about you maybe correct there, i'm also looking forward to the possibility of having pipe and cables to move gases and electricity round. This would mean you could pipe the gases to specific areas.

[2016-08-19 16:01] koosemose commented on #286
The only behavior I see is more because the character builds from on top of the door (as with everything else). And at least to me, losing containment when you knock a hole in the wall to put up a door makes sense.

[2016-08-19 16:01] vogonistic commented on #246
The variables are slightly more preferable when you need to update one of the conditions in a complicated way. The second line in particular is going to scare off a lot of people.

[2016-08-19 16:03] kd7uiy commented on #286
Losing containment when you are building the wall makes sense. Loosing containment when you are planning to build a door, but haven't got there yet, doesn't make sense.

[2016-08-19 16:05] kd7uiy commented on #282
Fair enough. I've got a few ideas on where to start with the job priority, namely to start with a priority in mind. There's a fair bit of decision when you have otherwise equal priorities that should be addressed. Hmmm...

[2016-08-19 16:05] koosemose commented on #286
But what you are doing is not simply planning to build a door, but deconstruct the wall so you can build a door. This is less clear at present because currently deconstruction happens automatically rather than having to have the character work at it.

[2016-08-19 16:05] RodRitter opened #289 "[Bug] Slow performance when travelling far"
Hi guys,

I haven't been following the pathfinding updates but I've noticed a huge hit to FPS when the character tries to go fetch a load of iron plates from a far off place like an asteroid.

[2016-08-19 16:07] vogonistic commented on #282
An updated job system is discussed in #86

[2016-08-19 16:11] vogonistic commented on #182
Adding reference to #291, which I think is the wrong way to go about fixing it.

[2016-08-19 16:15] Mizipzor commented on #182
Especially since this discussion is still ongoing.

[2016-08-19 16:16] vogonistic commented on #263
I think we should change the start room to look a little more like a shuttle, add the proposed text and include something like "... and enough fuel to get you out here safely, but definitely not back again. Good luck!"

[2016-08-19 16:16] WardBenjamin commented on #86
Agreed, HSN seems like a better solution.

[2016-08-19 16:16] bjubes commented on #289
Could you include a screen shot of the profiler so we know exactly what is slowing the game down?

[2016-08-19 16:17] WardBenjamin commented on #263
Interestingly, we could have the starting shuttle be a literal shuttle eventually, with it's own fuel/energy system and whatnot. It gives a use for it outside of the little backstory bit.

[2016-08-19 16:19] koosemose commented on #86
I'll be honest, I'm only able to follow the rough idea of what you all are planning on, but I do have a question. Is this system intended to only cover how to perform a job or would it also cover what jobs are being done?

[2016-08-19 16:21] RodRitter commented on #289
I'm not sure what I need to be looking for exactly but here is the screenshot:

![image](https://cloud.githubusercontent.com/assets/4159679/17816488/aa21c5d2-6639-11e6-8caa-b5d854bdea7d.png)

[2016-08-19 16:21] behindcurtain3 commented on #182
Quill did accept the PR to update the style guidelines, although he hasn't commented on any of the proposals or discussion.

[2016-08-19 16:24] koosemose commented on #289
I'm pretty sure I fixed this (or at least part of it) in PR #250, the issue is that there is a bug in how it determines if the character has a goal that contains the inventory they are looking for, and it fails if there isn't a furniture in that tile, so it looks for a new path (even though it will get the same one), and if it is a far distance the pathfinding is very expensive, it will do this ev

[2016-08-19 16:24] RodRitter commented on #289
I removed the Debug.Logs and it seemed to clear it up

[2016-08-19 16:27] kd7uiy commented on #289
I'm almost certain that when the mentioned PR gets included (Which you should all ping Quill to get him to do it sooner), this will be resolved.

[2016-08-19 16:28] RodRitter commented on #289
Great, will see when he gets on a little later. Closing this now.

[2016-08-19 16:28] #289 closed

[2016-08-19 16:29] vogonistic commented on #86
@koosemose It would have to at the very least tie into the system that prioritizes what jobs are done first, but it's not the same thing. Do you want to start a separate discussion on that?

[2016-08-19 16:34] kd7uiy commented on #86
I submitted a very simple change proposal to add a priority queue system that works and is a huge improvement, see https://github.com/TeamPorcupine/ProjectPorcupine/pull/293

[2016-08-19 16:40] vogonistic commented on #263
We should also consider the ability to build shuttles for away missions

[2016-08-19 16:40] NogginBops commented on #86
@koosemose I think the idea right now is to have this system incorporate all AI in the game. This would both affect how the jobs are done and as an extension what/why jobs are being done.

[2016-08-19 16:43] koosemose commented on #86
@vogonistic  No, I was just trying to understand exactly what was being accomplished. And I was worried that it was intended to handle the actual prioritising of jobs ( as it would perhaps take away too much player choice ). As is, it looks good, and I just request that you all keep in mind that partially a tutorial, and to endeavor to ensure that this complex sounding system can be presented in s

[2016-08-19 16:51] ComputerOverlord commented on #275
@kd7uiy Haha... But, you probably didn't understand how the generator worked.

[2016-08-19 16:52] kd7uiy opened #294 "[Bug] Wall edge conditions"
The wall does weird stuff when you build along the edge of the map.

![capture](https://cloud.githubusercontent.com/assets/5951269/17817291/c07e4a90-660b-11e6-8274-13b381ecc088.PNG)

[2016-08-19 16:55] kd7uiy commented on #286
Deconstructing then should be a job. Hmmm...

[2016-08-19 16:58] vogonistic commented on #294
Probably shouldn't allow building on the last tiles. That would be a good beginner bug fix. I'll write it up.

[2016-08-19 16:58] koosemose commented on #294
For others looking at this, as it's not completely clear what's going on from the picture alone, it appears that walls built along the edge don't show a sprite (they still show up in mouseover info), what can be seen in the picture is the walls connecting to the walls with no sprites.

I suspect it has to do with trying to check outside of the map for neighbors.

[2016-08-19 17:00] vogonistic commented on #294
Edges of maps are always problematic, best not to let the users build on the very last tile along the edge.

@kd7uiy Would you rather have a go at fixing it before I put it out as a beginner bug?

[2016-08-19 17:03] FilippoLeon opened #295 "Discussion: overlays and "tile data""
I think the project could benefit of having a series of overlays displaying "color maps" (or heat maps) of many variables that depend on tiles:
- display a color map of the oxygen level
- colorize each room separately
- display temperature, if implemented
- display other variables

I've created a branch:
https://github.com/TeamPorcupine/ProjectPorcupine/compare/master...FilippoLeon:overlay
with so

[2016-08-19 17:05] WardBenjamin commented on #295
I was actually just thinking about this, looks awesome. Overlays like oxygen (maybe a generic "gas" one with a dropdown for any other gases?), temperature, and such would be great.

[2016-08-19 17:08] koosemose commented on #295
This seems pretty useful, both to in development and gameplay. Though if what's in the picture is rooms, perhaps room 0 shouldn't have an overlay (or rather have a completely transparent color), since the idea is that it's not a room.

[2016-08-19 17:09] NogginBops commented on #86
@koosemose That is absolutely a important thing to consider and a part of the solution I think lays in a clear and well defined structure and clear api for which this thread exists.

[2016-08-19 17:09] FilippoLeon commented on #295
Sorry, picture shows oxygen, but is still a bit wonky.

[2016-08-19 17:12] koosemose commented on #295
Ah, was just guessing. Do you intend (once you have it dewonked) to make this accessible from in game, or do you intend it to be a developer only thing that one would control through the object or some other method to be used for debugging?

[2016-08-19 17:15] WardBenjamin commented on #295
I think this would be a good in-game tool, if refined enough. I think it would be really useful when doing things like planning where oxygen generators or CO2 scrubbers go, or other use cases. This would also be useful if we added gas piping and other stuff.

[2016-08-19 17:15] FilippoLeon commented on #295
Also for end-user.

For instance. Many times I wished that RimWorld had such a feature for the temperature, so that my colonists woldn't burn alive.

[2016-08-19 17:16] WardBenjamin commented on #284
Before this is closed, this should probably be recorded somewhere.

[2016-08-19 17:17] FilippoLeon opened #298 "Discussion: temperature modelling"
I'm interested in writing code managing the temperature in the game. This is linked to my discussion about overlays:
https://github.com/TeamPorcupine/ProjectPorcupine/issues/295

I see two ways to proceed:
- a room-based temperature system, where "heat" flows to adjacent rooms (faster e.g. trough vents), is created by heaters and reduced by refrigerators, etc.
- my favourite: a tile-based realisti

[2016-08-19 17:18] vogonistic commented on #284
Maybe someone should write an RFC for a Grand System of Gasses, Leaks and Pumping?

[2016-08-19 17:19] relinu commented on #298
I think a room based one would be enough for this type of game.

[2016-08-19 17:19] Grenkin1988 commented on #182
LINQ Queries - should we use them as:
[code]
or
[code]
I prefer methods call.

[2016-08-19 17:20] lameox commented on #182
I vote for the second version, aka Method Calls

[2016-08-19 17:21] vogonistic commented on #182
I second method calls. What's the interface to support LINQ queries in something like InventoryManager?

[2016-08-19 17:23] kd7uiy commented on #294
I'm not planning on fixing it.

The edge tile is a wall, but the sprite doesn't show. I would propose putting it as a sprite.

[2016-08-19 17:25] koosemose commented on #295
Excellent, lots of fun potential uses for this, such as spotting leaks (presumably a part of mapping gas flows).

Any idea on the feasibility of making this moddable (interact with LUA and/or xml files) so an end-user could mod in their own heatmap for something they're really interested in?

[2016-08-19 17:25] Mizipzor commented on #182
@Grenkin1988 Now were talking. :)

Normally I would go for both, whichever is more readable at the time. But, as I've said before, for this project I think it's much more important that this is super well defined rather than objectively good.

I vote for method calls.

[2016-08-19 17:27] Grenkin1988 commented on #182
How many votes we need to include this to our standart? :-)

[2016-08-19 17:28] behindcurtain3 commented on #298
A tile based solution would be awesome, imagine having long hallways or large rooms it would take a bit of time to propagate any changes.

[2016-08-19 17:29] Mizipzor commented on #182
When @quill18 votes, I suppose its the only vote that counts. XD

Maybe its time to throw in the towel and create a wiki page for a code standard, since we already deviate from the Microsoft one and might to do on more points. And this distinction on linq is not in the Microsoft standard as far as I know.

[2016-08-19 17:29] kd7uiy commented on #284
This should be added to the Wiki, and there are a few thoughts on what to do with an Airlock and a Door. Also, we should be able to replace a door with an Airlock. Do all of this, and this issue can be closed.

[2016-08-19 17:30] koosemose commented on #182
While I'm not familiar with LINQ at all (other than that it appears to basically be SQL but in c#?), I think, as a standard I prefer the second, as it seems most similar to standard c# (and therefore may be less intimidating to novices). (Even though I prefer the SQLishness of the first, since that's what it basically seems to be functioning as)

[2016-08-19 17:31] FilippoLeon commented on #295
I will proceed with improvements then.

- For now, everybody could interface the overlay by simply setting the member "valueAt" to a lambda function taking as input the coordinates x and y and returning the value u want to display.
- Toggle on and of the overlay simply by "SetActive".

I do not want to mess with the unity scene too much, but it's easy to add a button and a drop down for toggling a

[2016-08-19 17:31] WardBenjamin commented on #86
(Discussion from @kd7uiy's partial job fix)

[2016-08-19 17:33] WardBenjamin opened #299 "Power Generation Localization"
Okay, so we now have 5 open pull requests that add localization for the power generator.

Can someone go through these (@SanteriHetekivi?) and pull all of the non-duplicate localizations into one pull request?

#169
#186
#236
#256
#297

[2016-08-19 17:34] satch3l commented on #298
If you do this for a living you probably has the best insight into what will work best. So, as far as I'm concerned, I'd let you choose.

[2016-08-19 17:36] behindcurtain3 commented on #182
I also prefer the method calls. @Mizipzor a wiki page is a good idea.

[2016-08-19 17:45] SanteriHetekivi commented on #299
If creators are okay for me pulling from their PR:s into one I'm all for it, but like i mentioned in #169 I live in Finland so I'm sleeping at the time pulls are made and can't correct any resulting conflicts at once like last time.

There should be way to collaborate in pull requests...
If there is I would like to know.

For me main thing is that next time @quill18 does pulling at least one of th

[2016-08-19 17:46] FilippoLeon commented on #298
Dunno about how much you know about this stuff. But we can do real fancy stuff:
https://en.wikipedia.org/wiki/Heat_equation

The idea is that at each "time update", we have to loop over each tile and update the value of the temperature from its neighbours. Since we use floats and do not require much precision, we can get away with something rather efficient.

[2016-08-19 17:48] Mizipzor commented on #182
@koosemose "sql in c#" is a very good comparison. Look it up, linq is awesome. :)

[2016-08-19 17:49] vogonistic opened #300 "[Beginner] Prevent furniture from being built along the edges of the world"
Currently, you can build walls on the last tiles on the edge of the world, but it leads to a lot of checks for tiles outside the map. One common way to fix this problem is to not let the user target the tiles on the very edge of the map.

Edit `DEFAULT__IsValidPosition()` in `Assets/Scripts/Models/Furniture.cs` so that it doesn't let the user build or place anything within 5 tiles to the edge.

Pa

[2016-08-19 17:50] lameox commented on #86
I will need to read up on both GOAP and HTN more before i feel like i can give any good feedback on the matter. I will have to see about finding time for that though...

[2016-08-19 17:53] Mizipzor commented on #182
Just checked the [coding conventions](https://msdn.microsoft.com/en-us/library/ff926074.aspx) (search for LINQ) and it looks like the documentation assumes only the former style exists. :P

[2016-08-19 17:53] vogonistic commented on #57
@quill18 We need you to setup a gitter.im account if we want it integrated with this repo. It requires permissions that only you currently have.

[2016-08-19 17:53] WardBenjamin opened #301 "[Bug] Missing a ton of localizations"
Here's a list of things that I've found so far that aren't localized: Tile Inspector, Selection Panel, all of the Dialog Boxes,

[2016-08-19 17:54] kd7uiy commented on #301
We should have a better default localization. Also, we should probably fall back to another language if one can't be found (English?).

[2016-08-19 17:55] WardBenjamin commented on #301
Currently we do fall back to en_US for localizations.

[2016-08-19 17:55] bjubes commented on #182
To keep things simple, is it possible to say that we accept the Microsoft standard but would allow people to deviate in certain ways (linq and if statements with bracket on the same line)? Or is it better to have just one way?

[2016-08-19 17:57] UnknownSoldier1 commented on #301
What exactly do you mean with tile inspector? The thing on the bottom right? If so, I didn't localize it because I thought it would be a development only feature and it wouldn't make sense to localize something the user won't see. Then the selection panel isn't entirely localized due to missing features. And the dialog boxes should be localized, suprised that they aren't...

[2016-08-19 17:57] WardBenjamin commented on #301
Also, it looks like *some* of the localizations are present for the Selection Panel, but not all, probably because we're falling back to en_US for most of the selections

[2016-08-19 17:57] vogonistic commented on #182
In my experience deviations leads to people changing things just to make it look better to them, which leads to the other group "fixing" it again. If we have one standard we might be able to test for it in in a CI build and auto-reject PR's that don't follow those rules.

[2016-08-19 17:58] WardBenjamin commented on #301
@UnknownSoldier1 Ah, fair enough. I can work on localizing the dialog boxes after I open a pull request to add the introduction dialog.

[2016-08-19 17:59] Mizipzor commented on #182
Indeed, deviations must be avoided whenever possible! Especially for this project.

[2016-08-19 18:01] WardBenjamin commented on #298
I like the tile-based modeling system, and I think it would be cool for heat and radiation. I think we should probably stick with something like the old system for gases, but a high-coefficient version of this system would also work for this if we wanted to consolidate.

[2016-08-19 18:01] Mizipzor commented on #182
@bjubes That has been my main argument all along. Dont spend times on this just pick one well defined set of rules and stick to that. In the contribution file we link to the Microsoft style and list one deviation. Now, there might be more deviations added to that list, even though I dont like it. I'm currently experimenting with listing the entire Microsoft style in brevity, with our deviations in

[2016-08-19 18:02] Kreol-Dev commented on #252
You could just install Unity and use provided IDE (it doesn't force VS on you). Less headache

[2016-08-19 18:04] WardBenjamin opened #302 "Discussion: Gas system revamp."
"A Grand System of Gasses, Leaks and Pumping"

How should we proceed from the room-based solution that we have now, with gases leaking through doors and open airlocks? I've seen several mentions of piping and ventilation systems, CO2 scrubbers, and other interesting things.

(Also see #284)

Discuss!

[2016-08-19 18:06] vogonistic commented on #252
I don't think it's worth changing. The tutorial is about building a game, not new C# tech. If @quill18 decides to move to C# 6, he can certainly force the issue. I just don't think it's worth the extra questions, problems and maintenance for community project like this.

Anyone can use any IDE they want, but it needs to work with Unity and MonoDevelop as it ships.

[2016-08-19 18:10] kd7uiy commented on #302
I was just going to open something about this!

First of all, I think we need a way to operate in a vacuum first, a space suit. Otherwise, it's just not going to be very easy to do anything.

Secondly, gas should be able to move between rooms with open doors, and escape if not properly prepared. An airlock should minimize the gas exchange/escape.

Third, the O2 should slowly be used in a room. If

[2016-08-19 18:15] kd7uiy opened #303 "[Bug, Easy] Allow for upgrading a door to an Airlock."
See https://github.com/TeamPorcupine/ProjectPorcupine/issues/284 .

[2016-08-19 18:20] Sommerbo commented on #302
Gas amount(tile count) should be taken into account when filling a room.

[2016-08-19 18:23] Grenkin1988 commented on #182
Also would be very good to have access modifiers explicitly specified everywhere

[2016-08-19 18:24] Mizipzor commented on #182
@vogonistic I missed your last sentence there, its a great point and I couldnt agree more. But for another reason, though auto checking pull requests is great. I argue that if your rule is not so well defined that it can be expressed in code, then its not clear enough and open to interpretation and should be changed.

[2016-08-19 18:25] WardBenjamin commented on #57
I personally am a huge fan of Discord because it has (optional) voice, multiple text channels, permissions, and a TON of other features that Gitter doesn't have.

Plus Gitter's desktop client is really buggy.

[2016-08-19 18:25] Xeni91 commented on #283
I think new characters should arrive from the "home" planet after a certain Time or a condition is met.
Like build a living area so that new ppl can arrive. They can help with in base jobs(like crafting fueling the generator) but are unable to walk freely outside of the airlock(missing jetpack or something along those lines)

[2016-08-19 18:28] vogonistic commented on #182
@Mizipzor We can test case, whitespace, indentation and case in automagically, but we are never going to be able to test if something is described well, but getting some automatic testing is great and then we are just going to have to have code reviews to catch the rest, like we are trying now.

The further this discussion goes, I'm starting to agree that we should avoid deviations if possible.

@

[2016-08-19 18:29] Xeni91 opened #304 "[Feature] Power Cells"
I would like to implement a new furniture and item.
Specifically a Power cell(idea is the name: Plasma Cell) created from steel and plants.
I don't plan to implement plants yet.
I don't want that the generator runs from nothing so my thought was that at least steel is used.
They pick up steel bring it to the Cell Packager and get a cell.
Would like to hear some opinions.

Edit: Maybe at later stag

[2016-08-19 18:30] WardBenjamin commented on #72
Once @quill18 appoints more maintainers/managers/whatever-he-wants-to-call-them, we can use Github's label system for this.

[2016-08-19 18:30] SteelFall opened #305 "[Low Priority] [Discussion] Cosmetic/Graphics Features"
I realise that cosmetic features are not really at the top of the priority list but I reckon that adding some these features could be good for beginners.

What sort of cosmetic features should we have? How do we want to execute them? Who is working on anything of this sort?
If you are working on or have a PR for any feature that could be classed as cosmetic just drop a comment here and I will add

[2016-08-19 18:31] WardBenjamin commented on #304
Alternatively, we could generate some other kind of material on some asteroids (Uranium, Plutonium, something like that) to construct power cells with.

[2016-08-19 18:31] SteelFall commented on #305
Also feel free to tell me whether or not the labels in the title need changing.

[2016-08-19 18:31] vogonistic commented on #72
It would be nice to be able to use labels. I created a beginner task #300. Let me know if you think the format looks alright, or if you think it's unclear. Do we need people to claim them?

[2016-08-19 18:32] WardBenjamin commented on #283
If we wanted to make it consistent with the story that I came up with in #263, we could find new people through exploration, and find them in their shuttles.

[2016-08-19 18:32] vogonistic commented on #283
Drifters & pirates?

[2016-08-19 18:33] Xeni91 commented on #305
Looks good to me but I think the color of the helmet should stay without color

[2016-08-19 18:34] SteelFall commented on #305
@Xeni91 Thank you for the feedback. I will try to get that done now. :)

[2016-08-19 18:34] Grenkin1988 commented on #182
How about for private filelds use PascalCasing as for propertiels.
And for fields backing properties use PascalCasing starting with v
[code]
I have such standart at work :-)

[2016-08-19 18:34] Xeni91 commented on #304
Yeah but I did not want to start fideling with map generation yet. It is my first C# project.
I only programm in PHP and thats kinda different

[2016-08-19 18:35] vogonistic commented on #305
I feel like soon we will need to be able to switch from a body with a space suite and one without.

[2016-08-19 18:35] WardBenjamin commented on #283
Exactly the idea. Pirates would be a cool addition, but implementation of those should probably be discussed in #213. As far as them as a source of new characters, I'm all for it.

[2016-08-19 18:36] WardBenjamin commented on #72
I would prefer people claimed them so we don't have 5+ duplicate pull requests like we did for the PowerGen localization, but other than that I like it.

[2016-08-19 18:37] Xeni91 commented on #305
@vogonistic yeah like if the derp walk into an airlock and maybe a wardrope or spacesuit refueling station is there

[2016-08-19 18:37] koosemose commented on #302
I think in general room-based is the best approach, as anything smaller scale would likely be too costly for not enough a benefit. @Sommerbo is correct, we need to ensure the roomsize is taken into account when filling it. Ill effects from improper gases in a room shouldn't be implemented until protection from gases (or lack thereof) is available.

A little tightening up is needed on gas leaking,

[2016-08-19 18:37] behindcurtain3 commented on #182
@vogonistic The deviations so far are I think: underscore prefix, not using `var` and possibly LINQ method calls.

[2016-08-19 18:37] vogonistic commented on #305
@Xeni91 That would be fantastic, but right now it could just be something we switch when O2 gets low in the current room. Just a visual difference.

[2016-08-19 18:38] WardBenjamin commented on #304
Remember you don't have to be the one to do everything. :grinning:

Just add the materials and such, and open an issue, and someone else can pick it up if they want!

[2016-08-19 18:38] SteelFall commented on #305
@vogonistic Thank you! Adding that to the OP now.

[2016-08-19 18:40] WardBenjamin commented on #228
Once @quill18 decides who the maintainers/whatever are, they can add issues to milestones. Right now we're generating a bunch of issues and such, and that would be a good way to keep track of them.

[2016-08-19 18:40] SteelFall commented on #305
Looking at the current character sprites, the only change would be the removal of the helmet.

[2016-08-19 18:42] WardBenjamin commented on #302
I personally am all for the O2/CO2 system, but it's not like it couldn't be changed in the future if we want to.

[2016-08-19 18:47] WardBenjamin opened #306 "Discussion: Map Generation"
Right now our map is generated exclusively with Unity's built-in Perlin noise. Perlin is pretty slow, compared to other coherent noise algorithms such as Simplex noise, and isn't really extensible.

I want to change our map generation to use LibNoise, a very nice noise library for C++ which Ricardo Mendez has made into an extremely nice Unity/C# port:  [ricardojmendez/LibNoise.Unity](https://githu

[2016-08-19 18:48] Mizipzor commented on #182
@Grenkin1988 No, that prefix indicates that its a special type of field, as compared to a regular field. This is a case of hungarian notation which is prohibited by the Microsoft standard.

You also open up a can of worms of definitions. What if I use that field for more stuff, like a method that doubles it and returns it. When does the field stop being _only_ a backing field? Or, should this synt

[2016-08-19 18:51] relinu commented on #283
Improved the eventsystem, now it spawns a new character every 30 seconds (can be changed later to what ever precondition)! #270 :D

[2016-08-19 18:54] Grenkin1988 commented on #182
@Mizipzor Actually the reason for v- in front of backing fields is just because without it you backing field would have the same name as it's property. (If use PascalCasing for private fields)

[2016-08-19 18:54] Xeni91 commented on #305
@SteelFall sounds legit

[2016-08-19 18:57] Kreol-Dev commented on #86
I would highly suggest such structure for HTN AI:

Create abstract "Task" class that all tasks would derive. Starting from "TaskType" which adds context, which means specific data the task needs to know to be performed.
For each task type (for example, AcquireItemsInPlace(Item, Place)) you create the subclass of Task,

Each speficic primitive or compound tasks would then derive from task types.

E

[2016-08-19 18:58] SteelFall commented on #305
Well I started on that helmet removal but starting a PR will have to wait until my other PR gets accepted as I might just use some features used there. Alternatively I might change the name and scope of my current PR.

[2016-08-19 18:58] buckeyestudios commented on #306
Yes i was was thinking of a different method of doing this but your way sounds good also. I definitely think we need to have a very BASIC map generation incorporated. But also make it so it can be modded like the rest of the project

[2016-08-19 18:59] WardBenjamin commented on #105
Map Generation: #306

[2016-08-19 19:00] WardBenjamin commented on #33
The wiki has been enabled as per last night!

[2016-08-19 19:01] WardBenjamin commented on #269
Is this fixed with #293?

[2016-08-19 19:02] Mizipzor commented on #182
Ah, I missed that. I was so dead set on using the lower case for fields. I was so sure that that also was the Microsoft standard but I looked it up:

I dont know why it only addresses public and protected fields. But I agree they should be in PascalCase. We might want to clarify this to include private fields.

We also see that prefixes are, again, explicitly forbidden.

[2016-08-19 19:04] Grenkin1988 commented on #182
@Mizipzor But as I said, without prefix property and its back field would have same names :-)

[2016-08-19 19:04] neobonde opened #307 "Unable to remove designation of furniture"
If you accidentally place a bunch of wall designations, you just have to wait till their are done building, loosing all material in the process.

[2016-08-19 19:08] itay347 opened #308 "[Suggestion] Change floor build order to closest first"
When building more than one floor, if you **start dragging** the cursor **far from the character and stop next to him**, **he will walk that whole distance** to the location where you started dragging and then start building.

Here's a gif for example:

![floorbuildorder](https://cloud.githubusercontent.com/assets/15272275/17821034/355c840c-6658-11e6-8b22-158108811a52.gif)

This is obviously a was

[2016-08-19 19:09] kd7uiy commented on #269
No, it's not. Here's an image of the problem that I'm seeing. Note that if you can only pick up, say, 3 steel, it'll pick that up, then dump it at the work site, then go back and pick more up. It's all 1 job, so...

![gif](https://cloud.githubusercontent.com/assets/5951269/17821273/cc3d085e-661e-11e6-8868-2f10893a96e4.gif)

[2016-08-19 19:10] WardBenjamin commented on #182
Note that this says "internal and private fields are not covered by guidelines" so we need our own interpretation. for private fields, whether they "back" a public Property or not, I suggest prefixing with an underscore like @lameox suggested earlier. PascalCasing is good for public interfaces, though.

[2016-08-19 19:10] Mizipzor commented on #182
Only if it is a public field. And its true, a public field is pretty much indistinguishable from a property. I dont know why they choose to simply omit rules for private fields. To me its obvious that it matches the property name but first character in lower case. But I suppose according to Microsoft we can choose whatever we want. Maybe it's even up to whoever made the class (though I disagree wi

[2016-08-19 19:11] kd7uiy commented on #308
The same thing should apply for the walls.

This is even odder when you build the first row outside of the starting room:-)

[2016-08-19 19:12] Mizipzor commented on #182
@WardBenjamin it also says not to use prefixes.

[2016-08-19 19:13] WardBenjamin commented on #269
That's definitely an issue. This could possibly be fixed by having a special-case "furniture" that would act as a stockpile that could hold all of the resources required for a job, as well as having the player be able to hold multiple items.

[2016-08-19 19:14] vogonistic commented on #72
I agree, claiming and then having a moderator assigning the bugs would be good.

[2016-08-19 19:16] WardBenjamin commented on #308
Arguably, this shouldn't be changed because... what if you *want* him to build things in a certain order.

HTN as per #86 would solve this case, because "build floor" would be a goal, and each "build floor tile" job's priority could be set by proximity to player.

[2016-08-19 19:19] WardBenjamin commented on #182
While it does say not to use prefixes, it does say that private fields aren't covered by these rules. We basically have to come up with our own rules for them. It's up for debate :stuck_out_tongue:

[2016-08-19 19:22] Mizipzor commented on #182
And you dont think basing the name on something as flimsy as whether the field is a backing field or not is a good idea? To me its obvious that a field will become or stop being a backing field in a pull request and the name is forgotten to be updated. Because to know who probably have to look at the rest of the class. Which is why is troublesome to enforce. Not to mention if we would want to auto

[2016-08-19 19:28] Fogsight opened #310 "Centralized project management"
I'm new to team project development, but it seems that we could benefit from some kind of project management software, to have some structure and clear, visualized goals. And a way for people to display the thing they are working on, while minimizing conflicts.

Something like this, maybe? : https://www.quora.com/Which-project-management-tools-are-deeply-integrated-with-GitHub

Maybe Quill will al

[2016-08-19 19:28] WardBenjamin commented on #182
I think that's not a good idea, but I do think that *all* private fields should be prefixed like that.

[2016-08-19 19:30] WardBenjamin commented on #310
Related: #226

[2016-08-19 19:30] bjubes commented on #310
Were currently working on better guidelines in #220  but I agree that we eventually need an organized plan for how to proceed building this game, like a queue of features and long term goals.

[2016-08-19 19:31] vogonistic commented on #182
Didn't Quill use lowercase (I mean `camelCase`) names for internal variables and `PascalCase` for public ones? Can't we just stick to that and drop the prefix discussion?

[2016-08-19 19:31] Mizipzor commented on #182
@WardBenjamin At least prefixing _every_ private field is a more rigid rule. :)

[2016-08-19 19:32] Grenkin1988 commented on #182
@vogonistic No, he use camelCase for everything except Properties.

[2016-08-19 19:34] Mizipzor commented on #182
@vogonistic We could, yes. I'm probably one of the few that find this interesting to discuss. :)

The problem with not having a style clearly stated somewhere (anywhere) leads to people suggesting a change in style like [this](https://github.com/TeamPorcupine/ProjectPorcupine/pull/248).

[2016-08-19 19:38] Spool5520 commented on #197
Okay I'll work on it some more and see what I can do

[2016-08-19 19:40] quill18 commented on #252
"Anyone can use any IDE they want, but it needs to work with Unity and MonoDevelop as it ships."

Exactly.  I myself have played with the mod that makes you able to use C# 6.0 in Unity (for nicer threading), but we are targeting vanilla Unity 5.4 here and it's got to compile in a fresh, unmodified install of that.

[2016-08-19 19:40] #252 closed

[2016-08-19 19:45] behindcurtain3 commented on #182
We could go back and forth on prefixes forever. I think what we have in the CONTRIBUTING.md example is good (not perfect but no one will ever agree 100%). It does go against the standard by using prefix but that does have some benefit as well. And there is nothing to say we can't have our own standard modified from Microsoft's.

[2016-08-19 19:51] Grenkin1988 commented on #182
@behindcurtain3

Actually we can :-)  But we do not have time to agree on all cases.

[2016-08-19 19:53] Mizipzor commented on #182
It's true that we should aim at ending this discussion and settle on something. Preferably an existing style with as few deviations as possible. However, a lot of the back and forth in here has been regarding interpretations of the Microsoft style. And if the rules arent clear, whos interpretation wins?

I think I want to again suggest relying on StyleCop, it does claim it enforces the official Mi

[2016-08-19 19:54] FilippoLeon commented on #295
Overlay is in a usable state:
https://github.com/TeamPorcupine/ProjectPorcupine/commit/bd19ca14b39a110990af143aed80d3923148cf4b
Warning: This modifies the scene (we need a dropdown menu and a mesh renderer.

Now: Xml/LUA customizable
Overlays: oxygen and room
Colors: jet and random

Room:
![2](https://cloud.githubusercontent.com/assets/21125139/17822434/63fda06c-6657-11e6-991a-7f237b96cb1f.png)

O

[2016-08-19 19:56] JosephBywater commented on #57
Anyone could make a Discord I suppose (until @quill18 makes a gitter or something)

[2016-08-19 19:58] JosephBywater commented on #57
If anyone wants it, I've setup an unofficial Discord. https://discord.gg/68hkpSA

[2016-08-19 20:00] Ceddini commented on #299
@SanteriHetekivi I have the same problem with the time, since I live in Germany. And I'm currently learning for my drivers license so I don't have a lot of spare time. That being said, if you want to, you can pull from my PR and take my changes. If you write me back with a massage that you did it, i will close my PR. And if you wan't to be the guy for the languages, I would be happy to contribute

[2016-08-19 20:16] lincore81 commented on #300
I've never contributed to a project, I hope this qualifies me as a beginner :~)
https://github.com/TeamPorcupine/ProjectPorcupine/pull/314

[2016-08-19 20:24] vogonistic commented on #300
@lincore81 That's exactly what the beginner tasks exists for! Welcome to the fold. =)

[2016-08-19 20:28] SanteriHetekivi commented on #299
@Ceddini Okay I will merge it to mine.
I work full time and also go to school so I can't be very active. :(

[2016-08-19 20:32] vogonistic commented on #310
I like Waffle.io since it's just an interface on top of github issues. Makes it optional and easy to drop if we decided it's not working for us. Can't start using it without Quill to set it up though. Permissions and stuff.

[2016-08-19 20:36] kd7uiy commented on #307
This could be fixed by having the destroy furniture option also destroy pending builds. I don't think that's a feature yet.

[2016-08-19 20:38] kd7uiy commented on #282
Priorities are set up in https://github.com/TeamPorcupine/ProjectPorcupine/pull/293

[2016-08-19 20:40] bjubes commented on #310
FYI since this is relevant. The wiki is now up, and it is publicly editable.

[2016-08-19 20:43] satch3l commented on #226
Waffle.io was mentioned in #310 and as it is powered by github I think that would be a good choice.

[2016-08-19 20:46] Mizipzor commented on #310
@bjubes And I've already added, and deleted, the code style page. XD

[2016-08-19 21:08] Ceddini commented on #299
**Caution: Wall of text incoming.**

@SanteriHetekivi I have a month of free time (I'm using this for my drivers license) and after that I'm beginning to study computer science. But my main problem is GitHub and Git in general. I don't really know how to use it correctly and fixing conflicts was quite a task for not knowing anything about it.
It would be great if @quill18 could do a very small tut

[2016-08-19 21:09] Xeni91 commented on #304
Made my start with #319. Opions and tips are welcome

[2016-08-19 21:14] quill18 opened #321 "Beta Testing "Gatekeepers""
"Gatekeepers" is a team I just created -- they SHOULD be able to accept Pull Requests.  They SHOULDN'T be able to commit directly to the master branch.

EDIT: Not a team. Teams don't work well AT ALL outside of the organization itself. Which is ridiculous.

I have selected two people somewhat at random from a pool of you I have shortlisted based on your contributions (partially from actual pull re

[2016-08-19 21:18] ComputerOverlord commented on #321
I would join if I could but I can't load Project Porcupine, and even when I do, I get compiler errors.

[2016-08-19 21:19] JosephBywater commented on #321
@ComputerOverlord Is it like this: #67 Also, @quill18 the `@TeamPorcupine/gatekeepers` is broken when I click it (intentional?)

[2016-08-19 21:22] Ceddini commented on #305
@SteelFall I would change your current PR to something like "Character improvements". This helps with the current amount of PRs that Quill has to go through.

[2016-08-19 21:22] vogonistic commented on #321
@JosephBywater The public can't see members in groups, but you should still be able to ping them.

[2016-08-19 21:23] JosephBywater commented on #321
@vogonistic Do you know who's in @TeamPorcupine/gatekeepers ?

[2016-08-19 21:24] bjubes commented on #321
can gatekeepers add labels to pull requests and issues as well? that would be very helpful

[2016-08-19 21:24] vogonistic commented on #321
@JosephBywater No, only @quill18 and the members themselves know it.

[2016-08-19 21:24] JosephBywater commented on #321
@vogonistic Ok :) I can't tag them... @TeamPorcuping/gatekeepers

[2016-08-19 21:25] vogonistic commented on #321
@quill18 It'd be awesome if we have a good spread of timezones so we can get PR's merged all around the clock. Europe, America, Oceania/East Asia for example.

[2016-08-19 21:25] quill18 commented on #321
Okay, that's really, really dumb.  I guess "Teams" are out, then.  I think I can invite people as "Collaborators" and give them write access that way.

[2016-08-19 21:26] JosephBywater opened #322 "Cannot tag @TeamPorcupine/gatekeepers"
I cannot tag @TeamPorcupine/gatekeepers in comments or issues. @quill18

[2016-08-19 21:26] vogonistic commented on #321
@quill18 Can you change so that the public can see the members? Testing ping: @TeamPorcupine/gatekeepers

[2016-08-19 21:26] JosephBywater commented on #321
I'm GB/Europe! :P

[2016-08-19 21:26] vogonistic commented on #321
Ping failed, I'm pretty sure.

[2016-08-19 21:26] #322 closed

[2016-08-19 21:27] JosephBywater commented on #321
@vogonistic Yep

[2016-08-19 21:29] #118 closed

[2016-08-19 21:30] Mizipzor commented on #321
I would like to volunteer. :)

If you've seen my comments, especially those regarding code style you probably think I'm cynical, hah (I'm old). I just think a rigid structure is beneficial. Especially in a project with this velocity.

I will also help people wrangle Git, but I obviously dont need to be a collaborator for that.

[2016-08-19 21:32] SteelFall commented on #305
@Ceddini Ok. Then I will also add a [WIP] after I changed the name.

[2016-08-19 21:34] Dormanil commented on #321
I'd nominate @vogonistic as a collaborator. I think he'd do a pretty well job, as long as we don't get Vogon poetry in the merge comments. ;)

[2016-08-19 21:41] TheAkashicTraveller commented on #310
Looks at all of the UI pull requests, oh hey looks like everyone had the same idea :/ Something like this is needed quite badly to avoid multiple people doing the same thing in different ways.

[2016-08-19 21:48] FilippoLeon opened #324 "Discussion: furniture: add categories?"
As the number of furniture items increases, I wonder if it is the case to add categories and subcategories to the furniture codes.

The xml could look like:
[code]

And move the BaseType to a category.

[2016-08-19 21:49] buckeyestudios commented on #324
I like this idea.. Should be simple

[2016-08-19 21:53] #17 closed

[2016-08-19 21:56] SanteriHetekivi commented on #299
@Ceddini I'm just starting my last half year of Bachelor of Engineering.
I work and have been working been working 8 or more hours per day for last two years in programming, before then in any job I can land and of course in army I worked with computers in Reconnaissance Battery.
I'm working on web applications server sides and on mobile platforms currently.

I mostly program 8 hours for work and

[2016-08-19 21:57] behindcurtain3 commented on #324
This is a good idea, mods should be able to specify their own categories as well.

[2016-08-19 21:58] behindcurtain3 commented on #321
I second @vogonistic and @Mizipzor

[2016-08-19 21:59] SanteriHetekivi commented on #299
Quill merged my PR #169 so I think this can be closed. :)

[2016-08-19 22:00] #300 closed

[2016-08-19 22:07] SanteriHetekivi commented on #299
All but #236 are closed or merged and #236 contains conflicts.

[2016-08-19 22:09] FilippoLeon commented on #298
If interested, I will work on the branch https://github.com/FilippoLeon/ProjectPorcupine/tree/temperature_system

[2016-08-19 22:09] vogonistic commented on #321
@Dormanil @JosephBywater I never got the hang of poetry, could barely harm a fellow with it! I'm stick to what I'm good at: smashing delicate creatures with mallets.

@quill18 I think you could probably spend a couple of hours talking about what the git tree looks like so that people understand the difference between `upstream`, `origin` and the 3 potential versions of `master`. It's hard to captu

[2016-08-19 22:12] kd7uiy opened #326 "[Bug, easy] Doors don't update direction if neighbor walls finish after the door is built"
![gif](https://cloud.githubusercontent.com/assets/5951269/17825727/7d32eac0-6638-11e6-8387-7edcb2b276ba.gif)

[2016-08-19 22:19] kd7uiy commented on #283
The respawning periodically is interesting, but in general I think something more deliberate would be best. Either a building or a pre-condition being met.

[2016-08-19 22:22] #276 closed

[2016-08-19 22:23] kd7uiy commented on #273
So, it does show an icon, it's just very difficult to see. I propose we change it to something a bit more visible.

[2016-08-19 22:24] kd7uiy commented on #261
It's probably okay to do this, but it shouldn't put resources inside the wall.

[2016-08-19 22:25] relinu commented on #283
yeah its definitely improvable, if you have a better idea you can change the lua code ^^

[2016-08-19 22:27] vogonistic commented on #321
@quill18 Collaborators can't currently accept pull requests:

[2016-08-19 22:27] vogonistic commented on #321
Btw @Dormanil @behindcurtain3 I really appreciate the nominations!

[2016-08-19 22:31] ghost opened #327 "the last commit"
is anyone having problem if they do a fresh fork??
Script references missing... having to rebuild asset database???

[2016-08-19 22:32] vogonistic commented on #261
That's why the ship isn't working very well anymore ;)

[2016-08-19 22:32] GamerInspired commented on #321
I also nominate @vogonistic

[2016-08-19 22:34] vogonistic commented on #327
Whenever Unity notices that there are files that doesn't match the database/cache, it'll have to rebuild it. Unfortunately, this will happen whenever you pull in the upstream master or switch branches.

[2016-08-19 22:35] SteelFall commented on #321
+1 nomination for @vogonistic

[2016-08-19 22:38] ComputerOverlord commented on #321
@JosephBywater it's like this
![screenshot 1](https://cloud.githubusercontent.com/assets/21087045/17826157/de66cdfe-6622-11e6-9176-9a115e58589a.png)

[2016-08-19 22:40] vogonistic commented on #321
@GamerInspired @SteelFall You guys are awesome =)

I've actually received an invitation from @quill18. So until I lose them, I wield the amazing powers of.. well, labeling issues for now, but I think later also merge PR's.

Really, really appreciate the nominations and I think that ProjectPorcupine will become something amazing with all the support you guys are pouring in it. =)

[2016-08-19 22:41] bjubes commented on #321
@vogonistic  haha get busy labeling!!

[2016-08-19 22:41] vogonistic commented on #321
@ComputerOverlord Accidentally posted to the wrong issue? What's going on?

[2016-08-19 22:42] vogonistic commented on #327
Do you have to manually rebuild it, or are you talking about the automatic rebuild?

[2016-08-19 22:44] bjubes commented on #321
@vogonistic can u add a beginner/easy tag if you have that power?

[2016-08-19 22:45] vogonistic commented on #324
Question is the closest label I have right now. We'll get a `discussion` created sooner or later.

It'd probably be better if the category and subcategory is described inside the `Furniture` tag so that changing either is just a single line change. We can sort them either way in memory.

Is a single category and subcategory enough? What exactly are they describing?

[2016-08-19 22:46] bjubes commented on #306
whats the difference between perlin and the others? I know that most games use perlin (even minecraft, which has biomes and more) without issue. Plus if we use perlin, we can use the system.random class and seed it so that a seed  will yield identical terrain across every install.

[2016-08-19 22:47] vogonistic commented on #321
Unfortunately I can't.

@quill18 Can you create the tags `beginner` and `discussion` for now?

[2016-08-19 22:48] ComputerOverlord commented on #321
@vogonistic Nope.

[2016-08-19 22:48] Mizipzor commented on #86
Should we get the ball rolling on this? For this game, this system is probably by far the most important one. I see no problem with multiple approaches being worked on by different people as we investigate. Can I help? :)

[2016-08-19 22:48] Fogsight commented on #321
@ComputerOverlord I think you're using older Unity version.

[2016-08-19 22:49] ComputerOverlord commented on #321
Makes sense

[2016-08-19 22:49] JosephBywater commented on #321
@ComputerOverlord you need 5.4 if it helps.

[2016-08-19 22:50] Mizipzor commented on #321
With all due respect, I think this got a bit off topic. :) Maybe create a new issue?

[2016-08-19 22:50] relinu commented on #306
at the moment worldgenerator uses the unity mathf.perlinnoise but libnoise perlinnoise would be an improvement because you can add modules and can get a much better terrain also u can set a seed and dont need to use my temporary "fix"

[2016-08-19 22:50] kd7uiy commented on #86
I've got a very primitive version of this going, it allows each job to set a priority, which adds it to a queue. It should be approved soon, I had to merge it, but Quill otherwise liked it. I fixed the build, and hopefully he'll pull it in to the master build soon.

[2016-08-19 22:51] ComputerOverlord commented on #321
@JosephBywater I just looked up update. It's installing right now.

[2016-08-19 22:52] ComputerOverlord commented on #321
I sign up for Gatekeepers.

[2016-08-19 22:53] vogonistic commented on #86
This is going to be a habit of mine, I'm sure, but I'm going to quote Quill from the Gatekeeper post #321:

This system, regardless of GOAP vs HTN, will be very complicated. Does someone want to build a small model of it decoupled from the game? A couple of classes that does the right thing in an ideal circumstance without integration to World? We could have people build a couple of these, or coll

[2016-08-19 22:54] DevOrc commented on #326
does anyone know where the door rotation code is at?

[2016-08-19 22:55] relinu commented on #327
the only "error" i am getting is that after opening unity  there are a lot of new meta files generated for the languages files

[2016-08-19 22:55] kd7uiy commented on #326
It's a good exercise to find it. I could trace it down, but quite frankly, that's 90% of the effort, figuring out where a bug is. The first contribution I had here was very similar, a 1 line of code change, but quite a while to track it down.

[2016-08-19 22:56] bjubes opened #328 "Discussion: Repository Bloat and git LFS"
As more UI elements and furniture are added, the repo will grow in size storing all of the binary files for images, sound, and other assets. This is not a problem now, but I can foresee it sneaking up on us if we don't start discussing how to address it.

One solution, that I think is quite elegant, is [Git Large File Storage (LFS).](https://git-lfs.github.com/). It replaces all binary files on th

[2016-08-19 22:57] vogonistic commented on #321
@ComputerOverlord Please create a new issue for the problem with getting ProjectPorcupine running and we'll help you.

As for the Gatekeepers, I'm sure Quill has seen that you volunteered now. At this point the best thing you can do to help yourself become one is to participate in the issues and PR's. Make awesome things and help others do the same. That way you'll look like a great choice when he

[2016-08-19 22:58] ComputerOverlord commented on #321
@vogonistic I fixed it... I hope.

[2016-08-19 22:59] quill18 commented on #141
Added: lua / c# / modding / git / for beginners / high priority   -- many of the others are available by default.

Annoyed that Github doesn't allow users to self-label their posts. I get the logic, but I think the wins would be bigger than the losses.  Oh well.

Perhaps people can tag their posts with a desired label in [square brackets] and Collaborators can update the posts as appropriate (assu

[2016-08-19 22:59] #141 closed

[2016-08-19 22:59] vogonistic commented on #326
For beginner bugs, I think it's fair to give people a start on how to search. For someone new to the project that hasn't watched all the tutorials, it's not that easy to know the layout.

[2016-08-19 23:01] kd7uiy commented on #326
Fair enough. It's either going to be in the Furniture Sprite Controller, or in the Lua code relating to the door, at least I would guess. That's at least where I would start looking for it.

[2016-08-19 23:03] kd7uiy commented on #86
The best way to do any such task is to break it in to parts. That's part of why I pushed my primitive improvement, it's better than what's there, and it is starting the conversation to come up with the right questions to ask.

[2016-08-19 23:06] vogonistic commented on #328
I believe that git-lfs is included by default in the Github Desktop apps, but someone will have to verify. Do you know for sure that `git lfs install` works in `git bash` on Windows?

[2016-08-19 23:12] vogonistic commented on #306
ProjectPorcupine is GPL and LibNoise is LGPL. Can someone verify their compatibility?

[2016-08-19 23:12] GamerInspired commented on #324
I think this would be very useful if there was a search feature in game at a later date, so if you wanted to look for all power generates you could and it would display a list of them.

[2016-08-19 23:12] #164 closed

[2016-08-19 23:12] buckeyestudios commented on #327
i get 45 meta file which im not worried about but some Game Objects cant find references to scripts witch i am worried about

[2016-08-19 23:17] vogonistic commented on #86
@Kreol-Dev What version of Unity are you using? The system sounds pretty awesome.

@kd7uiy What do you think should be done first?

@NogginBops Which direction are you leaning now with the implementation? Started working on something?

[2016-08-19 23:17] relinu commented on #327
in your project window (where you can see the assets) right-click and do a reimport

[2016-08-19 23:20] kd7uiy commented on #282
Closed as the Priorities for a job are now pulled in.

[2016-08-19 23:20] #282 closed

[2016-08-19 23:22] vogonistic commented on #326
@DevOrc Are you working on this bug?

[2016-08-19 23:27] vogonistic commented on #308
@itay347 It's definitely something that doesn't look right, but @WardBenjamin is correct that It's a known issue that will be fixed in #86.

I'm going to close this issue and add a comment on #86.

[2016-08-19 23:27] #308 closed

[2016-08-19 23:29] ComputerOverlord opened #331 "Multi-character optimization"
We know from #270 #253 that many characters slows down the game

[2016-08-19 23:30] vogonistic commented on #86
I added a goal to the bottom of the top post in this issue, to capture issue #308 by @itay347.

We should probably expand the goals further.

[2016-08-19 23:32] koosemose commented on #328
Running `git lfs` in the git shell opened from GitHub desktop returns a help message for git lfs, so looks like it is in fact installed by default, as I haven't installed anything into it.

[2016-08-19 23:35] koosemose commented on #326
PR #251 is supposed to fix this (along with several related things) but currently has conflicts.

[2016-08-19 23:37] kd7uiy commented on #326
Good catch, sigh, all of the good bugs seem to have a commit to fix it already, or at least something close to it.

[2016-08-19 23:38] DevOrc commented on #326
yes, I am working on this

[2016-08-19 23:40] kd7uiy commented on #326
This is a duplicate. Closing.

[2016-08-19 23:40] #326 closed

[2016-08-19 23:41] kd7uiy commented on #331
Some of this is log spam, which will be reduced when my latest PR gets pulled in to the fray. That won't fix all of it, unfortunately. I think pathfinding is the major source of slowdown, in particular the fact that it seems to be re-done every turn. There's an issue report somewhere here about that.

Bottom line, this is closely related to the following:

https://github.com/TeamPorcupine/ProjectP

[2016-08-19 23:42] henninglive commented on #331
Maybe disable auto spawning of new characters for now.

[2016-08-19 23:46] Dormanil commented on #328
Meanwhile trying to install git-lfs on Ubuntu on Windows fails with these messages:

[code]

Trying to run `git lfs install` ANYWAY results in this:

[code]

And yes, I probably _could_ just use git bash, but I wanted to use _real_ bash instead.

[2016-08-19 23:47] ComputerOverlord opened #332 "[LOW PRIORITY] Trading system"
You get KR from completing missions (you start with a KR Distribution Client furniture) you use it to buy stuff (but you can't sell stuff) and You can hack for more credits. Let me make a list.

- [ ] Add KR
- [ ] Add Hacker Terminal
- [ ] Add KRDC

[2016-08-19 23:51] vogonistic commented on #328
@Dormanil Not sure if Ubuntu on Windows support is enough to hold this discussion up. =) Can you let us know if you figure out a solution for it?

[2016-08-19 23:52] Dormanil commented on #328
I will do my very best, @vogonistic.

[2016-08-19 23:52] koosemose commented on #331
Yeah PR #250 fixes one of the major causes of this, though until quill is able to get a team that can accept PRs it may take a bit before it comes to his attention and is accepted.

[2016-08-19 23:55] relinu commented on #331
I will limit the amount of repeats a gameevent can have

[2016-08-19 23:58] kd7uiy commented on #331
I just pinged quill to get him to prioritize #250 , so let's hope that works. It might help if others join in that? Also, we should prioritize the various logspam ones, which will help.

Finally, the maximum number of characters should probably be re-thought, or at least, how often they spawn.

[2016-08-19 23:59] kd7uiy commented on #327
The meta files were missing, but they were included by mistake when I pushed my changes and did a merge without paying careful attention to what else I was adding... In any case, update and I suspect this will go away.

[2016-08-20 00:00] kd7uiy commented on #177
The best way to do this I believe is to save jobs when saving. I think the job system is going to undergo some re-work, it already is, so it might be better to hold off on this one for a while.

[2016-08-20 00:01] kd7uiy commented on #278
I've seen this happen occasionally myself, it'd be good to track this one down.

[2016-08-20 00:19] Dormanil commented on #328
Bad news for everyone using the Windows Subsystem for Linux, Bash on Ubuntu on Windows or whatever you want to call it.

Support for the `waitid` system call (which git-lfs apparently needs) is not yet implemented by the guys over at Microsoft.

[2016-08-20 00:20] koosemose commented on #331
#250 has been committed, take a look to see if that fixes, or at least reduces the issues. My GitHub Desktop is having fits over some files so I can't at the moment.

[2016-08-20 00:24] kd7uiy commented on #331
Sadly I still see lots of log spam... Sigh. Just the A* pathfinding, but...

[2016-08-20 00:28] kd7uiy opened #335 "Strange building patterns with multiple characters"
![gif](https://cloud.githubusercontent.com/assets/5951269/17827464/6931ce98-664b-11e6-96a3-a0cfaf5adea1.gif)

There's a lot of weird stuff that I see, like gaps in building holes, characters jumping over each other, and generally wasted time. I suspect this will have to wait until the AI system is improved for resolution, but I wanted to get it out there.

[2016-08-20 00:31] kd7uiy commented on #331
Confirmed the reduced log spam!

[2016-08-20 00:32] kd7uiy commented on #246
This issue was resolved, it looks much better. Recommend closing.

[2016-08-20 00:35] #246 closed

[2016-08-20 00:39] kd7uiy opened #336 "Pathfinding really slow"
The pathfinding algorithm is really slow if beyond around 20 tiles. This is happening quite frequently with large projects, and multiple characters. We really need to come up with a better system to make this work.

[2016-08-20 00:41] bjubes commented on #328
Sorry didn't clarify. You have to download one file from the link I originally posted. Follow the directions on the website

[2016-08-20 00:41] kd7uiy commented on #336
![gif](https://cloud.githubusercontent.com/assets/5951269/17827590/3ecdb214-664d-11e6-996e-5e705728e1cb.gif)

Note that after a wall is built there is a noticable lag in the game, every time.

[2016-08-20 00:42] bjubes commented on #328
And I have tested it with unity on both Mac and Windows and it works very well from my experience

[2016-08-20 00:42] koosemose commented on #331
Well, it's better than it was, but there's still a massive slowdown anytime a long-distance pathfinding is done, which is going to happen more often the more characters there are. Pathfinding code certainly needs optimized.

[2016-08-20 00:46] FilippoLeon commented on #336
Is this only happening when there is no path, or it's constantly laggy?

[2016-08-20 00:52] kd7uiy commented on #336
There is a path, it's just a long path.

No path is also really laggy, but that's another issue.

[2016-08-20 01:04] kd7uiy opened #339 "Metal Smelter- Don't steal from one to give to another one"
![gif](https://cloud.githubusercontent.com/assets/5951269/17827755/86c71ba2-6650-11e6-9854-2b5ff2cffd4c.gif)

[2016-08-20 01:06] FilippoLeon commented on #336
I've noticed that sometimes there is a spam of logging messages relative to the pathfindig. There, I noticed the lag. It that it or there is something else?

In any case: we should build a graph of rooms: will help pathfinding from far away and no path issues.

[2016-08-20 01:07] kd7uiy commented on #336
The latest version improves that considerably, leaving only a single log for each pathfinding event. What I show is just due to that lag.

[2016-08-20 01:13] vogonistic commented on #336
When a wall is built, all the path finding nodes and edges are rebuilt. All the 10k edges and 7k nodes.

This could obviously be optimized, but I'm the most excited about per-room path finding. That combined with some optimization to only update part of the graph will be way faster.

[2016-08-20 01:13] kd7uiy commented on #336
I will add that if there is no object of that type in existence, the pathfinding is PAINFULLY slow, far beyond this.

[2016-08-20 01:14] vogonistic commented on #339
Best bug today! I love it! :D

[2016-08-20 01:16] FilippoLeon commented on #336
Why do we need a separate graph for A* anyways? Can't we just use the underlying function GetNeighbours "within" the algorithm itself?

[2016-08-20 01:20] WardBenjamin commented on #339
Nice! :P

[2016-08-20 01:20] kd7uiy commented on #339
Considering how many bugs I've reported today, that says a lot!

[2016-08-20 01:21] vogonistic commented on #336
@kd7uiy That should have been fixed, but maybe you've found a new condition that triggers it. It'd be an awesome bug to find the cause for.

@FilippoLeon If you prebuilt it, the path finding is faster. It just depends on how often you have to rebuild it. Consider the current implementation a first to get us going.

[2016-08-20 01:23] kd7uiy commented on #336
@vogonistic I only wish I could. Unfortunately I have almost no time left to be working on this, for quite a while...

[2016-08-20 01:23] vogonistic commented on #336
When we have per-room path finding, we might do as you say for open space, @FilippoLeon

[2016-08-20 01:30] FilippoLeon commented on #336
You think is not more efficient if there are many "blockers"?

Essentially, where the graph is used in A* is in:
`foreach (Path_Edge<Tile> edge_neighbor in current.edges)`

could be replaced by something like:
[code]
There is a bit of redundancy, but most of the times, there is no blocking. Hence there is not that much overhead.

[2016-08-20 01:32] vogonistic commented on #336
@kd7uiy Hopefully you'll just be busy for a while. You've been doing a great job here.

[2016-08-20 01:35] kd7uiy commented on #336
@vogonistic Just for a week or so. Problem is, this game is causing me to slack on the one that I'm making, that uses some of the same principals from this game... Sigh. You can take a look at what I've done if you like, http://www.kd7uiy.com

[2016-08-20 01:35] vogonistic commented on #336
@FilippoLeon You might be right. Want to give changing it an attempt?

[2016-08-20 01:35] koosemose commented on #339
HAH! Though I would love to see, at some point in time in the future, the possibility of a character with some kind of trait (perhaps Lazy, Greedy, or Thief) where they will gladly take materials someone else has reserved for a job to do their own, if it's closer than any other resource of that type.

[2016-08-20 01:37] WardBenjamin commented on #321
I volunteer.... as tribute?

My summer job is just about to end, so even with school coming up I should have a ton more time for this project. I'm also way more motivated to work on super-active projects with other people, like this one, so it's a win-win :P

[2016-08-20 01:39] FilippoLeon commented on #336
I could try, I'll make the changes over https://github.com/TeamPorcupine/ProjectPorcupine/pull/343.

The thing is that the profiler is not clear about where exactly the bottleneck is.

[2016-08-20 01:43] WardBenjamin commented on #306
LGPL is less restrictive than GPL, @vogonistic, so we should be good (it actually says something along those lines in our license file, iirc).

A little more detail about how LibNoise works for @bjubes:

You can either use Perlin or Simplex noise as the underlying algorithm, and both can be seeded like you mentioned. LibNoise has the advantage of 1) being able to use the faster Simplex noise and 2

[2016-08-20 01:55] kd7uiy opened #345 "Raycast showing a slowdown"
![capture](https://cloud.githubusercontent.com/assets/5951269/17828142/53da474e-6657-11e6-82bb-44f5cf37a935.PNG)

Slightly related, the Lua code in Furniture processing can take a while. I can't figure out what it means from the profiler, but I suspect it is the A* pathfinding issue discussed elsewhere.

[2016-08-20 02:26] WardBenjamin commented on #328
I do like this idea, but I'd argue that we should use a git submodule instead of LFS. LFS is meant to be just that, large file storage, and mostly used for super huge assets (video, etc), and things like binaries of projects. Having a submodule for art and such would introduce a bit of complexity, but I don't think any more than using LFS would.

[2016-08-20 02:30] WardBenjamin commented on #336
Okay, so this is something that I'm going to put some time into in the next few days. I'd like to implement Jump Point Search as well as multithreading *all of the pathfinding* :P

I know that Unity has some issues with it's API being non-thread-safe, but I have a solution to that that should work well, based off of something I read a while ago.

[2016-08-20 02:34] FilippoLeon commented on #336
Was about to write about concurrency! :) If you manage to do it, then it would solve many problems.

[2016-08-20 02:46] #294 closed

[2016-08-20 02:48] kd7uiy commented on #278
Bottom line, at the location listed, one should add a check to see if it's null before running the check. If it's null, do something sensible. I don't have the time to fix it, but this would be a good easy fix for someone to do.

[2016-08-20 02:55] vogonistic commented on #336
@kd7uiy I'm sure we'll see you around here. Good luck with the game.

@FilippoLeon Have you timed it? Obviously faster to build walls, but what about pathfinding?

[2016-08-20 03:38] vogonistic commented on #284
Closing this since we've created two other issues for managing the actions.

[2016-08-20 03:38] #284 closed

[2016-08-20 03:43] vogonistic commented on #303
Beginner tip: Doors can already replace Walls.

[2016-08-20 03:58] quill18 commented on #321
@WardBenjamin You were already volunteered by me, before I even posted this Issue.  Have you tried merging any PRs?

[2016-08-20 04:01] quill18 commented on #321
@vogonistic You *have* write access -- is that really not letting merge PR's? That would be terrible.

![screen shot 2016-08-20 at 12 00 20 am](https://cloud.githubusercontent.com/assets/777633/17828768/2237e946-6669-11e6-8862-ccfde50043b3.png)

[2016-08-20 04:03] vogonistic commented on #321
I saw the notification that I now have write access, just can't figure out to what. This is what I see.

<img width="772" alt="screen shot 2016-08-19 at 21 02 13" src="https://cloud.githubusercontent.com/assets/159568/17828787/44c6bb9a-6650-11e6-9261-936a18ad1845.png">

[2016-08-20 04:07] quill18 commented on #321
@vogonistic Try accepting the organization team request and then see

[2016-08-20 04:10] vogonistic commented on #321
@quill18 I did, and verified that I'm listed in the organization, yet I still see that same graphics. Let me try a couple of things.

[2016-08-20 04:12] quill18 commented on #321
Seriously, Github, WTF?

[2016-08-20 04:13] vogonistic commented on #321
@quill18 Can you verify that protected branches is turned off? https://help.github.com/articles/configuring-protected-branches/

[2016-08-20 04:13] quill18 commented on #321
I **just** turned it off.  Try it now.

[2016-08-20 04:14] quill18 commented on #321
The way I understood it, you couldn't make a `git push` to a protected branch, but I assumed you could still accept a pull request. But maybe not.

[2016-08-20 04:14] vogonistic commented on #321
Boom! Now I have a merge button.

[2016-08-20 04:15] vogonistic commented on #321
I think you are right, but it might not work the way we think if you don't have any status checks configured (Like CI builds or syntax checks).

[2016-08-20 04:16] quill18 commented on #321
Well, that's good -- but I wish Github had more granular permission options.

[2016-08-20 04:17] vogonistic commented on #321
Do you want to try out Collaborator again? I'm pretty sure this was the issue.

[2016-08-20 04:18] quill18 commented on #321
Organization team deleted once more. You are still a collaborator on the project.

[2016-08-20 04:19] vogonistic commented on #321
I still have merge. Awesome! I wish they could have told me "You can't merge, because the branch is protected..."

[2016-08-20 04:20] quill18 commented on #321
Informative error messages are for the weak.

[2016-08-20 04:22] RodRitter commented on #321
Awesome, this is great news.

[2016-08-20 04:45] RodRitter commented on #339
@koosemose That's a very interesting concept

[2016-08-20 05:32] bjubes commented on #321
So are they going to be any more gatekeepers for now?

[2016-08-20 05:35] bjubes commented on #328
I think that a sub module would be an equally good solution, so long that it can integrate well with our workflow and prevents repo bloat

[2016-08-20 05:56] Grenkin1988 opened #351 "Discussion: World as Singletone"
Several times on video @quill18 said that probably World should be Singleton.
I would try to do it.

[2016-08-20 05:58] Kreol-Dev commented on #86
@vogonistic 5.3, as with my other projects

[2016-08-20 06:01] vogonistic commented on #351
It might not be a true singleton right now, but effectively it's pretty much there with `World.current`. Any particular benefit you are looking for?

I've been thinking that the map should be decoupled so that we could switch between locations.

[2016-08-20 06:05] Grenkin1988 commented on #351
Initial goal was to protect `World` from anybody chaging `World.current`.
Or in long run we are aiming on several worlds?

[2016-08-20 06:11] vogonistic commented on #351
I don't think it's been discussed. I would like to. It gives the game something extra that other games haven't had.

[2016-08-20 06:12] vogonistic commented on #351
I don't think dealing with the world as a singleton is going to be the hardest part about that though. We'd probably keep the world as singleton, just remove the tile data and put that in `Map` something like that. It's a problem for another day though.

[2016-08-20 06:16] Grenkin1988 commented on #351
OK. Than I am going to do `World` as singleton and split World/Map in different classes

[2016-08-20 06:18] vogonistic commented on #351
I think you are going to dislike the second part of it. The pathfinding, tiles and furniture all use `World.current` to then ask for tile information.

If you take on the task, make sure it's two different PR's.

[2016-08-20 06:20] Grenkin1988 commented on #351
OK

[2016-08-20 06:26] Bananenspin opened #352 "Random.InitState error after fresh pull."
After pulling the latest files from the repo, unity is telling me the following making it so i cant compile.

`Assets/Scripts/Models/WorldGenerator.cs(18,16): error CS0117: `UnityEngine.Random' does not contain a definition for `InitState'
`

[2016-08-20 06:27] vogonistic opened #353 "Discussion: Multiple map locations"
With the grand exception is Dwarf Fortress that has z-levels, most tile based games only have a single map and location.

I suggest we decouple the tiles and map data from our World object so that we can have multiple locations.

All locations would run their simulations all the time, but we only show one. It will allow our brave and probably soon to be dead (space-dysentery?) crew to embark on mi

[2016-08-20 06:27] vogonistic commented on #351
I started a discussion in #353

[2016-08-20 06:34] vogonistic commented on #352
I've been merging pull requests until very recently, can you make sure you are still on the latest?

If it's still a problem, what version of Unity are you on and have you been able to run it before?

[2016-08-20 06:44] jamzam90 opened #354 "Discussion: Escape menu work and moving buttons around"
As i'm working on the GUI I'd like some input from the rest of you on where things should be moved to.
Currently the New world, Save/load, pathing test and the lang selection in my opinion should all be moved into and escape menu as you really don't need them cluttering up the game ui while playing.
Pathing test would get disabled later as well.

[2016-08-20 06:54] Bananenspin commented on #352
Yes i've deleted and re-pulled a few times now so i should be on the latest. Im on version 5.3.5f1 of Unity and no i have not been able to run it before. My first time trying was last night before going to bed, and i just figured ill try again this morning.

Whats happening:
1) Im pulling from the repo
2) I open the project in Unity
3) Unity crashes on me while its trying to import small assests.

[2016-08-20 07:02] SanteriHetekivi commented on #299
Now all are closed or merged.

[2016-08-20 07:02] Tritaris commented on #352
Random.InitState() was added in Unity5.4 you'll have to update if you want to contribute to the project. If you want to clear it out just to mess around you can use `Random.seed = seed;` instead of `Random.InitState(seed)`

[2016-08-20 07:04] fre-ber commented on #353
Sounds like a good idea to me. In my project I have no World class, instead my GameController singleton has a SiteManager that can keep track of several Site objects and I guess that the Site class is more or less equivalent to the World class here.

[2016-08-20 07:06] koosemose commented on #353
I suppose the question is, "What does it add to gameplay?" Obviously we don't want to just add multiple maps solely because it's different, it needs to add something to gameplay.

Just a few thoughts to discuss to get things going: I assume we don't just want multiple "space" maps as that would be little more than an alternative way to achieve a bigger map, and doesn't really add all that much. Be

[2016-08-20 07:08] koosemose commented on #354
Would it be feasible to have the menu togglable to always on? Especially if something like the mockup someone put up a day or two ago with small little image icons that take up a lot less room is used. I know I for one would like the option to have save and load in particular be right there and easily accessible, but obviously not everyone wants that.

[2016-08-20 07:10] Grenkin1988 commented on #351
As I see right now `World` is nearly just map of all kind of objects.
And with serilization we could not get rid off public constructers...
So.... probably I could not make it Singletone right now :-(

[2016-08-20 07:11] fre-ber commented on #353
I think that it would be cool to be able to set up multiple space stations in different locations around the solar system - different planets will have different types of resources and rather than shipping the raw ores back to the main base, you build a local refineries and just ship the enriched materials or even finished goods.

[2016-08-20 07:14] Bananenspin commented on #352
Look at me not knewing 5.4 was out after been away on vacation... The updater in Unity itself say's i had the latest version. After updating it works fine thanks!

[2016-08-20 07:15] #352 closed

[2016-08-20 07:16] jamzam90 commented on #354
With the way im doing it currently pressing the escape button triggers isModal to turn to true so i dont need to add my own bools to do it heres a screen shot`

![menuscreen](https://cloud.githubusercontent.com/assets/4957600/17829666/3749151a-666b-11e6-85e1-c9dc1e040ac4.png)
`

[2016-08-20 07:17] Tritaris commented on #275
I setup a basic system for displaying a power status icon on furniture that consumes power in PR #350 .

![1a](https://cloud.githubusercontent.com/assets/282954/17829536/8e3f551e-667f-11e6-9e3e-1adbc982cf49.png)
![2a](https://cloud.githubusercontent.com/assets/282954/17829537/8e532f3a-667f-11e6-9b44-e046661f21b0.png)

[2016-08-20 07:49] koosemose commented on #354
Yeah, that's a pretty good middle ground. Though at some point we have to look into how were going to handle Kevin's in the long run.

[2016-08-20 07:52] jamzam90 commented on #354
So ctrl+s for saving and ctrl+l for loading, also should the keybind act as a quick save? So that the save window doesnt show up.

[2016-08-20 07:58] Mizipzor commented on #336
I had started a branch that makes path finding be done on a separate thread. Now I found this thread and I'm not sure if I should continue, I don't want to step on any toes. Should I proceed?

[2016-08-20 08:13] koosemose commented on #354
I'm thinking for now, probably not. It would probably be better to do anything beyond the basics in a PR dedicated to the whole keyboard thing.

[2016-08-20 08:15] satch3l opened #357 "[Suggestion] Remove visible grid"
I suggest we get rid of the visible grid for a less chess board look.

[2016-08-20 08:16] nsfranklin opened #358 "Localization Localization"
Probably rather straight forward but the localisation needs Localising. However do we want the name of all the languages to be in the selected language or do we want them always in the language that it is. I prefer the language that it is.

[2016-08-20 08:25] Kreol-Dev opened #359 "[Suggestion] Use AssetBundles with new scenes for additional UI and animations"
Most of modders anyway would need to set up some sort of DE, so it might be natural to use Unity.

That way, if we'd have a system to load AssetBundles and scenes from them, we could have a normal UI system with visual creation instead of implementing some codedriven one.

Same goes for animations and sprites, it might be better to use ABs instead of custom file formats, etc.

This bundles can als

[2016-08-20 08:31] Mizipzor opened #360 "StyleCop SA1122"
Since the StyleCop settings were merged I'm going to start maintaining that settings file and discuss the options as the become relevant. It should also be noted that StyleCop is in no way required, it's only a bonus for those that use it. Rules can be turned off if we dont agree with them.

Here is one rule I disagree with:

`return ""; // SA1122: CSharp.Readability: Use tring.Empty rather than "

[2016-08-20 08:40] koosemose commented on #358
It definitely seems each language being translated to itself would be best, since if you accidentally change languages (or need to change from the default) there is no guarantee you will recognize your own language in that language.

[2016-08-20 08:47] FilippoLeon commented on #336
@vogonistic Is very hard to time consistently, but it seems a wee bit less laggy. Anybody else tested it?

@Mizipzor @WardBenjamin imho, you two should have a shared branch and work together. It's a huge task and sure there is plenty to do for both.

[2016-08-20 09:12] Grenkin1988 opened #364 "[Bug] Localization issue"
We probably need more than just:
[code]
At some languages this could not be just biuld + name. (Ukrainian, Russian)
Maybe we need also?
[code]

[2016-08-20 09:21] Mizipzor commented on #336
@WardBenjamin I think we are in different time zones so I assume it might take a while before I hear from you. I'm gonna go ahead and try to thread the path finding and you can do the jump point thing or improve pathing in general (the actual algorithm shouldnt be changed by my stuff). How does that sound? Should also be noted that I haven't started yet, I might give up. ^^

[2016-08-20 09:23] FilippoLeon commented on #336
There is also:

[2016-08-20 09:40] Mizipzor commented on #336
Alright. I'll base my stuff in #343. Any ideas on setting up some kind of test bed to test the performance of different path finding approaches? Maybe a different scene. Maybe that would be a good beginner task.

[2016-08-20 09:43] Mizipzor opened #369 "[Beginner] Setup test scene"
We need a way to test stuff that might be difficult to setup in the regular game. Specifically, we want a way to run many, many path finding queries to test performance.

This is most likely easiest to do as a new separate scene and would make for a good introduction to some of the basic part of the game.

But if you prefer to do it as a new game object with a special controller that could easily

[2016-08-20 09:53] FilippoLeon commented on #369
What about a save game? We could a series of save games that are always listed in load, and are never cancelled (some sort of scenarios?)

Relevant to https://github.com/TeamPorcupine/ProjectPorcupine/issues/336.

[2016-08-20 10:02] koosemose commented on #307
Would this perhaps be a beginner worthy bugfix?

[2016-08-20 10:02] lameox commented on #360
I think you are right in disagreeing with the rule. I feel string.Empty is more readable

[2016-08-20 10:03] Mizipzor commented on #360
Wait, I think we disagree then. Maybe I was unclear. But you **do** prefer `string.Empty` over `""`, correct? You Agree with StyleCop?

[2016-08-20 10:04] gunthergun commented on #324
I agree with @vogonistic ... The UI could also then sort by category only showing the objects of a category as it is getting already a little full.

[2016-08-20 10:04] FilippoLeon opened #371 "[Bug] ? Character is not MoonsharpUserData"
A LUA script (cannot find which one) is trying to access the Character class, which is not LUA-UserData.

I think we can safely add [MoonsharpUSerData] to Character, since it makes lots of sense.

[2016-08-20 10:16] #33 closed

[2016-08-20 10:25] koosemose opened #372 "[Bug] Saving fails with NullReferenceException when a character is carrying inventory"
It fails on Inventory.cs line 106; `writer.WriteAttributeString("X", tile.X.ToString());`. Obviously an inventory being carried by a character isn't going to have a tile. What would be the best way to go about this, just skip saving an inventory without a tile and assume the character carrying it (or whatever other nontile location it may be capable of being in in the future) will save it?

[2016-08-20 10:25] Mizipzor commented on #369
That's another good idea. Maybe I bit more involved. Maybe we end up with all.

[2016-08-20 10:27] Mizipzor commented on #372
You already know how to see which line it was but including the rest of the stack trace can be super useful. :)

[2016-08-20 10:28] Sommerbo commented on #353
Very early on Quill mentioned that each "world" could be used as a different z-level. I think that is a great idea.

[2016-08-20 10:34] koosemose commented on #372
Well I already know what the problem is, I'm just looking for advice on the best logic to use in the fix. And the rest of the stacktrace isn't really that useful since it's only going to be called from one place, and I know why exactly it was called, which is much more clear than trying to parse the stacktrace... but if you really want it.

`NullReferenceException: Object reference not set to an i

[2016-08-20 10:36] RodRitter opened #373 "[Discussion] Game design document & planning"
Hello everyone!

We have had amazing contributions into the project so far and some very innovative features have come out of it. The one problem I feel we're facing though, is that we have no goal or idea to base new features on. So I would like to propose a discussion around game mechanics and actual medium to long term goals that we would like to accomplish. This way we can shape new features w

[2016-08-20 10:37] Mizipzor commented on #372
It wasnt for your sake rather for everyone else that finds this issue and wants to understand whats going on. :)

[2016-08-20 10:39] JosephBywater commented on #357
Maybe this could be implemented later on however for testing g purposes I think that the grid is helpful ;)

[2016-08-20 10:41] koosemose commented on #372
Ahh... though I really feel like in this case the stacktrace isn't useful... except maybe as practice for someone to see if they can arrive at the problem with just the stacktrace, as though a minimal bugreport had been filed (Though a proper "minimal bugreport" would be "IT"S BREOKKE FIXXX IT!!!"... for which the proper solution is something blunt...)

[2016-08-20 10:49] JosephBywater commented on #373
There's one on the wiki already ;)

[2016-08-20 10:53] koosemose commented on #373
As much as I enjoy the wild and free "do your own thing" sort of feel we have going on, I really think we need some form of governing body, or at least some kind of voting system to approximate the same effect. We have a good 40 contributors, and I have no idea how many others involved in discussions. We've had several similar discussions both for a broad plan and more focused work on existing sys

[2016-08-20 10:54] Sommerbo opened #377 "Unity scene broken"
I downloaded  a fresh copy of the latest version (at 126 commits) using Download as zip option
First it crashed unity when I double-clicked on the scene. Then I opened unity and tried loading the scene and got these error messages:

![image](https://cloud.githubusercontent.com/assets/21068792/17830745/34429534-66d5-11e6-9ad5-7b14550a73c6.png)

Unity version: 5.3.4f1
And the scene it self doesn't r

[2016-08-20 10:55] Mizipzor commented on #372
I agree that the stack trace wasnt that useful here since the call is not coming from our code (but I didnt know that initially).

There are however deeper problems here. If an object that is carried doesnt have a tile, how would it be picked up again when the game loads? It doesnt save who it is carried by. Or is it the carrier that saves that? Maybe it should have a position that corresponds to

[2016-08-20 10:55] relinu commented on #377
Update Unity to 45.4f3

[2016-08-20 10:56] Sommerbo commented on #377
Thanks.

[2016-08-20 10:56] koosemose commented on #302
I am currently looking into revamping the gas system (currently only working with oxygen), how long do people think it should take 1 o2 generator to fill up, say a 5x5 room (5x5 inside the room, so 7x7 walls)

[2016-08-20 10:56] Mizipzor commented on #377
Remember to close this issue if an update solves the problem. :)

[2016-08-20 10:56] pjhoodsta commented on #377
Thanks. I also had same problem

[2016-08-20 11:11] relinu commented on #371
Fixed in #374

[2016-08-20 11:12] satch3l commented on #373
Maybe not a governing body but rather a design group that can establish the framwork of a design document with which we will work towards. Then of course I'd like to see more moderating people that can ease some of the workload off of Quill, which will hopefully speed up the development.

[2016-08-20 11:13] koosemose commented on #372
Currently it appears that the character doesn't save his carried inventory, so carried inventory would be lost, which certainly makes for a more complex fix. I think, for now at the very least, it makes sense for the inventory to be saved with the character. However, the problem is that either character will need it's own version of the inventory WriteXml (and probably ReadXml), which seems just w

[2016-08-20 11:17] Sommerbo commented on #377
Now it opens without problems.

But minimum required version of Unity 3D should be shown somewhere.

[2016-08-20 11:17] #377 closed

[2016-08-20 11:18] Mizipzor commented on #377
It says so in [CONTRIBUTING.md](https://github.com/TeamPorcupine/ProjectPorcupine/blob/master/CONTRIBUTING.md).

[2016-08-20 11:20] gunthergun commented on #307
#378 --> fixed this :)

[2016-08-20 11:20] Sommerbo commented on #377
Oops! My bad, I just glanced at that when Quill first uploaded everything.

[2016-08-20 11:21] Mizipzor commented on #372
Thats fine, just because you reported the issue doesnt mean you would have to fix it yourself. :) Youre absolutely right that the proper fix for this will be more involved.

If you still want to help how about coming up with a good way to reproduce the problem? I dont know of the best way to spawn a worker and an item, have the worker pick up that item and stand still with it, save and then load a

[2016-08-20 11:22] Mizipzor commented on #377
To be fair, this is probably something you should be told _before_ you start _contributing._

[2016-08-20 11:25] Mizipzor commented on #373
If youre tired of me constantly bickering about code style I want you to know that I'm not that concerned about the actual gameplay. I'm here for the code. ^^

[2016-08-20 11:29] RodRitter commented on #373
Moderation is another topic that Quill is trying to work out. But with regards to an actual game design, if @quill18 wants the community to guide the game mechanics and design, then we need to find some sort of voting mechanism.

[2016-08-20 11:31] Sommerbo commented on #377
To be extra fair. Version info was added/updated less than 24 hours ago. And I wasn't trying to contribute I was trying to run the code.

[2016-08-20 11:41] koosemose commented on #372
A Mining drone and at least 2 smelters works fairly well for now (more smelters will make it easier to catch), due to the current bug with the smelter where they will take from the input stack of one smelter to feed another. I tended to have 5 smelters running when I would come across it naturally.

Alternatively load a game (so it generates steel plates) and set up a stockpile a decent distance f

[2016-08-20 11:42] RodRitter commented on #377
Guys, we are in the beginning phase of an awesome project with a lot of contributions happening all the time. Things like this happen.

[2016-08-20 11:42] koosemose commented on #373
Should we vote on the voting mechanism? ;D

[2016-08-20 11:52] TheRiven commented on #373
I definitely think fleshing out the Design Docs so that they show what the first.. milestone? of the game should be, what core features we should have by then and how those features should more or less work.

This would might help focus development a bit?

Maybe also showing what the current state of play is and how/what features are working so you can get  a broad overview of the current state of

[2016-08-20 11:52] Mizipzor commented on #373
I vote _for_ voting on the voting mechanism.

[2016-08-20 11:53] jamzam90 commented on #357
The grid is due to the textures on the tiles, so tile art would have to be messed with.

[2016-08-20 11:54] TheRiven commented on #373
@Mizipzor Have we determined how the voting process for the vote to vote on the voting mechanism will work yet? :smile:

[2016-08-20 11:54] Mizipzor commented on #357
Maybe the grid should be implemented as an overlay?

[2016-08-20 11:57] RodRitter commented on #373
That's awesome! Love the humor

[2016-08-20 12:00] #303 closed

[2016-08-20 12:06] bjubes commented on #373
we could vote by having an issue and people either reacting thumbs up or down

[2016-08-20 12:08] RodRitter commented on #373
Maybe we can have a specific VOTING tag on voting issues.

[2016-08-20 12:11] WardBenjamin commented on #86
@Kreol-Dev FYI, Unity 5.3 doesn't actually work with this project due to using Random.InitState() and some prefab differences.

[2016-08-20 12:13] WardBenjamin commented on #373
Yeah, that's definitely an idea. That's not really the most *secure* way to vote since I'm sure we'll get non-contributors voting, but honestly it's the best idea so far.

[2016-08-20 12:15] bjubes commented on #360
Is their any documentation on how to install and use style cop? If not maybe just writing a rough how to on the wiki would allow more people to use it and keep code clean

[2016-08-20 12:15] koosemose commented on #373
Is allowing non-contributors to vote an undesirable thing?

[2016-08-20 12:15] RodRitter commented on #373
Eh I don't think it matters. It's the community voting on ideas, not just contributors :)

[2016-08-20 12:20] Mizipzor commented on #373
The thumbs up or down on a post is a great way to vote that Ive seen used elsewhere. Especially stuff that maybe isnt _that_ important. Like that StyleCop issue I made asking for feedback.

But speaking of label, I want to see more of them! Lots of issues unlabeled,

[2016-08-20 12:21] Kreol-Dev commented on #86
@WardBenjamin then I can only help with advice and blessing :D

[2016-08-20 12:23] WardBenjamin commented on #373
Agreed. Right now @vogonistic  and @RodRitter are our only "gatekeepers", and them and Quill are the only ones who can add labels. I've also been added to the TeamPorcupine organization but I don't have any permissions so /shrug

[2016-08-20 12:24] Mizipzor commented on #373
I wonder if theres a way to add permission to _only_ label issues.

[2016-08-20 12:26] Mizipzor commented on #360
Yes. In a [comment](https://github.com/TeamPorcupine/ProjectPorcupine/pull/158#issuecomment-240778549) on the pull request. But only for Mono. I will move them to the wiki and add visual studio. What are you using? Theres also a command line alternative.

[2016-08-20 12:26] satch3l opened #383 "[Bug] Latest merge has bugs"
* Workers doesn't carry metal chunks to the smelter.
* Pathfinding test just adds walls on top of current world.
* Metal chunks spawn on walls.
* Random empty scroll list on the left.
* Workers have no collision against eachother (more of a missing feature)

I guess there are more, but these are the ones that stood out to me.

[2016-08-20 12:28] koosemose opened #384 "[Discussion] Allowing furniture to replace furniture of the same type."
While updating furniture.xml to include typeTags for everything that was missing it, I realized that with the Door typeTag in place on the Airlock, you could now replace an airlock with an airlock. I'm assuming this would be considered undesirable behaviour for this and any other furniture capable of replacing its own typeTag, but thought it best to ask for opinions, in case there are use cases wh

[2016-08-20 12:29] UnknownSoldier1 commented on #339
Can be closed, this has been fixed with #380.

[2016-08-20 12:30] RodRitter commented on #373
Github permissions are sparse so I doubt it. But maybe Quill can take submitted issues and add the ones he likes as voting issues. That means there's not too much work on his part but he can still guide the game.

[2016-08-20 12:31] lameox commented on #360
@Mizipzor yeah i do like `string.Empty` it better.

[2016-08-20 12:36] RodRitter commented on #383
I've seen that AI don't actually get assigned to free jobs sometimes, but that's been an issue for a couple days now.

[2016-08-20 12:37] RodRitter commented on #384
Definitely undesirable in my opinion. Waste of material

[2016-08-20 12:38] RodRitter commented on #339
Agreed. Closing.

[2016-08-20 12:38] #339 closed

[2016-08-20 12:41] koosemose commented on #383
A quick test seems to have Workers carrying metal chunks to the smelter just fine, however, they only do so when it is empty, rather than keeping it topped off (presumably by design).

[2016-08-20 12:46] bjubes commented on #360
Now that the wiki is up I will move your comment to a page if you don't mind

[2016-08-20 12:48] Mizipzor commented on #360
@bjubes Oh, I [just did](https://github.com/TeamPorcupine/ProjectPorcupine/wiki/StyleCop) do we have a duplicate now?

[2016-08-20 12:49] gunthergun commented on #384
Is this ever useful ? I think it is always undesirable !

[2016-08-20 12:51] Mizipzor commented on #86
Is there an issue for that initstate thing?

[2016-08-20 12:52] koosemose commented on #384
I don't think so, but thought I should ask in case someone has a good use case to consider leaving it as-is for. Keep in mind this could potentially apply to anything... but yeah, I don't expect there to be any good cases for replacing an object with itself.

[2016-08-20 12:53] quill18 commented on #373
Basically, what we need is something like Issues, but with obvious and visible up/down vote tallies.  Ideally with a limited number of active votes per user so people have to prioritize.

Basically I'm asking if anyone know of something like Uservoice (https://www.uservoice.com/product/product-management/) but free?

[2016-08-20 12:54] bjubes commented on #360
No I didn't do it yet your good

[2016-08-20 12:57] quill18 commented on #383
What do we think about just removing the pathfinding test at this point?

[2016-08-20 12:57] Mizipzor commented on #373
I know the Mantis bug tracker includes a voting system (more granular than just up or down) but are we really going down the route of setting up a separate tracker? Maybe it is needed if the issue chaos continues,

[2016-08-20 12:59] koosemose commented on #383
I've used it to quickly set up a test for gasses, but that can be approximated just as well with a little bit of time setting up an appropriate save file.

[2016-08-20 13:01] RodRitter commented on #373
Maybe something like this? http://feathub.com/

[2016-08-20 13:02] gunthergun commented on #384
I would suggest you just add just a simple check if you try to replace something if it is not the same object ? But I can see you deconstructing an airlock for an normal door if your base has expanded enough and you want to travel faster inside

[2016-08-20 13:04] koosemose commented on #384
Yeah, it's a pretty easy check (though I will may invert your logic, and fail if it is the same type). But this solely covers an airlock replacing an airlock (or any other object replacing itself.), otherwise what an object can replace will be controlled by its xml definition.

[2016-08-20 13:11] gunthergun commented on #383
We should remove the pathfinding test and add some test save files that are copied in the save folder :)

[2016-08-20 13:13] koosemose commented on #383
Alternatively, or additionally, a dev-mode, that makes things instabuild could be very useful, especially for those times that pathfinding is acting up.

[2016-08-20 13:14] gunthergun commented on #383
Yeah that sounds nice as well

[2016-08-20 13:17] FilippoLeon commented on #383
Which will fix https://github.com/TeamPorcupine/ProjectPorcupine/issues/369

[2016-08-20 13:19] Mizipzor commented on #383
@FilippoLeon Are you sures its "fixed" by removing the path finding test? I created that issue with the intention to figure out how to correctly handle tests going forward. so that it scales and we can add more. Not remove.

[2016-08-20 13:20] koosemose commented on #383
If no one has implemented a dev mode by the time I next get free time for significant programming (Monday at the earliest), I'll look into implementing a dev-mode.

[2016-08-20 13:25] Ceddini commented on #384
A case for this feature comes to my mind: Rimworld godmode.
When you have Godmode enabled, you are able to replace an object with itself or rather you're able to replace any object.
So it is useful for map creators to create custom scenarios and thinks like that.

[2016-08-20 13:26] koosemose commented on #384
Alright, that's a good one, though probably best implemented as a separate thing (if godmode or devmode is on, allow anything to replace anything.

[2016-08-20 13:38] UnknownSoldier1 opened #387 "[Discussion] Multiplayer, yes or no?"
I'm right now thinking if it makes sense to make a multiplayer for the game. Since I would like such a feature, I would like to see it. I just don't know what the rest of you think.

[2016-08-20 13:40] UnknownSoldier1 commented on #336
Maybe add multithreading to the pathfinding, put it on a seperate thread?

[2016-08-20 13:42] WardBenjamin commented on #336
@Mizipzor yo, want to join us on Discord? https://discord.gg/ErwDA

[2016-08-20 13:44] Tranberry commented on #384
Would this work if I misplaced a furniture (that is bigger than one square)?
![misplaced](https://cloud.githubusercontent.com/assets/16529/17831583/f7e6f630-66ec-11e6-8a4c-5eeddbcb6e98.png)

[2016-08-20 13:47] #327 closed

[2016-08-20 13:48] satch3l commented on #387
I'm open for ideas. But I'd wait until, at least, we reach some kind of alpha stage before we decide on what direction we'd like to take regarding multiplayer.

[2016-08-20 13:48] quill18 commented on #360
String.Empty good. Me like. Go do.

[2016-08-20 13:50] Xeni91 commented on #387
I think a RTS like multiplayer would be bad. When we're doing one it should be more of a coop-like game like the eu4 one.
Because it is designed for base building not RTS

[2016-08-20 13:50] quill18 commented on #360
And I've installed StyleCop myself now and doing a test run on a side project.  With the default settings, it's a bit... overly anal about a couple things, but overall I like it. And very tweakable.

[2016-08-20 13:51] WardBenjamin commented on #387
I'm definitely open to this, but I'd like to keep a focus on singleplayer features, at least until the game is playable in some fashion.

[2016-08-20 13:52] UnknownSoldier1 commented on #387
Alright, my thoughts just were that it would be easier to implement netcode now, as there would be significantly less to sync right now as if we would integrate it in a much later state of development.

[2016-08-20 13:55] WardBenjamin commented on #373
@RodRitter I'm a *huge* fan of that, looks like a much better system!

[2016-08-20 13:56] quill18 commented on #358
@koosemose I agree.

[2016-08-20 13:57] WardBenjamin commented on #321
@quill18 Huh. It looks like I don't have any perms still, I wonder what's up.

[2016-08-20 13:58] koosemose commented on #384
Technically it should, but that would require allowing every furniture to replace itself, which would probably be bad. I suspect this would be better served by a separate system (along the lines of Rimworlds reinstall).

[2016-08-20 13:59] quill18 commented on #321
@WardBenjamin Because you still have accepted:

![collab](https://cloud.githubusercontent.com/assets/777633/17831659/cae2d8be-66bc-11e6-949f-28997acd22bf.jpg)

I'll DM you the invite link on Twitter.

[2016-08-20 14:01] #321 closed

[2016-08-20 14:02] quill18 commented on #373
@RodRitter That's exactly what I want!

Just set it up:
[![Feature Requests](http://feathub.com/TeamPorcupine/ProjectPorcupine?format=svg)](http://feathub.com/TeamPorcupine/ProjectPorcupine)

[2016-08-20 14:06] bjubes commented on #383
Could we also have a similar but separate "God Mode" where you can place any furniture you want with a click and spawn in materials too? or is this exactly what the debug mode would do?

[2016-08-20 14:08] quill18 commented on #373
Can you confirm that you guys can also create new requests (and vote)?

[2016-08-20 14:08] Mizipzor commented on #383
I think you refer to the same thing when you say god mode and dev mode.

[2016-08-20 14:09] Mizipzor commented on #373
@quill18 I can confirm that I can create and vote.

[2016-08-20 14:11] RodRitter commented on #373
Yep, it all works as expected.

[2016-08-20 14:12] quill18 commented on #373
Made a PR #392 to integrate into the README

[2016-08-20 14:14] koosemose commented on #383
Same intent, I'd already mentioned the idea elsewhere as dev mode, so continued using that name. The initial pass on it will likely only include instaclick builds, as that's what I'm presently looking into, and think will be the easiest.

[2016-08-20 14:18] Mizipzor commented on #360
@quill18 Are you using Visual Studio or MonoDevelop? If you take #390 you will have the settings automatically applied in Visual Studio as well, I assume you use that.

I agree that with all rules turned on its a bit nutty. But thats the point, we turn off what we want and shouldnt have to figure out how to _add_ rules.

There are three things I want to avoid here:

1. The grey area that comes fro

[2016-08-20 14:23] bjubes opened #393 "[Bug] Scrolling in Language Selector also zooms game."
when moused over the language selector drop down, scrolling with both scroll the dialog (very slowly, which is a seperate issue) and zoom the game in and out.

[2016-08-20 14:28] koosemose commented on #383
Ok, I lied, I've got a basic devmode implemented...

[2016-08-20 14:29] Mizipzor commented on #336
@WardBenjamin Sure, but I will be text only. :)

[2016-08-20 14:30] Tranberry commented on #153
Would it be possible to default to english (en_US) where translations are missing?

[2016-08-20 14:33] quill18 commented on #373
I say we wait a period of time (a week?) to shake out these initial very rapid PR's and let the votes trickle in, then we make a pass through the voting, considering priority + ease of implementation, and then create a milestone for "Version 0.1".

This would then be followed by making a new branch organization for the project to distinguish between things that are meant for version 0.1, and featu

[2016-08-20 14:36] Mizipzor commented on #153
@Tranberry If a key is missing it defaults to english.

[2016-08-20 14:37] bjubes commented on #373
Maybe when we have voted fully on the best features, we can order them and assign them on Trello, making a sort of feature map for said version 0.1

[2016-08-20 14:38] Mizipzor commented on #373
I dont think we need Trello as well. Lets take the voted stuff and create github issues from them, those can be assigned just fine.

[2016-08-20 14:41] Tranberry commented on #153
@Mizipzor must be after I tested .

[2016-08-20 14:42] Mizipzor commented on #387
I vote no.

These kind base builder games (Dwarf Fortress, Rim World, Prison Architect) are almost exclusively single player and for good reasons. For example, a "play through" is insanely long, making for awkward multiplayer games.

And its also insanely complicated. Everything you make must be considered how it effects multiplayer. It depends on how you see it, I think this project is mainly abo

[2016-08-20 14:44] quill18 commented on #153
Yeah, I feel that people jumped on localizing for ALL THE THINGS a bit too quickly -- they're just creating extra maintenance work for themselves.

Perhaps localization would be a great example of something that should be modularized (i.e. literally made into mods), which could then even be moved to a separate repo.

Still, I'm not opposed to having the language files in-place right now -- but I w

[2016-08-20 14:49] RodRitter commented on #373
Github has a milestones feature that we can use. No need for another third party platform.

[2016-08-20 14:50] Mizipzor commented on #153
@quill18 I think that happened because the localization changes are very easy to do. People jumped on them because of that. If youre really eager to contribute _something_ and maybe dont have the coding skill to make a complicated feature, thats the obvious step.  And so what if it creates lots of maintenance, those same people now get to practice git even more.

Its a question Ive asked myself a

[2016-08-20 14:50] PalRist commented on #387
How about a simcity-approach, allowing for trade between space stations?

[2016-08-20 14:53] WardBenjamin commented on #321
@quill18 Huh, thanks. I got the email about the organization, but I don't think I got anything for this one. Accepted anyway, thanks!

[2016-08-20 14:54] sboigelot commented on #387
Well that idea was a PR this nigth, didn't made the merge : https://github.com/TeamPorcupine/ProjectPorcupine/pull/330

But there was of course still a lot of work to do in the technologies involved.

I disagree, I mostly play them along with my gf, on tv, for hours. She is playing rimworld rigth now next ot me. I would love a multiplayer coop aspect to it, but yes, I agree, it a lot of extra work

[2016-08-20 15:02] UnknownSoldier1 commented on #387
@Mizipzor Actually, due to how @quill18  made the code for the game, it might even by possible to sync everything between server/client without any extra work. For example, call Lua code only on the server, sync furniture parameters automatically when they get changed, sync the world automatically etc.

[2016-08-20 15:04] Tranberry commented on #153
@Mizipzor you must have misunderstood what I meant. When I choose another language and there are strings not translated I would like it to default to English.

[2016-08-20 15:09] Mizipzor commented on #153
@Tranberry This logic is in the [GetLocalization.cs](https://github.com/TeamPorcupine/ProjectPorcupine/blob/master/Assets/Scripts/Localization/LocalizationTable.cs#L150) method. Maybe set a breakpoint there and find out whats going on? :) Or, tell me how to reproduce this bug and I'll fix it.

[2016-08-20 15:12] nsfranklin commented on #358
Relevant pull request added. #399

[2016-08-20 15:13] #393 closed

[2016-08-20 15:14] brlodi commented on #153
Perhaps @Tranberry is concerned with the fact it still logs an error on falling back to en_US?

[2016-08-20 15:14] ttyz opened #403 "Refactoring: Minimize the use of unity game objects"
I would propose to do some refactoring. Because editing the scene is quite complicated using version control, it seems like it would be a better idea to make some kind of a `MainController` (may be reuse the `WorldController`), that will instantiate and call the update methods of all the other controllers. This change will allow us to have only one Unity game object in the scene.

Also then we cou

[2016-08-20 15:16] Mizipzor commented on #153
Oh, _now_ I get it. Unusually daft today. Sorry. Yea that can be fixed. I think its a good beginner task. Maybe we should wait for #375. @Tranberry You wanna give it a go? :)

[2016-08-20 15:16] Mizipzor commented on #403
Good thinking. :)

[2016-08-20 15:17] Tranberry commented on #153
No git fooled me again, I don't have the current pull/base/whatever I'll probaly re-fork :/

[2016-08-20 15:22] bjubes commented on #372
I think having the character save his own inventory is the best fix since it follows the hierarchy of
world > tiles > inventory
character > inventory
as opposed to the inventory saving whos holding it, thus reversing that flow.

[2016-08-20 15:24] TheAkashicTraveller opened #404 "Code Driven UI"
So in this video https://youtu.be/TU0OkwE67hU?t=5m54s Quill mentions wanting to see to UI be more code driven so that changes could be made to it without editing the _SCENE_ file so as to avoid and make it easier to resolve conflicts. A couple of us have actually put some work into this and I had something working for making part of the UI driven from code. Since then new commits have completely c

[2016-08-20 15:26] TheAkashicTraveller commented on #403
Sounds good. I just made this about doing similar for the UI https://github.com/TeamPorcupine/ProjectPorcupine/issues/404

[2016-08-20 15:28] brlodi commented on #153
@Mizipzor I'm not sure what conclusion you came to, but I still think logging the missing localization is appropriate. "Build Steel Wall" is a nicer fallback than "build furn_steel_wall" but is still an undesired output that needs to be fixed in the localization file.

[2016-08-20 15:28] vogonistic commented on #353
@koosemose I feel like you convinced yourself why in your post.

To me, it provides gameplay options.
* In a campaign mode, we could show animated scenes from before or other locations.
* We can create traveling spaceships
* We can make multi level buildings
* We can have planet landings
* We can raid other bases
* Travel could be based on sending our stuff to someone else for trading

The way I s

[2016-08-20 15:30] TheAkashicTraveller commented on #404
If we do this and https://github.com/TeamPorcupine/ProjectPorcupine/issues/403 we need to do that first ans ASAP.

[2016-08-20 15:32] Mizipzor commented on #153
@brlodi Theres actually two fallback modes in the code (currently three but one will be removed in a PR), it ether return the key or English equivalent. So its easy to swap between them. I dont know why that is a feature though, dont feel like something you would find in a settings menu. :P

[2016-08-20 15:35] bjubes commented on #404
I think that people can still ADD to the scene, but can't make any changes or deletions. But I agree, we need to eventually block scene access when we make a new UI system.

[2016-08-20 15:35] brlodi commented on #153
@Mizipzor oh I totally agree. I was just concerned that your epiphany might have been to remove logging from the `FallbackMode.ReturnEnglish` case

[2016-08-20 15:38] Mizipzor commented on #153
@brlodi Nope, I rather like logging. :)

[2016-08-20 15:40] ttyz commented on #403
@TheAkashicTraveller I have provided a WIP PR #470, to illustrate my thinking. I think it should be possible to start working on UI using similar approach.

[2016-08-20 15:44] vogonistic commented on #404
I'd love to see this. It's almost impossible to get scene merges to work and we can't have modders change the scene.

[2016-08-20 15:46] vogonistic commented on #384
I'd prefer if most replacements were covered by a deconstruct followed by build. There are some special cases, like we might allow one type of pressure door with another without consider it being open.

[2016-08-20 15:47] WardBenjamin commented on #358
I just want to note, this should be "Localization Localization" because we're using en_US in code. Otherwise the PR looks great

[2016-08-20 15:47] brlodi commented on #153
Me too, as long as it's not once per frame for the same issue 😛

[2016-08-20 15:51] TheAkashicTraveller commented on #403
I just quickly did it with all of them and the character sprite no longer shows up :/

[2016-08-20 15:53] ttyz commented on #403
@TheAkashicTraveller Yes, some are trickier than others. It is a good idea to do them one-by-one.

[2016-08-20 16:00] fre-ber commented on #403
I recommend the name "GameController" for the top level since the World is not enough. ;-)

[2016-08-20 16:06] Dormanil commented on #302
n = (75 m<sup>3</sup> · 20 265 kg/(m·s<sup>2</sup>)) / (8.314 kg·m<sup>2</sup>·s<sup>-2</sup>·K<sup>-1</sup>·mol<sup>-1</sup> · 293.15 K)
n ≈ 623.6025 mol

If we assume 20 moles of gas per second, it would take about 31 seconds to fill a room of 5x5 tiles with a nice and healthy 0.2 atmospheres of oxygen.

Since pressure and amount of ideal gas are directly proportional, adding 0.8 atmospheres of

[2016-08-20 16:18] dustinwloring1988 opened #412 "A couple missing script refrances and functionality"
Controllers --> WorldController --> Overlay = Missing Script
Controllers --> KeyboardController = Missing Script
Canvas --> Right Menu --> OverlaySelector = No hook up to anything
Canvas --> Settings Menu = Still needs functionality (Im working on this one as we speak)

Also maybe we should combined the trade sample into the main SCENE and just have a dummy object that we click on to active the tr

[2016-08-20 16:22] dustinwloring1988 commented on #404
If no one has started this yet I will take a shoot at it as I did modify the UI and was working on a setting panel. After I was done with the setting I planed on making it all code driven. Just let me know what you think or if anyone has started on this.

[2016-08-20 16:35] TheAkashicTraveller commented on #404
I was going to do it myself

[2016-08-20 16:40] jakebacker opened #417 "[Localization] en_US localization issuses"
There is no localization for raw iron and smelted iron. Also, the un-localized version of raw iron shows up as en_US_en_US_Raw Iron

[2016-08-20 16:46] WardBenjamin opened #419 "Metal smelter doesn't show the raw iron inventory while stockpiling up to the full stack"
Until the full stack is there, the raw iron stockpile for the metal smelter is there but isn't shown. After there's 50 raw iron, it is shown and decreases correctly.

[2016-08-20 16:48] TheAkashicTraveller commented on #404
So I just made this https://github.com/TeamPorcupine/ProjectPorcupine/pull/420 so that we can get started. If it get's accepted we can work on seperate parts without introducing conflicts.

[2016-08-20 16:50] nsfranklin opened #421 "Desktop git client. Gitkraken"
I have been using gitkraken. I would recommend it if anyone wants to avoid using bash. Its more powerful than gitdesktop and it actually works.

[2016-08-20 16:51] sboigelot opened #422 "Slowdown: No tile contains objects of type 'Steel Plate' to satisfy job requirements."
When this condition is met the game almost freeze.

Probably the job is trying to search for the inventory evey tick?

[2016-08-20 16:51] TheAkashicTraveller commented on #421
There are quite a few out there. Git for windows has one and there's also source tree among others.

[2016-08-20 16:52] satch3l commented on #422
I also reach a point where everything freezes an the fps is plummeting. Nothing I can do but restart. Don't know what causes it though. Maybe this is the answer?

[2016-08-20 16:52] #421 closed

[2016-08-20 16:53] WardBenjamin commented on #421
(SmartGit is my favorite, but I prefer using Bash because it's way more powerful)

Anyway, this isn't really project-relevant, so closing! You might want @quill18 to talk about it in a video or something, idk.

[2016-08-20 16:54] WardBenjamin commented on #422
This is probably a pathfinding issue, see #345

[2016-08-20 16:55] dustinwloring1988 commented on #404
OK sounds good..

[2016-08-20 17:01] NogginBops opened #423 "Settings menu and Options menu are not dialogs"
This just seems inconsistent as dialogs where inplemented for just this reason.
This would allow them to me modal too.

[2016-08-20 17:01] bjubes commented on #384
I think reinstalling and god mode are seperate issues that can override this behavior on their own when implemented. For now don't let an object replace itself

[2016-08-20 17:02] fre-ber commented on #302
Now this looks more like the rabbit hole I almost fell into. ;-)

[2016-08-20 17:11] satch3l opened #427 "[Bug] Script freezes game"
Something in the update code is crashing/freezing the game as far as I understand.
![namnlos](https://cloud.githubusercontent.com/assets/4237670/17832696/28342030-6709-11e6-9cf3-a5aa10fc1101.png)

[2016-08-20 17:12] UDXS commented on #404
What if we integrated Awesomium Web Framework for Unity to create a dynamic editable UI.

[2016-08-20 17:16] WardBenjamin commented on #427
See #336 and #345.

[2016-08-20 17:16] #427 closed

[2016-08-20 17:19] WardBenjamin commented on #404
Awesomeium is a pretty good way to do UI in Unity, I'm a fan if people want to put the work in. It does have some disadvantages since it's not part of Unity natively, but the native UI system really isn't that great.

[2016-08-20 17:21] GamerInspired commented on #353
I feel like having multiple maps (having the option at least) allows far greater opportunities for this game. As @vogonistic mentioned, so I would think that this would be worth doing.

[2016-08-20 17:30] satch3l opened #429 "[Suggestion] Automatically build walls"
What do you think about walls being build automatically when placing floors?

Alternatively it could be added as a feature together with other form floor tools like circles and lines.

[2016-08-20 17:34] FilippoLeon commented on #412
First three are mine and adressed in https://github.com/TeamPorcupine/ProjectPorcupine/pull/340#issuecomment-241212869, wich, depending on how we want to pull, could take a while(still missing features)

[2016-08-20 17:34] TheAkashicTraveller commented on #404
https://github.com/TeamPorcupine/ProjectPorcupine/pull/420 got merged so if you tell me what you're doing I can work on some other part.

[2016-08-20 17:42] WardBenjamin commented on #275
Fixed! Closing!

[2016-08-20 17:42] #275 closed

[2016-08-20 17:42] Mizipzor commented on #422
@WardBenjamin Hold on I believe this one is valid. :) If you place a furniture requiring steel and there is no steel in the world, the log is spammed until there is.

[2016-08-20 17:43] racerand commented on #417
I will look into this

[2016-08-20 17:44] WardBenjamin commented on #417
Thanks @racerand!

[2016-08-20 17:46] WardBenjamin commented on #373
Looks like we're going to use this! Closing!

[2016-08-20 17:46] #373 closed

[2016-08-20 17:47] WardBenjamin opened #431 "[Discussion] Storyline!"
For a while we've had some kind of basic story outline (See #263), something along the lines of ![Story](https://cloud.githubusercontent.com/assets/4739008/17813852/11a32762-65fb-11e6-856a-c555c9988f41.PNG)

Basically the concept is that you get screwed over by QuillCorp, and stranded with no fuel and only a basic drill and power source, and your smallish station.

Any discussion? What does everyo

[2016-08-20 17:50] WardBenjamin commented on #353
As far as the game design and story, you might want to move to #431, and to keep implementation discussion here. Sounds great, guys!

[2016-08-20 17:53] Mizipzor commented on #429
I prefer some kind of meta tool called **room** that placed floors encircled by wall. Sometimes you want to place just floor, and it wouldnt make sense to have to fight that mechanic.

[2016-08-20 17:59] koosemose commented on #353
I want so much looking for convincing, as asking questions I think we need to consider. Much of my thoughts on the matter hinges on us being able to come up with a reasonable amount of distinct and interesting locations outside of just different planet types and multiple space stations, and I don't presently have any idea what most of those locations would be. Or if even that many carried location

[2016-08-20 18:06] petroVARS opened #433 "[Bug] Crash when using stockpiles"
I was just trying out the game and when i place a metal miner and smelter and place a stockpile afterwards, Unity crashes.  Before the crash, the fps drops as low as 10. The performance issue also occurs if there is no steel when building a wall.

[2016-08-20 18:07] Sommerbo commented on #353
I like multiple map locations for Z-levels, I don't see the need for multiple other locations except way in the future. If we resolve z-levels then new locations could easily be added by modders.

[2016-08-20 18:11] Grenkin1988 commented on #353
Such a tasty task to those who like challenges :-)

[2016-08-20 18:22] racerand opened #435 "Naming standards"
I am working on setting the right text on the different inventory items selection_panel info. This is made hard by their not being a naming convention. Only few inventory items have been added "Steel Plate" and "Raw Iron" but shouldn't they be called "inv_steel_plate" and "inv_raw_iron" in code? As they all will go through the Localization system to have the right UI text, a very informing naming

[2016-08-20 18:24] wilcomega opened #436 "Is powerValue available in Lua?"
i am not too familliar with the codebase yet and was wondering if the powerValue variable is accesable through Lua code in the furniture? I cant really find anything that dictates what Lua code can use.

Thanks!

[2016-08-20 18:25] WardBenjamin commented on #422
Huh, okay. This is probably still relating to pathfinding in some way though, so the solution might be related/the same. Reopening.

[2016-08-20 18:25] WardBenjamin commented on #433
See #422

[2016-08-20 18:25] #433 closed

[2016-08-20 18:31] Sommerbo commented on #436
there is a <power> tag in furniture.xml that adds or subtracts power.

[2016-08-20 18:34] dustinwloring1988 commented on #404
If you have not started yet I have the basic part of settings done with one last small Scene Change i dont wanna try to commit it unless you havent start

[2016-08-20 18:35] dustinwloring1988 commented on #423
OK I can do that. Sorry wasn't think about that when I did it

[2016-08-20 18:38] wilcomega commented on #436
Yes, but can you change that value during runtime?9

[2016-08-20 18:40] Sommerbo commented on #435
Agreed! This needs addressing soon.

[2016-08-20 18:42] Sommerbo commented on #436
Doesn't looks like you can, except for building more machines

[2016-08-20 18:43] relinu commented on #436
it's public so i think you can change it in lua otherwise add a function which changes the powerLevel

[2016-08-20 18:43] TheRiven commented on #436
At the moment the only Lua connection I considered was being able to check if it had power or not. But last time I checked it was a public field... so you should be able to change it, i think?

[2016-08-20 18:44] TheRiven commented on #436
and beaten to it :smile:

[2016-08-20 18:51] dustinwloring1988 commented on #404
I will be on for the next 8 hours so feel to to message me back on here or the last pull request i did - https://github.com/TeamPorcupine/ProjectPorcupine/pull/439.

[2016-08-20 18:51] Mizipzor commented on #422
Didnt this get rather redundant?

I thought we common people tagged with [Bug] until you guys could come along and add the label properly and remove the text tag. If not, thats really how it should work in my humble opinion. No need for both. :)

[2016-08-20 18:53] TheRiven commented on #436
What were you planning on doing with it, may i ask?

[2016-08-20 18:53] wilcomega commented on #436
I just tried to do
`powerValue = 5`

or 0, and MoonSharp said this:
ScriptRuntimeException: attempt to index a nil value
MoonSharp.Interpreter.Execution.VM.Processor.ExecIndex (MoonSharp.Interpreter.Execution.VM.Instruction i, Int32 instructionPtr)
MoonSharp.Interpreter.Execution.VM.Processor.Processing_Loop (Int32 instructionPtr)

I am going to work on implementing it, so i can change the power v

[2016-08-20 19:02] Mizipzor opened #440 "Disallow commented out code?"
I'm not talking about documentation comments like these:

[code]

Rather, actual code that has been "removed" by being placed in a comment block. Like this:

[code]

I'm seeing this in too many pull requests and would like to see a rule against it added to the contribution guidelines. This is one reason why Git is used, so you can go back and see what the code did before. It does nothing but add t

[2016-08-20 19:05] WardBenjamin commented on #422
Fair enough!

[2016-08-20 19:05] bjubes commented on #440
I think we should disallow this if the code is no longer needed and the feature is mostly complete. However I don't think we should deny PR due to small comments like this, only when it adds lots of clutter.

[2016-08-20 19:06] relinu commented on #436
You need to do this:
[code]
Atleast it worked for me, but it cant power itself because in HasPower it checks if this is a PowerSupply and than returns false...

[2016-08-20 19:07] #429 closed

[2016-08-20 19:09] Mizipzor commented on #429
Why close?

[2016-08-20 19:10] TheRiven commented on #436
Yeah if its a consumer then it should have a negative value.

I am also not sure what effects changing the `powerValue` during play might have at the moment. So in that regards it will be an interesting experiment.

[2016-08-20 19:10] Mizipzor commented on #440
My argument is that they _always_ adds to clutter and never adds to readability. :)

[2016-08-20 19:11] relinu commented on #436
I used it on the oxygengenerator and set it's powerlevel to 5, itself had no power but it could power the metalsmelter ^^

[2016-08-20 19:13] WardBenjamin commented on #429
@Mizipzor I closed this because people didn't seem to like the feature. I'm opening a new issue (or, actually you can do it), about the room tool suggestion.

[2016-08-20 19:13] TheRiven commented on #436
haha, well that's one way to get more generators :laughing:

[2016-08-20 19:14] Mizipzor commented on #429
Fair enough.

[2016-08-20 19:14] relinu commented on #436
yeah more power but less oxygen ;D

[2016-08-20 19:15] TheRiven commented on #436
There is always a price :smiling_imp:

[2016-08-20 19:16] bjubes commented on #431
I thought we were using the link in the readme to disuse future topic like this.

[2016-08-20 19:17] bjubes commented on #431
http://feathub.com/TeamPorcupine/ProjectPorcupine/

[2016-08-20 19:18] dustinwloring1988 commented on #412
OK thanks

[2016-08-20 19:18] #412 closed

[2016-08-20 19:22] racerand commented on #435
I am working on implementing it on what already exists, so if this it what people like, the already coded stuff will be done.

[2016-08-20 19:24] TheRiven commented on #436
hmm I suspect it will probably pay to put some checks in there somewhere for when the powerValue has been changed so that it updates things, as I don't think changing it at the moment will do anything useful.

At the moment once its in the list of power consumers then the only time it is removed is when you remove the object itself. Perhaps if the value is changed it should have to re-register the

[2016-08-20 19:24] TheAkashicTraveller commented on #404
I probably won't be doing anything tonight, it's half 9 where I am.

[2016-08-20 19:25] relinu commented on #436
Yeah i saw that too ;/

[2016-08-20 19:28] racerand commented on #435
Could also be "inv_steelWall" as the standard.

[2016-08-20 19:28] TheRiven commented on #436
Well it was a basic implementation to get it running, I did not think about the `powerValue ` being changed when I wrote it and I expected most of it to be changed sooner or later anyway :smile:

[2016-08-20 19:36] Sommerbo opened #441 "Compiler error when BUILDING"
Error message:
Asset/Script/UI/DialogBox/FileSaveLoad/DialogBoxLoadGame.cs(14,7): error CS0246: The type or namespace name "UnityEditor" could not be found. Are you missing a using directive or an assembly reference?

Shows up twice. Only happens when building not while running the game in Unity editor.

[2016-08-20 19:39] TheRiven commented on #441
I believe you have to remove all the `Using UnityEditor` lines for the actual build to work successfully. I am sure that's something I had to do when building something previously.

[2016-08-20 19:43] racerand commented on #435
Or "inv_SteelPlate" which would be same standard as for furniture

[2016-08-20 19:45] Sommerbo commented on #441
Can't you use compiler directives? I think I saw something like that earlier today.

[2016-08-20 19:47] Grenkin1988 commented on #440
@Mizipzor Strongly agree. Commented out code should not be in repository.

[2016-08-20 19:59] WardBenjamin commented on #86
@Kreol-Dev why don't you update to 5.4? You can even have multiple versions installed if you want.

@Mizipzor It's not really an issue because our prefabs also depend on 5.4, so there's no reason to fix it. Plus it's useful :P

[2016-08-20 20:11] svmnotn commented on #216
@vogonistic I'll be closing this and taking a look at the source, if something like what we've come up here is not done (I'll try to check PRs but there are soo many) then I'll make a PR with the relevant changes.

[2016-08-20 20:11] #216 closed

[2016-08-20 20:17] vogonistic commented on #431
I love it. What kind of mechanics would we need to make a story mode?

We should let modders add storydriven gameplay where you have goals and an event chain, but also randomized events that has some depth. We should implement any campaign/story mode as an internal mod so that we know the API is available.

@WardBenjamin Can you add this to feathub?

[2016-08-20 20:20] WardBenjamin commented on #431
Yep! Added!

[2016-08-20 20:29] tomik148 commented on #422
i have profiler pic here
![2016-08-20 8](https://cloud.githubusercontent.com/assets/11463094/17833688/0594a57e-6725-11e6-8719-d08d0faeec15.png)

[2016-08-20 20:32] Raketfart commented on #142
I added the graphics to PR #444

[2016-08-20 20:42] Raketfart commented on #85
Fixed again in PR #442.

[2016-08-20 20:46] Tranberry commented on #431
@bjubes isn't that more for suggesting ideas not to discuss them?

[2016-08-20 20:51] dustinwloring1988 commented on #404
OK if they add my commit soon I will start on taking out all the "links" added in the editor for "on click", "on value change" and adding listeners though code.   Hopefully we have good jump on this by tomorrow.

[2016-08-20 20:55] vogonistic commented on #353
I added an item to feathub for people to vote on this: http://feathub.com/TeamPorcupine/ProjectPorcupine/+13

[2016-08-20 20:59] bjubes commented on #441
http://answers.unity3d.com/questions/316805/unityeditor-namespace-not-found.html

googled and found this. If you make a custom editor it has to be wrapped in preprocessor tags so that it only compiles in the editor.

[2016-08-20 20:59] vogonistic commented on #440
Yeah, commented out code should go unless there is a very compelling and documented reason for it to stay. The biggest exception would if an API has some code showing how it can be used.

[2016-08-20 21:00] Kreol-Dev commented on #86
@WardBenjamin PP is for 5.4? I thought it for earlier version and didn't want to have backward version of Unity installed.
That way I now have one more reason to upgrade. Propably gonna do that next morning.

[2016-08-20 21:03] vogonistic commented on #431
@Tranberry The feathub votes will establish a roadmap, it's pretty crucial to get things on there if we want them prioritized

[2016-08-20 21:04] Sommerbo commented on #441
Gah.. I have fixed it but Git is driving bonkers.

[2016-08-20 21:08] svmnotn commented on #435
I think we really need to go over what the standards are for code names vs shown names, because as it stands the art uses the en_US names, other things use the objectType, and then the localization uses something entirely different.

[2016-08-20 21:10] Tranberry commented on #431
@vogonistic  Some topics there are lacking good descriptions, I'm probably a bit nit picky but an idea is barley an idea when it just says "What about aliens". **But if the idea is to 'brainstorm' ideas that later will be fleshed out I kind of understand it.** I'm fine with it either way I just didn't get it.

[2016-08-20 21:16] vogonistic commented on #431
I'm not sure which topic you are talking about, but ideally the better fleshed out one's will win. The problem right now is I think people will want everything. I wish we had something where people could vote for 3 items, and 3 only.

[2016-08-20 21:19] bjubes commented on #359
Quill has stated that the goal of modding is that anyone can mod without needing to install unity or even know how it works.

[2016-08-20 21:22] TomMalbran commented on #435
It might also be a good time to implement an xml with the inventory types metadata (similar to the one for furniture), which for now it might only include the object type ("inv_Name") and the max stack size, and later additional settings per inventory type can be added to that file.

[2016-08-20 21:24] Tranberry commented on #431
@vogonistic I'm going way off topic trying to reply here. I guess I'm just in agreement with you.

But this will be useful for making a game tutorial right, I mean a scenario is not that far off from a tutorial anyhow.

[2016-08-20 21:27] bjubes opened #449 "[Bug] Options and Settings Menu doesn't prevent scrolling"
unlike the save and load dialogs, options and settings have no fullscreen image as their root and don't pause other input like scrolling

[2016-08-20 21:32] svmnotn opened #451 "Non-Code Naming Standards"
Currently nothing really follows any set standard as #435 brought up.
So, here are the ones I'm proposing and lets discuss this:
- Anything inside Furniture.xml is named as follows: `steel_wall` afterwards, in code the `furn_` can be appended at the beginning.
- Lets make something like Furniture.xml for items, so Inventory.xml. The naming here would match furniture, so things inside would be `raw

[2016-08-20 21:35] Randshot commented on #440
I also agree, except for logging calls.
I think that they should be commented out instead of entirely removed.
Just my opinion though ;)

[2016-08-20 21:36] Mizipzor commented on #353
I added a similar one. Maybe the should be combined. Or specialized. You seem to focus on z levels. I talk about taking your base to a new map.

[2016-08-20 21:40] racerand commented on #435
I agree with you @svmnotn. The images right now use the en_US names, which is also currently the same as the objectType. Localization right now would match "inv_steel_plate" which I like. But in furniture there is currently no set naming conventions, as quill started with but never fully implemented "furn_SteelWall", and later commits have use "Power Generator". So just in general I think we need

[2016-08-20 21:40] vogonistic commented on #353
@Mizipzor I'm not really focused on z-levels. I just want the decoupling of World and Map so we can have multiple maps in the same game and z-levels is just a convenient example.

If there is a difference between ours, it's that I want the multiple maps to be both active and simulated at the same time, while yours seems to be one at a time.

[2016-08-20 21:41] Mizipzor commented on #440
@Randshot instead of commenting out, how about logging to the verbose level?

[2016-08-20 21:41] bjubes commented on #451
So any button that opens a menu is prefixed with `menu_` or `button_`?

[2016-08-20 21:42] GamerInspired opened #452 "[Bug] Massive Performance Drop with Tapped Workers"
So I grabbed to latest build to do some play testing, so that I have more of an idea how everything is going. And I found a major issue.

It occurs if you have workers trapped inside a room (this wasn't intentional) and they want to get raw ore from outside it. The error is no path to desired location but it also tanks the frame rate to the point unity crashed.

Also while I'm making this post the

[2016-08-20 21:42] Mizipzor commented on #353
Well put. I like that. :)

[2016-08-20 21:43] bjubes commented on #452
does the error spam the log? If so the log may be causing the slowdown/crash, not the actual logic.

[2016-08-20 21:44] GamerInspired commented on #452
Forgot to mention that they did have access to a mining drone and a metal smelter (6 metal smelters because I didn't won't to wait for metal plates) inside the room.

[2016-08-20 21:46] GamerInspired commented on #452
I couldn't tell you if the error log spammed or not since it was unity that was also dying. It was less than 1fps and I was having trouble trying to close unity.

[2016-08-20 21:48] svmnotn commented on #451
... yeah.. I think just changing all buttons to be `button_` will just be easier on translators, and the ones making the buttons

[2016-08-20 21:52] GamerInspired commented on #452
If you need me to get images/ more information I can but will take a little bit.

[2016-08-20 21:54] svmnotn commented on #435
@racerand as do I, thus why #451 was made ;)

[2016-08-20 21:55] Randshot commented on #440
That's ok too :)

[2016-08-20 21:55] bjubes commented on #451
i agree

[2016-08-20 22:04] bjubes opened #453 "Logger.log doesn't point back to calling line when double clicked"
Since `Logger.log`  eventually calls Debug.log, when the debug message is clicked in unity it opens up the line `Debug.Log(message);` in logger.cs. I know that the line that called `logger.log` is in the stack trace, but it requires opening that file and searching for the line, which slows down bug fixes significantly. Is there a way to make the debug log point back to which script called `Logger.

[2016-08-20 22:13] bjubes opened #455 "In game FPS counter doens't agree with Unity's FPS counter"
![FPS-mismatch](https://cloud.githubusercontent.com/assets/7608114/17834160/c2427cec-6701-11e6-91c0-991fced8444b.PNG)

[2016-08-20 22:16] vogonistic commented on #440
@Randshot @Mizipzor The problem with these kinds of logs is that you only want them when debugging one particular feature, like `job queue` or `pathfinder`. If we make all those logs Verbose, then you'll have to turn on verbose logging everywhere which would probably drown out your logs. It's better to keep commented out logs than turning everything verbose, but I'm not really happy with those eit

[2016-08-20 22:22] Randshot commented on #440
@vogonistic That's why I initially said that logging calls should be allowed to be commented out.
By I also understand that some don't like this either. In C++ I often used logging libraries which handled these kind of problems.

[2016-08-20 22:23] bjubes commented on #387
If there's multiplayer, how would modding work? Mods have the ability to completely change the value of goods and add new materials, effectively breaking any chance of a  "trade network".

Multiplayer, even at any small scale, would be require lots of effort and yield very little game play value. Better to keep trading as a player-NPC interaction.

[2016-08-20 22:24] vogonistic commented on #440
@Randshot Yeah, until we do something better. I'm ok with letting commented out logs calls be committed.

[2016-08-20 22:28] Sommerbo opened #458 "Raw resources should be broken out to a XML file"
Raw iron #260 and Ice #457 are generated when the world spawns.
Currently this is hardcoded into Assets/Scripts/Models/WorldGenerator.cs which is fine for testing but I believe raw resources should be easily moddable and therefore I think they should live in an XML file.

[2016-08-20 22:29] ttyz commented on #440
It might be a good thing to add to "Best practices" section in CONTRIBUTING.md something like: "try to avoid committing commented code"

[2016-08-20 22:30] Sommerbo commented on #441
I finally have PR up #456

[2016-08-20 22:32] bjubes commented on #458
Agree 100%

[2016-08-20 22:40] zwrawr commented on #455
the in game fps counter is a unity asset (right?).

[2016-08-20 22:43] abackwood opened #461 "Making special floor type only available outside"
I'm working on a special floor type that lets characters walk around outside the base without floating away (when this eventually gets implemented). A sort of railing/ladder thing that they can climb along.

My problem is making it so that this type of floor can only be built in the outside room. I don't think there is support for that yet? I know that for furniture there is a valid position check

[2016-08-20 22:44] zwrawr commented on #455
[code]

So unity is disagreing with unity

[2016-08-20 22:46] bjubes opened #462 "Right Menu is anchored to bottom left :/"
![capture](https://cloud.githubusercontent.com/assets/7608114/17834274/75c95890-6706-11e6-8775-9bb58e389f9d.PNG)

Obviously this is very easy to fix, but requires modifying the scene. Should this be fixed now or left for now until  #404 is implemented?

[2016-08-20 22:48] bjubes commented on #455
knowing unity, probably neither!

[2016-08-20 22:49] TheRiven commented on #458
Sounds good to me :+1:

[2016-08-20 22:52] bjubes commented on #455
Actually, I built the game on #456 and then the FPS stayed around 60. Maybe it works in builds, but not in the editor?

[2016-08-20 22:53] bjubes commented on #461
maybe check if its in room 0, which is reserved for outside?

[2016-08-20 22:54] zwrawr commented on #455
Editor has to deal with the editor + game + logging so it's normally slower

[2016-08-20 22:54] NogginBops commented on #453
We would either have to make our own debug window (which I think is on the todo) or append the stack trace to the message.

[2016-08-20 22:59] quill18 commented on #462
Yeah, no -- that's incredibly annoying.  Fixed.

[2016-08-20 22:59] #462 closed

[2016-08-20 23:03] abackwood commented on #461
No I get that. I mean: if this was a furniture I'd make a custom IsValidPosition() method that checks against exactly that and tells the build system it can only build there. But since this is a floor type, the build system doesn't check that.

One option I see is changing the DoBuild() method in BuildModeController, but it feels a bit hacky to change

`if (
                t.Type != tileType &&

[2016-08-20 23:10] Sommerbo commented on #441
And now a cleaner PR #463 Removes unnecessary dependency on UnityEditor and reimplements the functionality with standard IO-library

[2016-08-20 23:16] TheAkashicTraveller commented on #404
I figured out how to add the listeners when I was doing this for the older UI. `newWorld.GetComponent<Button>().onClick.AddListener(() => worldScript.NewWorld());` Works for buttons though I couldn't figure out a way to reference the dialog box game objects because they start disabled and 'GameObject.Find()' doesn't work with them like that. Which I think is going to be a pain to figure out as we

[2016-08-20 23:23] abackwood commented on #264
Not entirely sure if this is the right palce to bring this up, but I'm experimenting with making a special ZeroG Ladder floor type that lets characters "walk" normally on the outside (where there is presumably no artificial gravity).

Normal floors on the outside would provide no friction to characters so be useless for walking, though they can be used to build furniture on.

This obviously does n

[2016-08-20 23:41] svmnotn commented on #461
@abackwood maybe make some sort of extendable `CanBuildHere` function?

[2016-08-20 23:46] svmnotn commented on #461
by the way, if you are going to change that file [this line](https://github.com/TeamPorcupine/ProjectPorcupine/blob/master/Assets/Scripts/Controllers/BuildModeController.cs#L167) has a typo.

[2016-08-20 23:55] dustinwloring1988 commented on #455
Thats a good question

[2016-08-21 00:35] bjubes commented on #453
The stack trace is in the message, but you can't double click the message to jump to that spot

[2016-08-21 00:47] kd7uiy commented on #302
Ideal gas law is the way to go for certain. I think we should ignore the temperature, that's just a level too complex, let temperature have it's own penalty.

I would likely avoid O2, but having CO2 seems like a good idea.

[2016-08-21 01:05] Dormanil commented on #302
I mean, as long as we are dealing with gases and some of our alien friends are not aquatic, the ideal gas law continues to work.

I personally would like a proper gas mix for our space station occupants to live and breathe in. Pure high pressured oxygen is toxic after all. And no matter what species those occupants are, no matter what they breathe, they should use some of that air and have exhaust

[2016-08-21 01:08] kd7uiy opened #468 "[Bug] Floor tile doesn't show when the floor clicked, if furniture is clicked first."
It seems like the menu options are click on click off, which is different than the bottom buttons. Ideally it should be the same, toggle between menus.

![gif](https://cloud.githubusercontent.com/assets/5951269/17834700/34bb8de6-671a-11e6-9f11-7d03aab25d2a.gif)

[2016-08-21 01:14] Tritaris commented on #468
#447 should fix it when pulled

[2016-08-21 01:20] kd7uiy opened #469 "[Bug] Drag area holds when letting go over UI elements"
It's a bit hard to see from this, , but I will say that I let up on the dragging over the UI element. Once released, the dragging is still functional in visual, but doesn't actually do anything.

![gif](https://cloud.githubusercontent.com/assets/5951269/17834736/0d2e474e-671c-11e6-8bbb-a286877056d8.gif)

[2016-08-21 01:47] Randshot commented on #469
Fixed in #470 pull request

[2016-08-21 02:01] bjubes opened #471 "On high res display UI gets very small"
I use an old analog monitor as a second display, so when I noticed how big the UI got I tried it the other way around. On a 5K iMac, the UI gets very, very tiny.

<img width="2672" alt="screen shot 2016-08-20 at 9 57 09 pm" src="https://cloud.githubusercontent.com/assets/7608114/17834855/714ffd30-6721-11e6-9563-d5ec4a17137f.png">

hopefully this can be easily fixed when the UI goes code-based.

[2016-08-21 02:02] vogonistic commented on #147
@mattpott Have you had any time to work on this?

[2016-08-21 02:04] dustinwloring1988 commented on #471
I think this is because the canvas is set to scale - constant pixel. Quill18 talked about this in one of his videos. Easy fix though

[2016-08-21 02:23] kd7uiy opened #473 "[Bug] UI elements showing over others"
![capture](https://cloud.githubusercontent.com/assets/5951269/17834930/ab941fd2-6724-11e6-8f1f-cf30c25e9c76.PNG)

[2016-08-21 02:25] kd7uiy opened #474 "[Discussion] Floor tile looks poor"
![capture](https://cloud.githubusercontent.com/assets/5951269/17834937/f4a886e0-6724-11e6-90b5-f364df902cec.PNG)
It looks to me like compression was turned on for the tile. I suspect this will be a fairly easy fix, it might require writing a custom HTML parser or something similar, I'm not really sure without looking at the details.

[2016-08-21 02:55] bjubes commented on #471
thats good to hear. I was afraid this would require a hacky workaround

[2016-08-21 03:56] Tritaris opened #477 "[Bug] Floor building with PR#267"
This merge #267 introduces a bug when building the floor. When placing a row of flooring south from the starting area. The jobs start at the end of the column but are unreachable so they throw an error: `ArgumentNullException: Argument cannot be null.`  in `Character` line 177 and spawns in anyway.

![1b](https://cloud.githubusercontent.com/assets/282954/17835249/6943f488-6731-11e6-94b2-6f4a182e29

[2016-08-21 04:07] #468 closed

[2016-08-21 04:43] Randshot commented on #477
I found a way to fix this one in 2-4 lines but I don't know if anyone is interested in this one?

[2016-08-21 05:09] vogonistic commented on #477
@Randshot I'm making a slightly larger commit that fixes this and another annoyance I've had. I'll add a reference so you can review.

[2016-08-21 05:20] vogonistic commented on #477
@Randshot Never mind. I noticed that you had a similar solution that I'll merge. Can you push the PR that fixes this issue?

[2016-08-21 05:20] Randshot commented on #477
@vogonistic Ok. Wait a moment.

[2016-08-21 05:26] gunthergun commented on #458
Definitilly !

[2016-08-21 05:50] gunthergun opened #480 "[Discussion] Shouldn't the option menu pause the game ?"
As it currenlty stands you open the options menu dialog box and the game keeps running in the background

[2016-08-21 06:00] bitope commented on #422
I dont think it's a pathfinding issue. It's because jobs are getting aborted and then grabbed again immediately... The character then tries to pathfind to find resources. Just adding a small cooldown to a character when his job gets cancelled fixes the issue.

[2016-08-21 06:11] dustinwloring1988 commented on #480
Yes I'm sure we can add that in while were redoing the UI.   :)

[2016-08-21 06:33] vogonistic commented on #477
Fixed in #481

[2016-08-21 06:33] #477 closed

[2016-08-21 06:39] vogonistic opened #482 "Sometimes characters will wait a long time before taking on a job"
This was introduced in #450 and is caused by the characters waiting 20 ticks each time they abandon a job. A good solution to the problem would be for them to try `jobQueue.Count`, or a reasonable number jobs before they decide to take a nap. Each job check when there is missing material or the tile can't be reached has gotten faster now.

@Randshot

[2016-08-21 06:42] vogonistic commented on #21
While it doesn't cover everything yet, there is a settings.xml now from #401

[2016-08-21 06:42] #21 closed

[2016-08-21 06:43] vogonistic commented on #35
Headers are all pretty now!

[2016-08-21 06:43] #35 closed

[2016-08-21 06:43] vogonistic commented on #57
Can someone create a PR to add the Discord link to the readme?

[2016-08-21 06:44] vogonistic commented on #72
I'm closing this. We've tried it a couple of times and it works well, we just need to identify which bugs are good starters and label them.

[2016-08-21 06:44] #72 closed

[2016-08-21 06:45] vogonistic commented on #85
Closing this issue since it's fixed.

[2016-08-21 06:45] #85 closed

[2016-08-21 06:46] vogonistic commented on #151
Closing this issue since we've already merged StyleCop settings.

[2016-08-21 06:46] #151 closed

[2016-08-21 06:48] vogonistic commented on #156
I'm closing this issue since we merged the PR. Open a new issue if there are more suggestions.

[2016-08-21 06:48] #156 closed

[2016-08-21 06:49] vogonistic commented on #458
Absolutely! Who's up to take it on?

[2016-08-21 06:59] koosemose commented on #302
Ok actually decided to look up how it's done on the ISS, the primary source is electrolyzation of water (and in turn eventually turning the everything back to water). The system isn't a perfect cycle and doesn't completely fulfill the oxygen needs so additional methods are used, and water of course is occasionally shipped up to replenish. The only other thing that IS needed is an inert gas (we of

[2016-08-21 07:01] gunthergun commented on #458
#483 added this :)

[2016-08-21 07:10] lincore81 commented on #431
In my opinion df-likes don't benefit from a story. Yes, there is a premise: three pawns stranded on a rim world/strike the earth. The premise is only a frame for the true story, which is told in terms of game mechanics, an emergent narrative. Who was crushed by elephants, whose loved one got shot, how did the colony of pacifists survive etc.

Of course, there are also games like Theme Hospital, wh

[2016-08-21 07:13] mattpott commented on #147
I have the basis for this but I haven't had a chance to test it out and am currently away from my computer until Wednesday.

[2016-08-21 07:28] petroVARS commented on #482
I stated in that pull request that i am working on a version that does not require a timer, but instead pauses jobs. I am still working on it, but I couldn't post a pull request anyway because there are many conflicts now. I am not really sure how to resolve that quickly because I haven't used git before. However, I would suggest that pull requests should not be accepted if someone else is also wo

[2016-08-21 07:39] abackwood commented on #474
Wasn't the jitter added by design as "grime and dirt"?

https://github.com/TeamPorcupine/ProjectPorcupine/pull/424

[2016-08-21 07:42] Grenkin1988 opened #485 "StyleCop restrictions"
Some one please remove mandatory ```this.``` for local calls. This is really annoying.

[2016-08-21 08:05] #449 closed

[2016-08-21 08:33] UDXS opened #488 "KeyboardController Script Missing"
Unity Says That there is no keyboard controller script for the controller. It says it's missing.

[2016-08-21 08:56] Fogsight commented on #471
Setting UI Scale Mode to Constant Physical Size will fix it, as well as fix any text blurriness, as a side effect. If we want to keep Constant Pixel Size setting, UI would have to be resized manually and fonts would have to be bumped up to double the size to fix the blur, (while scaling down text objects).

So I would vote for Constant Physical Size change as a simplest solution to both.

[2016-08-21 09:02] Mizipzor commented on #440
@vogonistic I'm working on a channel system for logging thats intended to solve that. It's meant to filter message per component, like path finding.

If we allow commented out logging lines there is a strong consensus here. And not a single thumbs down on the initial post. This project is evolving extremely rapidly, I don't know how long these discussions should remain open. 24 hours?

[2016-08-21 09:20] gunthergun opened #493 "[BUG, Easy] There is more ice spawned then maximum allowed"
The maximum is 10 but due to the worldgenerator it spawns more than the maximum. I have no time to fix this now. But it is a really quick fix :)

[2016-08-21 09:22] Mizipzor commented on #453
Yes, this is one of the main drawbacks of having a custom I didnt think there was a way around it but now that you bring it up I did some googling and there seems to be [some people] that have a custom logger that solved this. I'll look into it. :)

[2016-08-21 09:36] Grenkin1988 opened #496 "Issue tracking responsibility"
Who is responsible for this?
At least to close not relevant issues?
4 pages of issues already :-)

[2016-08-21 09:38] Mizipzor commented on #458
@gunthergun Then in one of the commits of #483 you should have written "Fixed #458" and that issue would have been automatically closed when this was merged. :)

[2016-08-21 09:39] Mizipzor commented on #485
On it. Can we assign issues yet?

[2016-08-21 09:40] koosemose commented on #31
Closing this as all the primary things discussed have been implemented.

[2016-08-21 09:40] #31 closed

[2016-08-21 09:41] gunthergun commented on #458
@Mizipzor thank you will remember that. As of now we need better issue management anyways. 98 issues is a lot and many are not relevant anymore

[2016-08-21 09:41] #493 closed

[2016-08-21 09:43] Grenkin1988 commented on #485
@Mizipzor You mean resolve issue by commit?

[2016-08-21 09:43] Mizipzor commented on #458
The Github issue tracker is the best tracker there is as far as I'm concerned. Especially if your project is on Github.

[2016-08-21 09:44] racerand commented on #461
Maybe now would be the time to maybe move floor type to an xml file? And making custom LUA available for floor? Seems like a thing that could be useful.

[2016-08-21 09:45] Tranberry commented on #496
is this really an issue?

[2016-08-21 09:45] fre-ber commented on #440
Since spamming Debug.Log lags down Unity yo the point of crashing, putting all these testing log messages into "Verbose", or even "Debug" would group them all together. When debugging a specific feature, only the log messages for that particular feature is interesting, not the debug messages of the entire game and crashing Unity...

Even though I often keep commented out code, I think that for PRs

[2016-08-21 09:46] Mizipzor commented on #485
No, I mean there is an **Assignees** field to the right, I would like to be listed there. :)

[2016-08-21 09:46] Grenkin1988 commented on #496
I would say it really hard to track where is real issue and open discussions.

[2016-08-21 09:46] gunthergun commented on #496
@Mizipzor suggested an issue tracker in #458 that could help those who are responsible

[2016-08-21 09:46] koosemose opened #497 "[Question] Current status/plans on UI"
I know there has been a fair amount of work and talk regarding the UI, particularly about going code-based. Is there further work going on in this aspect, particularly code-based UI?

I'm primarily interested as I need to implement a toggle for Dev Mode in the UI, as opposed to it's current hackish position as a variable that need to be changed manually, and don't want to edit the scene if there's

[2016-08-21 09:47] Grenkin1988 commented on #485
I think the same as labels. Only those who has merge rights

[2016-08-21 09:48] Mizipzor commented on #496
@Grenkin1988 There are four pages of issues because we have that many. The project is young and there's **so** much to do. We have indeed reached the point where no single person can look at every issue. This is to be expected.

@gunthergun This is that issue tracker. :)

[2016-08-21 09:49] Mizipzor commented on #440
@fre-ber That was indeed the intended usage. You log to **info** as you develop so you see them all, but once youre done and about to push you replace it all with **verbose**.

[2016-08-21 09:49] koosemose commented on #474
Perhaps not so much a bug, but perhaps not the best way to have a grime and dirt thing by having it in the image itself. Our bases will always be dirty, plus the jitter and fuzzing regularly repeated does make it look more like just bad image quality.

[2016-08-21 09:50] racerand commented on #458
Well @gunthergun your fix only moves where the names are read in, does not implement reading the inventory data from xml.

[2016-08-21 09:51] Mizipzor commented on #485
Indeed, I wasnt asking you rather one of the gate keepers. Sorry I was unclear. :) The issue will be fixed regardless.

[2016-08-21 09:51] abackwood commented on #461
I might need some help with connecting to the LUA scripts if i go that route. I followed the tutorials but I'm worried I'll mess something up

[2016-08-21 09:52] Grenkin1988 commented on #485
Also why
SA-1400 (Validates that an access modifier is declared for an element.) and SA 1401 (Validates that a field is declared with private access.) are disabled?

[2016-08-21 09:53] racerand commented on #451
I really like this naming scheme and will begin implementing it for furniture and inventory.

[2016-08-21 09:54] gunthergun commented on #458
@racerand that was the nett logical step to have an items.xml were all item Data is Prototyped

[2016-08-21 10:00] GamerInspired commented on #496
I have this project being watched, so when anything happens it comes up in the notifications area. I then tick all the localisation issues/PR (unless it looks important). Then I just read through the rest.

It defiantly keeps me busy with the amount that come through.

[2016-08-21 10:04] racerand commented on #461
Try it out and see what happens.

[2016-08-21 10:09] ttyz commented on #403
I have finished all of the controllers in #407, it is still rough but much better, as only `WorldController` remains as a `GameObject`. There is still a KeyboardController which I don't understand yet, and some manager classes, that also can be made to non-MonoBehaviour.

@TheAkashicTraveller I've seen your UIController, great job. Personally I think we could stick with a  pure C# class for this o

[2016-08-21 10:11] fre-ber commented on #302
One simplification could be to rename the O2Generator to AtmosphereGenerator and have it produce both nitrogen and oxygen at the correct ratio. If we later want atmospheres that suit aliens, we could simply add more types of atmosphere generators that produce other gasses at different ratios or even make the atmosphere generator have a UI element that allows the player to set how much of what gas

[2016-08-21 10:15] Sommerbo commented on #497
If you end up doing this can you add a simple way of either spawning some of all resources or a toggle to ignore material cost for building?
It would help out when testing more than one furniture.

[2016-08-21 10:16] Xeni91 opened #499 "[BUG] Minions Take steel from workshops to stockpiles"
I just testet some of the maschines and the power cell from #370
which needs steel to work. In my test the Minions are looping between stockpile and maschine with the steel.
I made a showcase video: https://youtu.be/mgGTe-ZraXk

[2016-08-21 10:17] Mizipzor commented on #485
Pull request is up.

Regarding SA1401, we do use a lot of public fields. The norm is to, in that case, use and auto property instead. But it seems @quill18 disagrees with that. :)

[2016-08-21 10:18] Grenkin1988 commented on #485
@Mizipzor @quill18 And what about SA-1400 (Validates that an access modifier is declared for an element.)?
This is such a problem to write down `private`?

[2016-08-21 10:23] Grenkin1988 commented on #436
@TheRiven @relinu I do not really get why it is necessary to change `power Value` on fly?

[2016-08-21 10:31] fre-ber commented on #440
@Mizipzor Yes, but if some poor sod accidentally sets the log level to **verbose**, Unity will die. Maybe, intead of switching these messages to **verbose** before push, one could switch them to **none** or something like that? Then they will still be in there to be easily re-activated but as long as they are at level **none**, they will never be displayed and they will never lag down the game. (O

[2016-08-21 10:33] Sommerbo commented on #302
We could require that two gas generators are built (oxygen & nitrogen) and then have a computer/controller where you set your desired ratio. This could handle none human atmospheres too, by building desired generators and setting ratios. Computer/controller could also be used to vent existing gases into space.

Another thing struck me gas pressure are we just gonna assume that we keep it at 1 atm

[2016-08-21 10:34] Sommerbo commented on #436
I was wondering the same as @Grenkin1988

[2016-08-21 10:34] koosemose commented on #302
For now, I'll leave it as just oxygen internally, and perhaps look into changing names and descriptions to imply it is generating an appropriate mix. I do like the idea of the generator by default generating the right mix, so that those who want to keep it simple can do so, and those who want to try to micromanage the setting for some kind of advantage have that option.

For now my primary goal is

[2016-08-21 10:35] koosemose commented on #497
Currently the only function of dev mode is that it automatically builds furnitures and floors, which includes not using materials.

[2016-08-21 10:36] racerand commented on #451
Actually, I think the naming scheme should be 100% consistent, so that it will always be 'furn_steel_wall' otherwise I think it might get confusing later on.

[2016-08-21 10:44] #351 closed

[2016-08-21 10:45] Grenkin1988 commented on #353
If nobody minds I would give a try to decouple `Map` from `World`

[2016-08-21 10:45] wilcomega commented on #436
a power generator might not always have the resources, like sunlight, coal or hydrogen needed to generate power, if not it will not generate any power and set its power value to 0, and some machines only need to request power when they have a job to do like smelt iron into steel.

[2016-08-21 10:48] relinu commented on #436
A fusion reactor could first need power to start the fusion reaction and after that it generates power

[2016-08-21 10:50] Grenkin1988 commented on #436
@wilcomega O.K. that makes sense. I am not familiar with lua how you someone going to change power Value? Just set new value directly? Can lua access properties?
@TheRiven Would you do this? Or I could try to solve this (possibly I have solution)

[2016-08-21 11:01] Grenkin1988 opened #500 "[Question] Using Resource Files for localization"
Question is why we are not using this for localization?
[Here](http://stackoverflow.com/questions/1142802/how-to-use-localization-in-c-sharp) is description of this.

[2016-08-21 11:06] TheRiven commented on #436
As @wilcomega and @relinu said there are probably going to be times when the state of a machine will change, such as upgrades or fuel issues, and with it the power consumption/production.

My thinking was that the simplest solution might be to remove and then re-register the furniture with the power grid. I was looking into this but will need to look at again now that the code has been refactored.

[2016-08-21 11:13] gunthergun opened #501 "[Discussion] Lua with needs"
I looked at the need system proposed here: #492 and saw that the growth functions were added in via c# which is good for now, for testing. But I think we should let modders decide when and how a need grows with lua code. What do you guys think about this ?

[2016-08-21 11:17] Grenkin1988 opened #502 "[Enhancement] Power system should react on changes to poawerValue"
Power system should react on changes to ```powerValue``` on fly to support situation mentioned in #436
I am working on this

[2016-08-21 11:19] wilcomega commented on #436
#466

In this pull request i made it so the Power Generator requires coal to operate, coal will also spawn now.
in Furniture.cs i added a function that sets the power value, even though lua can already access powerValue directly.

[2016-08-21 11:40] koosemose commented on #302
The more I poke my nose around in this the more dissatisfied I am. I can easily get generation to match the desired times (.16 gas per second does it close to exactly), however, my options as it stands now, is to either generate .2 atmospheres of oxygen (and we just pretend there is nitrogen hiding in there), or generate 1 atmosphere, and label it as breathable air or something (or leave it as oxy

[2016-08-21 11:47] wilcomega opened #503 "[Bug] Menu buttons dont work"
The menu buttons at the bottom of the screen just dont do anything

here is the error that i think is related to this issue as its the only one unity gives.
`NullReferenceException: Object reference not set to an instance of an object
MenuController.Start () (at Assets/Scripts/UI/InGameUI/MenuController.cs:31)
`

[2016-08-21 11:51] gunthergun opened #504 "[BUG] More then two Resources will not spawn!"
It is fixed in #466 but till that is merged. If you want to add more then one resource look at the fix in that commit :)

[2016-08-21 11:51] koosemose commented on #503
Are you on the latest commit? Is there anything else that could have gone awry with your local repository? They work fine for me, except for of course World and Work which I'm assuming are just placeholders.

[2016-08-21 11:55] Dalfi commented on #503
just checked this too and they work also fine.

[2016-08-21 11:59] wilcomega commented on #503
Let me check on master, i am on the latest commit with my own changes, but i didnt change anything about the menus

[2016-08-21 12:11] wilcomega commented on #503
IDK why or how but its fixed.....

[2016-08-21 12:11] #503 closed

[2016-08-21 12:14] Grenkin1988 commented on #436
#506 Made changes in order to enable power system to react on changes to ```powerValue```

[2016-08-21 12:25] kd7uiy commented on #474
Hadn't realized it was intentional. I suspect the best way is to either make it more obvious, or to not have the effect for the lines. I suspect the latter is the best option, for now.

[2016-08-21 12:28] kd7uiy commented on #302
Apollo had an atmosphere of pure oxygen. That would be a reasonable option I suspect.

Also, usually a generator manages all gases, but requires some kind of an input to produce each kind of gas. We could have one generator, with an O2 tank and an N2 tank that need to be replenished at some interval. The CO2 could be produced when there's a person in the room, taking O2 away slowly.

As for the ge

[2016-08-21 12:29] #473 closed

[2016-08-21 12:33] misspellted commented on #503
This experience is pretty much what I go through at least once a week at work. :smile:

[2016-08-21 12:37] bjubes commented on #499
I know that the smelter had a similar issue #339 which probably had a fix similar to this one.
Does this bug also happen in the master branch because if not i think this issue should be a comment on the PR.

[2016-08-21 12:39] kd7uiy opened #507 "[Bug, Easy] Furniture tab tooltip"
![capture](https://cloud.githubusercontent.com/assets/5951269/17837214/996d7848-677a-11e6-9694-7e1314e03017.PNG)

Two issues for this bug:

1. Don't include the tag if there isn't furniture (As shown above)
2. Steel Wall has the tool tip "basic wall". That seems off.

[2016-08-21 12:40] bjubes commented on #480
#449 already reported this issue

[2016-08-21 12:42] kd7uiy opened #508 "[Bug, Easy] Changing menus should drop the active build."
If I'm building a furniture, and click on the floor, we should get rid of the furniture building menu.

[2016-08-21 12:43] koosemose commented on #302
Apollo's pure oxygen didn't work out so well. As is the only way to generate multiple gases would be to hardcode it in, which would of course work for now, but doesn't work so well in the future, for example if aliens with different atmospheric requirements comes along. I'd rather figure out a reasonably good way to designate the mix in xml now. And as a side note, even a modern o2 generator only

[2016-08-21 12:44] fre-ber commented on #353
I still think that "World" is not the right word for the "One True Thing That Holds Everything Together (tm)". A World is, in my mind, too closely related to a planet and keeping that name would make it awkward to add multiple planets in addition to Z-levels.

So instead of breaking the Map out of World I recommend a structure like a SiteManager managing Site objects. Alternatively LocationManager

[2016-08-21 12:44] kd7uiy commented on #302
It worked out, just not in the really high pressure on the ground. Still, having O2 but not N2 could add a fire risk, which might be interesting? Hmmmm...

[2016-08-21 12:45] koosemose commented on #503
If you're using Github desktop, it sometimes gets... weird... I've had things inexplicably fail that I never touched and that should otherwise work in the current build just not work until I force it to reset my repo.

[2016-08-21 12:45] bjubes commented on #508
#447 already done

[2016-08-21 13:01] fre-ber commented on #302
@koosemose Yeah, I thought that I had implemented this in my own version of this project but now when I looked at it I found this:

[code]

[2016-08-21 13:06] wilcomega commented on #503
Thats the thing, i am not using github desktop, i use git bash

[2016-08-21 13:09] quill18 commented on #474
I'm not personally a fan of this particular floor either. I definitely looks more "too much jpeg" rather than just weathered/rusty. That being said, I'm not too stressed over it because I'm sure we'll be replacing almost every are asset at some point in the not-to-distant future.

[2016-08-21 13:25] bjubes commented on #508
@quill18  sorry no I messed up. Hes talking about minimizing the menu when you click on the floor, not the floor menu button.
Please Reopen

[2016-08-21 13:27] quill18 commented on #501
:+1:

Seems like it's just a matter of moving the Need.Update logic to LUA, which is a pretty simple thing to do as a follow-up PR by someone.

[2016-08-21 13:33] dustinwloring1988 commented on #423
They are now :)

[2016-08-21 13:33] fre-ber opened #510 "!GetIsActive() log spam"
I am getting this log message spammed a lot, it has no stack trace or any additional information and looks as if this is due to this: https://fogbugz.unity3d.com/default.asp?817637_vtisjldmljj7vsdc

So it is probably not an issue with this project per-se, but I thought it would be nice to have a notice about it here, both to see if others also have this problem but mainly to give some kind of expl

[2016-08-21 13:38] bjubes commented on #453
[This asset](https://www.assetstore.unity3d.com/en/#!/content/11521) is exactly what I think this project could use. It has callstack navigation (what i opened this issue to discuss) and custom categories which would fix spam in the log.

Maybe we could try to make our own version?

[2016-08-21 13:42] NogginBops commented on #423
@dustinwloring1988 What PR?

[2016-08-21 13:44] vogonistic commented on #482
It's always tricky when multiple people are working on the same thing.

Now in the early project, having it done counts for a lot. When things stabilize, we will try to avoid having people work on the same issue.

[2016-08-21 13:44] Tranberry commented on #453
I would stay clear of any paid or not 'free' asset.

[2016-08-21 13:54] bjubes opened #512 "Localization system documentation?"
a comment on  #509 told the author to use the localization system, but I realized that there is no obvious information available on how to integrate new changes into the localization system.

I'm sure it exists somewhere, probably in a PR discussion, but could someone move it to either the contributing.md or wiki so that there's a clear reference to point to.

[2016-08-21 13:55] quill18 opened #513 "Character Naming should not be in CharacterSpriteController"
`CharacterSpriteController.OnCharacterCreated()` is assigning characters random names.  This is interesting and fun, but the sprite controller is for controlling sprites -- not naming characters.

Additionally, the names are currently being read from a Text Asset (i.e. something in the unity asset bundle) and not from Streamed Assets. That means it isn't as modable.

**Consider a better place for

[2016-08-21 14:06] fre-ber commented on #513
How about a CharacterManager class that both provide a way to create and remove characters but also keep track of them, thus removing this responsibility from the World class?

However, I think that would be a separate issue though, as even that might not be the best place for a random name system. We might want to have random names for other things, not only characters, so maybe a spearate NameGe

[2016-08-21 14:09] #299 closed

[2016-08-21 14:09] FilippoLeon opened #515 "Discussion: Furniture events"
Right now, we can have the furniture items respond to Update() events with an OnUpdate() LUA function.

It is conceivable that a furniture object responds to many different events, such as OnInstall, OnUninstall, OnHitByProjectile?, etc.

I think, right now, there is no plan to change this behaviour. If there is no plan to address this issue I propose the following.

I propose a more flexible way