[2016-08-21 14:11] quill18 commented on #485
@Mizipzor No, I think it's fine to replace public fields with properties.  It's mostly that I'm trying to rush my typing a bit when I'm doing a tutorial.

I do think that forcing protected fields to be properties is a bit anal on the part of StyleCop's defaults, but I can't say that it's *wrong*.

I do see the clarity advantage from enforcing `this` everywhere, but it seems to be relatively minima

[2016-08-21 14:13] Randshot commented on #482
@vogonistic @petroVARS So, while I was working on this issue, I decided to implement your (vogonistic) mentioned "Waiting Job".
In the end I have come up with a solution (probably) very similar to petroVARS.
Should I post a pull request?

[2016-08-21 14:13] #485 closed

[2016-08-21 14:14] vogonistic commented on #482
If you think it's ready, post the PR. Make sure you reference this issue with something like `closing #482`

[2016-08-21 14:34] #482 closed

[2016-08-21 14:38] bjubes commented on #515
So you propose we add On"event-name" tags you can put in the furniture XML and then implement them in the XML Parsing code so that lua code can react to different furntiure events? Kinda like:
[code]
If this is what you mean, it sounds good to me!

[2016-08-21 14:42] kd7uiy commented on #508
![gif](https://cloud.githubusercontent.com/assets/5951269/17837837/d74245de-678b-11e6-82b9-aeac57c0c921.gif)

Hopefully this GIF shows the issue a bit better. When the furniture menu is opened, it should cancel the floor building, and visa versa.

[2016-08-21 14:44] #504 closed

[2016-08-21 14:47] fre-ber opened #519 "StyleCop SA1512: A single-line comment must not be followed by a blank line."
I do not see the benefit of this rule and vote for disabling it. In many places we have TODO sections similar to this:
[code]
I think that the line separating these comments is useful, but this StyleCop rule disallows this. What do you think?

[2016-08-21 14:52] kd7uiy opened #520 "Proposed PR convention for changing the scene"
Let's make it really obvious when there's a PR that changes the scene. Why? The scene doesn't merge well, and as a result any change to it could cause serious issues. So this should be specifically called out in the PR request, so that if someone wants to make a change to the scene, they can look to see if there's already a PR in relation to it.

Let's just put [SCENE] at the beginning of any titl

[2016-08-21 14:52] fre-ber commented on #519
Oh, actually I was wrong, that use of comments is still allowed. What isn't is a blank line after the comment and the collowing code, like this:

[code]

I still vote for disabling the rule.

[2016-08-21 14:57] Xeni91 commented on #499
Well I was not able to create the scenario in master because I there is no workshop that requires more than 5 steel.

[2016-08-21 14:57] UnknownSoldier1 commented on #512
Edited the wiki: https://github.com/TeamPorcupine/ProjectPorcupine/wiki/Localisation

[2016-08-21 14:58] Ceddini commented on #513
I guess you're right. I thought about it, like in RimWorld, where there is no real access to the name files (at least that I know of). And I wanted it to be a little reward for being a contributor, because the names are all from the contributor. But I slept over the idea that it isn't accessible to others and I remembered a time, when I added my friends to Prison Architect... So I will definitly c

[2016-08-21 14:59] kd7uiy opened #521 "Starting furniture/ ship size"
I believe the general thought is that the starting location should be a small ship. On that ship, there should be a little room to produce air, electricity, and anything else required for "life support". It should have a Space Suit on board for the day when we get that figured out. I would also suggest having a mining drone external to the ship, and a smelter inside the ship, with enough room to m

[2016-08-21 15:00] FilippoLeon commented on #515
Forgot to tag the xml code I wrote as code ,fixed now.

The idea precisely that one.

[2016-08-21 15:08] Mizipzor commented on #485
@quill18

Yyeess, join the dark side. :)

On a more serious note, the rules you mention are still open for debate. One nice aspect of StyleCop is that you either turn the rule on or of. And the enabled rules leaves no room for interpretation.

[2016-08-21 15:13] ttyz opened #528 "[Discussion] Modding management"
I have mage a simple modding solution (It just came along, did not plan ahead, so no issue was here before) #522. So may this will be a place to discuss further actions on this topic.

Currently moddable in PR:

- Furniture.xml
- Furniture.lua
- Sprites

Plans

- Localization
- Mod manager (install and update from, probably, GitHub)

[2016-08-21 15:14] jakebacker opened #529 "Astronauts cannot pathfind through doors or airlocks."
After some time, astronauts just get stuck at doors and don't go anywhere. As soon as the door or airlock is removed, they start moving. When the world was first loaded, they would move through fine but after a bit they would get stuck. If I never removed the doors they wouldn't get stuck.

[2016-08-21 15:15] Mizipzor commented on #440
@fre-ber Hm, no I'm gonna have to respectfully disagree. I dont think anyone could _accidentally_ change the log level and then wonder why Unity slows to a crawl with log spam.

Also, though I havent tested this, but I think that the most expensive part, by far, about logging is rendering that log view. If you would run the game outside Unity, or even with the log window invisible it wouldnt be ne

[2016-08-21 15:19] FilippoLeon commented on #371
I think this issue has been fixed, right?

[2016-08-21 15:19] #371 closed

[2016-08-21 15:22] NogginBops commented on #528
@ttyz Isn't localization already moddable?

[2016-08-21 15:23] sboigelot opened #532 "Funiture params"
Furniture params can only be float.
We should expand this to allow at least string as a valid param.

[2016-08-21 15:25] fre-ber commented on #513
My first thoughts on this were to have a static class NameGenerator, maybe in Utilities, then let that class have a static function called something like Init(), this function would, when called, read in the file with names. In addition, the class would have another static method, GenerateRandomCharacterName or something like that. This would return a string with the new name.

Then, some class ne

[2016-08-21 15:25] ttyz commented on #528
@NogginBops Yes, it is on a global scale, But if you create a standalone furniture mod, there will be no localization for it in the game, so you would have to provide your own lang files. There is no support for this yet.

[2016-08-21 15:25] JosephBywater opened #533 "Lighting, Lights and Darkness"
I think that Lighting is going to be a nice feature to have in the game. This issue will be to serve as a discussion about lighting and how it will be implemented I was thinking that we could use Unity's lighting feature however, I think that that is more suited 3d games.

So, how should we implement lighting and darkness in the game. (I'll make a list here):
1. Unity lighting
2. A mask with diffe

[2016-08-21 15:29] NogginBops commented on #528
@ttyz Good point. Didn't think about that.

[2016-08-21 15:32] fre-ber commented on #440
@Mizipzor Well, what is the point of having a log level that can't be used?

Sure, this might not affect the game outside of Unity, but as it is now, all these spamming log messages has the potential to make it almost impossible to develop and test things.

[2016-08-21 15:34] NogginBops commented on #528
@ttyz I'm working on making the localization moddable.

[2016-08-21 15:36] Ceddini commented on #513
Okay, thank you! :D
Now I know exactly what should be done. But I will still leave my PR up to fix it for now, until I have something better to show, or until someone made something better.

And the idea of completely random names sounds pretty interesting to me. I would love to see something like that implemented. Do you possibly know where I could find a good source on how to do something like t

[2016-08-21 15:38] fre-ber commented on #532
A simple way could be to add another dictionary, stringParameters, but as came up in the atmosphere discussion, we might need a more flexible parameter system that would allow us to specify things like a string AND a float together in a single parameter.

Turning all parameters into strings and have them encoded in json or something would be a possibility, but a possibility that I don't particular

[2016-08-21 15:38] ttyz commented on #528
@NogginBops That is great! You might want to wait for PR #522, because it has a class for loading mods in place. You can access it in `WorldController.Instance.modsManager`, `getMods` method will return a list of `DirectoryInfo` objects to look into. You can check it out in my branch.

[2016-08-21 15:38] Sommerbo commented on #533
Instead of writing our own we could look at: https://www.assetstore.unity3d.com/en/#!/content/24083

[2016-08-21 15:39] NogginBops commented on #528
@ttyz I was thinking exactly that. :)

[2016-08-21 15:41] Mizipzor commented on #440
@fre-ber I'm working on a channel system for the logs where youre meant to be able to turn on or off certain systems, like path finding. Regardless, we're going rather off topic, create an issue if you want to be certain that this is addressed, or wait for the channel thing.

[2016-08-21 15:44] Tranberry commented on #533
I'm going to repeat what I said elsewhere; I would think that making things ourself will make us free from any licensing hassles that might occur.

[2016-08-21 15:47] fre-ber commented on #440
Ah, sorry, I will stop talking about that now, ;-) I think that we mostly agree anyway - the channel based system will solve the issue.

[2016-08-21 15:47] ttyz commented on #528
@NogginBops It's in the main repo now. I will go on with github integration

[2016-08-21 15:50] FilippoLeon commented on #533
What about the license of that shadow asset? Is see a pro version but cannot figure out what are the limitation of the free version.

In theory it could be used, but maybe implementing from scratch (for a project like this) might be a better solution, if somebody is willing to do it. Even if it means reinventing the wheel.

The idea of adding lighting is a good one.

[2016-08-21 15:52] Entrio opened #536 "Technology research"
I think that being able to improve technology or research new types is a must for a game like this one!

I like the idea where you have few main paths:
1) Main tech research. This is used for unlocking new tech such as improved airlocks, composite armor plating etc.
2) Virtually endless research of small boosts. Few examples: efficient reactor maintenance ( small boost to overall power generation)

[2016-08-21 15:53] fre-ber commented on #533
One who re-invents the wheel knows much better how the wheel works.

[2016-08-21 15:54] FilippoLeon commented on #532
what about:
`<Param name="oxygen" type="float">55</Param>`

store everything as string inside a structure:
`
Dictionary<string, structure_similar_to_tuple>
`
where the key is a string (name) and the value is a "tuple" value + type
and convert using a function:
[code]

[2016-08-21 15:55] dustinwloring1988 opened #537 "[Discussion] XML UI"
I was trying to start on a XML style UI and was wondering what everyone thought about it. This will allow for easy editing with out touching the _SCENE_ file. Also just like the whole concept of this project it will be easy to mod after the project is built.
All input is welcome good, bad or indifferent.

[2016-08-21 15:58] zwrawr opened #538 "Make settings work"
Most of the settings in the settings menu do nothing.
All of these setting need implementing , some may be easy some might be quite hard to do , some will need to wait till other functionality is implemented *(e.g. a music controller)*
e.g. *as of #535*
[code]

It would be best to wait until PR #535 is closed.

[2016-08-21 15:59] Mizipzor commented on #519
The reason for this is consistency. If youre commenting a certain line the comment should be directly above that line and nowhere else. The rule that disallows this serves the same purpose.

[code]

But what if you aren't describing a certain line? You've found a such a use
case. And I actually thought it was four `////` rather than three `///`, but this type of comment is exempt from many of the

[2016-08-21 15:59] Grenkin1988 opened #539 "[Question] PRs question"
I'd really want to know what are general principles on merging PRs. Quite often there are commits with new PRs, and some old one, even without conflicts waiting something.
P.S.: I am not complaining, just interesting to know :-)

[2016-08-21 16:02] fre-ber commented on #513
I based my old code on this https://github.com/gilles-leblanc/RandomNameGenerator but since I don't know ruby at all, it took me some time to understand how it works and I am still not 100% certain that my code does the right thing.

[2016-08-21 16:04] Sommerbo commented on #533
I tried finding any info on the license but I failed. Unity's licensing seems very open but still who knows.

[2016-08-21 16:05] NogginBops commented on #528
@ttyz Is done! #541

[2016-08-21 16:05] kd7uiy commented on #508
@vogonistic Perhaps you could re-open this?

[2016-08-21 16:07] Tranberry commented on #539
if you where on the discord chat you would probably get an answer faster https://discord.gg/h7erR

[2016-08-21 16:11] Kreol-Dev commented on #520
We probably instead of this should decompose the scene into more modular parts, so anyone who want's to add UI, for example, would need to create a new scene, and it will be loaded additively, instead of one blob-scene.

[2016-08-21 16:14] fre-ber commented on #519
LOL, that /// was actually a typo, however, I can accept the need to use //// instead of // for these comments, but I think that this means that we have a lot of things to change and, as you say, we need to update the guidlines.

[2016-08-21 16:17] kd7uiy commented on #520
I'm not really sure how to do drag and drop scenes. I suppose we could set it all up with prefabs maybe, and that would reduce the need to edit the scene somewhat? Just edit the prefab, not the entire scene, unless you are doing something to the entire scene?

[2016-08-21 16:22] Grenkin1988 commented on #539
@Tranberry Are you kidding? That's involve speaking with real people. That's worse what could happen :-)

[2016-08-21 16:23] Ceddini commented on #513
Thank you very much! 😄
I will read it as soon as I finish the NameGenerator.

I added the Init method to `WorldController.OnEnable()` because I didn't find a better place for it.
But I also added a AddName() and RemoveName() functionality to the NameGenerator and made it accessible from lua!

[2016-08-21 16:23] Tranberry commented on #539
I'm using it only for text, almost like reading a comic. :dart:

[2016-08-21 16:25] fre-ber commented on #513
Cool.

[2016-08-21 16:36] FilippoLeon opened #544 "[Discussion] Health system"
I saw talking about needs and enemies. But I searched for health related issues and found no mention of it, so correct me if somebody is working on it/if there is agreement on not working on it right not.

That being said, I'd like to start thinking about an health system. I'd like to work on it, but assemble a team of people to do a cooperative effort.

I have ideas and am willing to work on the

[2016-08-21 16:36] Kreol-Dev commented on #520
Create a new scene - add your UI.
Store it in a specified folder.
From the main scene search that folder and call LoadLevelAdditive for each of them.

[2016-08-21 16:45] gunthergun commented on #544
I would gladly help :)

[2016-08-21 17:01] Randshot commented on #539
@Grenkin1988 You can chat OR use voice communication on Discord servers.
![discord](https://cloud.githubusercontent.com/assets/7832423/17838602/9a0b4792-67d1-11e6-9308-107557ece505.PNG)

[2016-08-21 17:21] kd7uiy commented on #520
Okay then, let's use this issue to decide how to organize everything. Most
of the Scene is UI, so more organization than that is required.

On Aug 21, 2016 12:36 PM, "Виталий Буланенков" <notifications@github.com>
wrote:

each of them.

<https://github.com/TeamPorcupine/ProjectPorcupine/issues/520#issuecomment-241267608>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AFrPJY

[2016-08-21 17:25] gunthergun opened #546 "[Bug] Removing designation removes the designation image but job still exist somewhere"
If you setup the designation for a steel wall for example and then remove them. The image goes away but if you don't add any new jobs the characters go and still build those designated walls but we do not see them. I looked into it and see that when CancelJob is called there is no job in the jobqueue when this happens. So that means the job we are trying to cancel cannot be removed from queue, thi

[2016-08-21 17:27] dustinwloring1988 commented on #423
i dont remember but i submitted it about 16hrs and it was accept about 12hrs ago

[2016-08-21 17:33] Randshot commented on #546
Hm, that seems interesting.
The character normally caches the job it is currently working on in Character.myJob and also removes the job from the job queue to prevent other characters from also taking this job.
In my last PR #517 I added a waiting queue for jobs for which there aren't enough resources to complete.
Maybe, I missed something there? Still looking into this though.

[2016-08-21 17:34] gunthergun commented on #546
Yeah that could be it maybe if we also cancel jobs from the waiting queue as well if we cancel jobs this will solve it

[2016-08-21 17:35] Randshot commented on #546
I am currently trying this :)

[2016-08-21 17:38] gunthergun commented on #546
I tried it as well and it seems to fix it by adding `World.current.jobWaitingQueue.Remove(this);` to cancel job in job class, but it throws me some errors I think. Please try and look at this because I do not know if you have any flags set when you add something to your waiting queue :)

[2016-08-21 17:38] Randshot commented on #546
@gunthergun I can't seem to reproduce your described behavior.
Could you maybe explain it again or make a gif?

[2016-08-21 17:39] gunthergun commented on #546
Do you know how to make a gif ?

[2016-08-21 17:40] Randshot commented on #546
I have never made one, but you probably make them by recording a video and then converting it into a gif with some online service.

[2016-08-21 17:42] gunthergun commented on #546
ok just build a metal smelter and a mining drone... put a designation for some steel walls down where the characters can reach it and then directly afterwards delete those walls. in some time they will be build by the characters.. i will see if I can get a video up

[2016-08-21 17:53] ttyz commented on #528
Will wait for #537, before making a PR for github integration, because there will be quite a bit of new UI.

A good new goal would be to make Inventory moddable. I will not be able to start working on this till next weekend, so if anybody is interested, you are welcome :)

[2016-08-21 17:55] gunthergun commented on #546
The video is uploading to youtube :)

[2016-08-21 17:58] Tranberry commented on #528
Have we talked about making the core furnitures and materials into a 'core mod'? I might quite possibly be blind.

[2016-08-21 17:59] gunthergun commented on #546
https://www.youtube.com/watch?v=B6wHURZR_O4&feature=youtu.be here you go :)

[2016-08-21 18:02] Randshot commented on #546
Thanks. Found the issue and fixed it.
The problem was that in the OnInventoryCreated callback, it tries to access the job which leads to the error.
Will create a PR shortly :)

[2016-08-21 18:04] gunthergun commented on #546
Thank you, in the commit put that it fixes this so that it will automatically close if merged :)

[2016-08-21 18:09] ttyz commented on #528
I  should have missed this discussion also. The idea of a core mod is great and easily implementable at the moment for furniture, so someone can start on this. The only issue is that Mods directory is in `.gitignore` at the moment to prevent somebody from accidentally pushing their mods to the repo, but it is possible to override with the `-f` flag when doing `git add`

[2016-08-21 18:10] Tranberry commented on #528
couldn't it essentially be a mob but loaded from elsewhere?

[2016-08-21 18:13] svmnotn commented on #528
Well, I was just thinking about this. I thought of making something akin to:
`StreamingAssets/TeamPorcupine`
`StreamingAssets/ModName1`

sort of like KSP does, where all the mods just go in the same folder as the 'official' data.

But how would replacements be handled? if a mod also defines a SteelWall which one do we take? Do we only do the official? do we do the mod? what if 2 mods add the same

[2016-08-21 18:16] Tranberry commented on #528
imo, mods should overwrite the core.

[2016-08-21 18:16] svmnotn commented on #528
but do mods overwrite each other?

[2016-08-21 18:17] Tranberry commented on #528
mods, should throw an error if they conflict. Just not the 'core mod'. But that's just my opinion.

[2016-08-21 18:21] MANDAL0R3 commented on #544
Currently there is this https://github.com/TeamPorcupine/ProjectPorcupine/pull/135. So there's something begin worked on.

[2016-08-21 18:23] vogonistic commented on #528
I think putting furniture, inventory and most graphics in a core mod is a great way to do things. That way we ensure that all the apis exist.

Other mods should be able to change what is in the code mod or add to it.

[2016-08-21 18:31] Ferr013 opened #550 "Setting up the Project during first installation"
Hi, I've encountered a problem when I've tried running the game in Unity 5.3.2f1
There were some issues showing in the console, and when I 've tried to fix those many more came out...
(the first was around the Instantiate method, I added Quaternion.identity as third parameter and things got worse)

I think I should tweak some parameter in the inspector or maybe set up something differently.
I 'm n

[2016-08-21 18:32] vircung commented on #528
Another point to think about should be to rules for overwrites.
- what if 2 or more mods changes attributes of item from core
- what if 2 mods defines item with same name but w/o intention of overwrite
- can mod depend on other one

[2016-08-21 18:32] svmnotn commented on #528
we need to make sure that we can "call lua across mods" as @vogonistic pointed out on discord.

[2016-08-21 18:32] zwrawr commented on #550
Update to unity 5.4
Might have to redownload unity

[2016-08-21 18:33] #539 closed

[2016-08-21 18:33] vogonistic commented on #528
Mod dependencies are probably good. Not sure how to track collisions unless they define what they add and overwrite.

[2016-08-21 18:33] Ferr013 commented on #550
thank you!!!
I'll try right now :+1:

[2016-08-21 18:38] zwrawr commented on #550
What Parameters were in your call to Instantiate () , any of these should work
[code]

[2016-08-21 18:40] svmnotn commented on #528
well we could always just keep track of which mod adds what and then have them not collide?

For example `teamporcupine_furn_door` is different from `myawesomemod_furn_door`

[2016-08-21 18:44] QuiZr opened #551 "Move localizations to a separate repository and download them at start of the game."
This will clean up commits in main repo and also ensure that everyone has up-to-date version of localization (as it will be downloaded at runtime).
@quill18 should create a separate repository in TeamPorcupine purely for .lang files (of course if this issue get's nice feedback).

[2016-08-21 18:48] QuiZr commented on #551
I don't see any way to assign me to this issue but I will be working on it tommorow (utc time).

[2016-08-21 18:48] Mizipzor commented on #551
I dont think the commits are a problem, if you find them noisy its easy to just check the history of one folder (or file). I think people are jumping on the localization tasks because they are very easy to do, little coding required and very easy to get right. And you know what? Thats a good thing. If these are newcomers to opensource projects its perfect to have theses tasks so that they can prac

[2016-08-21 18:55] FilippoLeon commented on #551
What we can do is pull all localizations into a separate branch, that gets merged every now and then to master.

[2016-08-21 18:55] svmnotn commented on #551
@Mizipzor you are right that commits do not pose too much of an issue, however the second part of the issue (keep localisations up to date) is definitely useful, especially when things are getting added so quickly. And by having them on a separate repo they can be looked at without looking at the other 36 PRs thus changes to that can be done quicker.

[2016-08-21 18:59] Mizipzor commented on #551
Hm, and with a separate repository we could be more liberate with write access. I still kinda see it as bureaucratic nonsense but if I'm the only one opposing, well... ^^

Are we linking the repositories with `git submodule`?

[2016-08-21 19:03] QuiZr commented on #551
I would just keep them separate and download at build/runtime

[2016-08-21 19:17] svmnotn commented on #551
downloading at runtime would be best

[2016-08-21 19:18] zwrawr opened #553 "Names starting with an underscore and StyleCop"
There are a fair few variables in multiple classes that start with an underscore , StyleCop is currently complaining about these , Which one needs to change

[2016-08-21 19:26] Grenkin1988 commented on #553
variables

[2016-08-21 19:29] ttyz commented on #551
it is possible to do via modding, PR #541 should help with that.

[2016-08-21 19:29] FilippoLeon commented on #551
I'm not that fond of this idea: it will be an unnecessary layer of extra complexity.

What if there is no connection? + extra strain on servers. + somewhere needs to host this.

[2016-08-21 19:30] andallas commented on #496
I'm interested in helping with this project, and am going through the issues right now. I agree that help is needed to keep things organized. I don't mind helping and am very familiar with github and C# (C# developer professionally).

[2016-08-21 19:31] Tranberry commented on #551
@FilippoLeon wouldn't the last one be cached?

[2016-08-21 19:32] zwrawr opened #554 "Private public method ordering and StyleCop"
Style cop wants all private methods to come before public methods, this would mess with regions and may stop methods being placed in a logical order. Opinions ?

[2016-08-21 19:32] ttyz commented on #551
@FilippoLeon mods are installed once and updated occasionally, also those can be hosted on github, just in a personal repo

[2016-08-21 19:33] QuiZr commented on #551
Current localization should be added at build time. Every time that there is a connection there should be a check if there are any new changes on repo. If so there should be downloaded and cached locally. For now we can use github just fine.

[2016-08-21 19:35] FilippoLeon commented on #554
private before public? I'd rather have public before private. In that case: I wouldn't enforce it, because there may be exceptions, but it should be a "suggestion".

[2016-08-21 19:39] FilippoLeon commented on #551
In that case it should be fine.

[2016-08-21 19:42] Mizipzor commented on #553
Lets take a closer look at some of the rules enforced by StyleCop for fields.

However, not all fields are treated alike.

It's important to remember that we can turn these rules _off_. But not modify or replace them (well technically we can, StyleCop is open source but... lets not even go there). So if we decide on something else we give up a lot, like the automatic checking, the zero room for in

[2016-08-21 19:42] NogginBops commented on #554
I don't think that adds to readability. I don't think there could be a rule for this, its too case specific.

[2016-08-21 19:51] Mizipzor commented on #554
It's the other way around. Public before private. The rationale is that you read the class from top to bottom trying to understand it and then it makes sense to only show the public first. Only if you dive deeper (quite literally) you see the private methods.

While grouping methods logically is a good though in spirit its really hard to do well. Methods tend to change a lot and you dont want to m

[2016-08-21 19:53] bjubes commented on #496
Well in don't think anyone but the gatekeepers and OP authors can close issues. So technically it's your responsibility to close your own issue

[2016-08-21 19:54] Mizipzor commented on #551
Surely English are included by default? Or are you trying to turn this into an "always online" game? Cant play if it cant talk to github?

[2016-08-21 19:56] NogginBops commented on #496
@bjubes If someone commits a PR which says "Fixed #xxx" then that issue will close automatically when merged

[2016-08-21 19:57] NogginBops commented on #551
@Mizipzor English is always available.

[2016-08-21 19:57] andallas commented on #496
Agreed, but since this project has a lot of people who are new to git and open source projects, mistakes are bound to happen. I think it is reasonable to have 'mods' for a project this size who help out with this.

[2016-08-21 19:59] bjubes commented on #546
That is, if the gatekeeper keeps your wording when they merge

[2016-08-21 20:01] QuiZr commented on #551
@Mizipzor

[2016-08-21 20:01] Mizipzor commented on #496
@andallas Theres a handful of them and last I heard @quill18 think thats quite enough. You can help a lot without additional permissions. The project is young, a lot of really eager people is jumping on tasks left and right. There will be chaos for a while. Going through the issues and participate in the discussions and help decisions be made is far more valuable than closing them.

[2016-08-21 20:02] Mizipzor commented on #551
Great! My work here is done. :)

[2016-08-21 20:16] bjubes opened #557 "[Bug] Metal Smelter smelts without anyone working it"
![bug](https://i.gyazo.com/2fb21fad04a7f11b640252ed4b0571ac.gif)

After a character puts 50 Iron in the smelter, it will make plates without anyone working it. Is this supposed to occour?

Also, shouldn't the metal smelter start making plates when the minimum iron is put it (ie 5 not 50)?

[2016-08-21 20:21] koosemose commented on #302
The more I think about this, the more I realize that, unless there is a way to store multiple values in a single value in an attribute (such as `GasType="O2,N2" GasRatio=".2,.8"`) and being able to get them back out properly, we're going to need XML tags (and matching variables in furniture) specific to gas generators if we want to have gas generators capable of generating more than one gas type.

[2016-08-21 20:26] Mizipzor commented on #557
I thought it was automatic.

[2016-08-21 20:29] gunthergun commented on #50
#442 fixed this please close this issue :)

[2016-08-21 20:41] zwrawr commented on #554
*I tottaly get this* mainly making the issue so that people see this and stop doing it , i've just made a pull request to improve styles of models and these were the things that i was seeing that are harder to correct . #558

[2016-08-21 20:44] zwrawr commented on #553
Also the current defacto standard for call backs is cbSomeThing which also make StyleCop upset

[2016-08-21 20:49] kd7uiy commented on #302
GasTypes=2
Gas1=O2
Gas1Ratio=.2
...

On Aug 21, 2016 4:21 PM, "koosemose" <notifications@github.com> wrote:

[2016-08-21 20:54] koosemose commented on #302
Hmmm... that would be workable, but still feels a bit hackish. Especially considering a modder accessing it from lua in the future, having to do all the concatenation and looping, when they really should just able to get a list of gas types and use those to get ratio and rate and whatever else.

[2016-08-21 21:04] UnknownSoldier1 commented on #557
Yes, the first is intentional. The second is a a bug i think.

[2016-08-21 21:14] bjubes commented on #537
The only concern is that there is A LOT of stuff unity takes care of when making UI. Nine sprite splice, anchors, parent and child anchors and positions, etc....

If this is changed to XML, the work has to be done manually, which would take much longer. Its the same problem with making Spritesheets in XML, its a pain to type out a file of each wall and specify each x,y,width,height,ppu of each var

[2016-08-21 21:26] bjubes commented on #557
okay, ill submit a new issue with just that one then

[2016-08-21 21:26] #557 closed

[2016-08-21 21:27] Fogsight commented on #554
I don't think that ordering of methods should be enforced, if there are too many methods in one class it is a sign that it should be refactored into separate classes. This would lessen the probability of conflicts as well.

[2016-08-21 21:28] bjubes opened #559 "Metal Smelter only makes plates when full"
If you put anything less than 50 iron in the smelter, it won't do anything, but once the metal smelter has a full 50 iron, it makes plates until no iron is left

[2016-08-21 21:29] bjubes commented on #550
If updating unity worked, please close this issue.

[2016-08-21 21:30] bjubes commented on #554
Maybe do this from now on, but moving methods in previous code will cause needless PR conflicts for almost no gain

[2016-08-21 21:36] fre-ber commented on #537
@bjubes I think that you are correct about the UI it would be quite tricky to get a flexible UI this way. As for extracting sprite sheets from the meta-files, I made a little script for that, posted in the comments of episode 64 of the tutorial video series. Perhaps it can be useful. I haven't tested it with the latest version of Unity, though. But if something changed, it shouldn't be too hard to

[2016-08-21 21:43] Gixen opened #560 "[Question]Astronauts cant fly around in space?"
So i forked, downloaded and testet the scene in unity. After a while i was thinking "Why arent the guys getting stuff?" So do they actually need built floors to zip around and collect stuff on "asteroids" because of the pathfinding? Because that would just seem silly.

[2016-08-21 21:46] ttyz commented on #537
I think the best solution is to make some reusable components, like dialog, buttons, fields, which will be stored as prefabs, or preferably generated on the fly, and only reference those in the xml files:
[code]

Trying to replicate a UI system with the same level of flexibility Unity has is too big of a task I think.

[2016-08-21 21:47] NogginBops commented on #560
@Gixen I think that this is something that is going to change a lot. But right now characters can only walk on floor tiles and empty tiles that have a floor tile adjacent.

[2016-08-21 21:56] fre-ber commented on #302
In my project, I changed the atmosphere code so that I have a class named GasMixture, it contains a dictionary of gas name(string) and amount (float). For the amount I used kg, but I am sure that I could just as well use the percentage of one Earth atmosphere as a unit as we have here now. Now, in my code, each room has one instance of the GasMixture class and the amount represents how much of tha

[2016-08-21 21:58] zwrawr commented on #559
Betting is related to #419

[2016-08-21 22:00] Mizipzor commented on #553
It should be CbSomeThing in that case. Or, rather, CallBackSomeThing to avoid acronyms (its not obvious to everyone). But as a rule, I prefer to avoid hungarian notation prefixes entirely.

[2016-08-21 22:04] Ferr013 commented on #550
Yes it worked!!!
Thank you again

[2016-08-21 22:04] #550 closed

[2016-08-21 22:04] Mizipzor commented on #554
Even classes with very few methods benefits from structure.

[2016-08-21 22:18] NogginBops commented on #553
@Mizipzor OnSomeEvent is also an alternative to cbSomeThing

[2016-08-21 22:24] NogginBops opened #563 "Making Tile types not be hardcoded"
I think that it's not a sustainable idea to just have a enum for the tile type. I think that it would be beneficial to be able to define tiles through a .xml file to allow mods to add custom tiles.

This issue relates to #543 and would mean that the build floor menu would have to be created programatically.

[2016-08-21 22:24] Mizipzor commented on #553
@NogginBops Thats another good alternative, I personally only use for the handlers of an event or callback, rather than the event itself. But that splitting hairs now. :)

[2016-08-21 22:28] racerand commented on #563
Sounds great, just do it!!!

[2016-08-21 22:34] NogginBops commented on #563
I'm going to bed. If no one has done it when I wake up I'll do it.

[2016-08-21 22:47] zwrawr commented on #559
after looking at the code , it seems that the input inventory must be nil until it starts smelting which would explain why its not showing any input inventory until it hits 50.
[code]

and then in the job complete call back we make an inventory in the spawn spot tile so then that inventory isn't nil anymore

[code]

I have no clue how to go about fixing this as i'm unsure how a lot of the lua and

[2016-08-21 23:48] kd7uiy commented on #563
This should be a pretty easy fix, if someone wants something to start with.

[2016-08-21 23:51] itay347 opened #565 "Quality in Settings is not functioning correctly (reversed)"
Basically:
# The items in the Quality Dropdown are reversed:

- When **choosing Low** in the Quality setting, it actually **sets to high** quality.
- When **choosing High** in the Quality setting, it actually **sets to low** quality.

## Why is this happening?

In [DialogBoxSettings.cs](https://github.com/TeamPorcupine/ProjectPorcupine/blob/master/Assets/Scripts/UI/DialogBox/Settings/DialogBoxSett

[2016-08-21 23:56] b4ux1t3 commented on #563
So, I'm looking in to this, and figured I'd share what I came up with so far.

Functionally, you would need to provide a few things in the XML file (Or maybe there would be a single `tiles.xml` file):

- Name
- Enterability
- A reference to a sprite (or multiple sprites in the case of an animated tile)
- Some other info about the tile

As an example:

    <tiles>
        <TileType>
            Flo

[2016-08-22 00:00] NogginBops commented on #563
I would like to do it if no one is going to. But I'm going to bed now (after watching youtube for too long) and if anyone is willing to do this then I'm not going to stop them. (I sleeping how do you think I'm going to stop you)

[2016-08-22 00:01] Mizipzor commented on #565
It should be detailed, that's a good thing. :)

[2016-08-22 00:16] bjubes commented on #563
<sprite name="FloorSprite" type="Unity.Sprite">
        <location>path/to/sprite</location>
    </sprite>
[code]

[2016-08-22 00:17] kd7uiy commented on #563
Agree, tiles should look similar to how furniture looks.

[2016-08-22 00:18] b4ux1t3 commented on #563
That makes sense. Like I said, I'm a bit behind in the project development in the videos.

@nogginbops I wasn't going to try to steal your feature. Just figured I'd start some brainstorming so you're not starting from scratch tomorrow. :)

[2016-08-22 00:24] kd7uiy opened #566 "Proposal: Minimap"
It would be nice to have a minimap to show how the whole layout looks. I talk a bit about this in a blog entry at http://www.completeunitydeveloper.com/blog/mini-map-and-custom-texture-creation-in-unity on how to do it, there are other ways as well. This is probably a more advanced change than some, so I suggest we think if there are any gotchas.

There is another way that could be done, which wou

[2016-08-22 00:30] spexiono commented on #566
Good idea. Perhaps to improve it's functionality adding filters (In the minimap) for units (Blue friendly, Red enemy etc) and/or areas (like how Rimworld has a "home" zone). Probably Others if people come up with useful ideas.

[2016-08-22 00:32] cwalker94 commented on #336
It might be good to implement parallel bi-directional A* pathfinding. In other words, you have 2 threads working simultaneously. 1 thread is handling start -> end, and the other is handling end -> start. Then, where they merge together, that's your path.

[2016-08-22 00:50] Randshot commented on #559
The issue was that the inventory would only be 'properly' placed after the job was completed and this means a full stack (50) of steel plates:
`Inventory.__new("Raw Iron", 50, 0)`

[2016-08-22 01:14] kd7uiy commented on #566
More important that the exact colors for now is how those colors will be determined. We could simply have 1 pixel per tile, and use the color of the middle of the sprite, or maybe the mean of the sprite? Probably should be a few pixels at least. Hmmm...

[2016-08-22 01:28] vogonistic commented on #336
Those are cool ways of doing it, but I think when we have a pathfinder per room, some caching of normal paths (door 1 -> door 3), and a faster implementation than A*, it'll be blazing fast.

[2016-08-22 01:37] #559 closed

[2016-08-22 01:46] WardBenjamin opened #568 "Stockpiles totally broken"
Nice job whoever did this :P

I have a feeling that some work by @kd7uiy or someone else on the job system is related to this.

Symptoms: Characters don't actually put items in stockpiles even when idling.

[2016-08-22 01:50] tommyb008 opened #569 "[BUG][ERROR] please help [ANWSER FAST PLEASE] [PLEASE]"
Assets/Scripts/UI/MenuController.cs(4,14): error CS0101: The namespace `global::' already contains a definition for `MenuController'

[2016-08-22 01:51] tommyb008 commented on #569
fast please

[2016-08-22 01:51] WardBenjamin commented on #560
Yep! Right now the characters are pretty limited in what they can do, eventually we need to add some kind of gear that enables limited flight, plus vehicles you can construct and stuff. Also the mining drone needs to actually go mine asteroids and ferry items back to you... :P

[2016-08-22 01:51] #560 closed

[2016-08-22 01:51] WardBenjamin commented on #560
Feel free to actually make some of these features a reality!

[2016-08-22 01:56] WardBenjamin commented on #563
Sounds good to me! Tiles being hardcoded has bothered me for a while, since basically nothing in our project is. Thanks!

[2016-08-22 01:58] bjubes commented on #569
Are you on the latest version of the project.
Try running `git pull upstream master`

[2016-08-22 01:58] WardBenjamin commented on #569
This doesn't occur on latest master. Try updating and restarting Unity.

[2016-08-22 01:58] #569 closed

[2016-08-22 02:01] tommyb008 commented on #569
how can i use git pull upstream master?

[2016-08-22 02:01] kd7uiy commented on #568
I think I've noticed this, I think it's looking for only a single type of
food, steel plate being the most likely candidate. No idea what that would
be. Can't look right now.

[2016-08-22 02:02] Spool5520 opened #571 "New wall sprites"
So after some feedback on what the sprites should be like I spent a little time today and made a new wall sprite sheet. Same layout just 64 pixels per sprite instead of 32. Here they are https://s10.postimg.org/x4087w655/wallsprites.png

What do you guys think?

[2016-08-22 02:06] Spool5520 commented on #571
If someone wants to download the spritesheet from that link and put it in go for it. Im not really sure how to do it.

[2016-08-22 02:07] WardBenjamin commented on #261
This is still an issue

[2016-08-22 02:11] ComputerOverlord commented on #303
@vogonistic He said Door to Airlock...

[2016-08-22 02:13] bjubes commented on #568
this is why we eventually need unit tests.

[2016-08-22 02:15] ComputerOverlord commented on #571
Rating ++=

[2016-08-22 02:16] Spool5520 commented on #571
Im working on electrical cables running along the tops of the walls like in a data center or what ever
You like them though? :)

[2016-08-22 02:17] ComputerOverlord commented on #529
It's not a problem with them, It's with the doors.

[2016-08-22 02:18] bjubes opened #572 "StyleCop SA1400: Methods must have access modifiers"
I dont know how people feel about this one, but personally
[code]
feels very normal for unity and can be kept as is

[2016-08-22 02:34] ComputerOverlord commented on #571
@Spool5520 Yeah, I like them.

[2016-08-22 03:11] SquareMan commented on #571
Watch quill's new video, it'll teach you how to setup git for this project. Then just replace the old wall sprite with that one (and open unity to make sure the metadata gets updated) and then make a PR.

[2016-08-22 03:12] Spool5520 commented on #571
Ah ok didnt know he made a new video >.< will do.

[2016-08-22 03:12] #571 closed

[2016-08-22 03:27] vogonistic commented on #303
I don't understand your comment @ComputerOverlord. Looks like the commit allows airlocks to replace doors.

If you are referring to my comment, it was a tip to whoever attempted to work on it. Something to look into.

[2016-08-22 03:30] Randshot opened #577 "[Bug] Metal smelter job 'weirdness'"
This bug was introduced in PR #567.
I can't really describe it, but the smelter job does not seem to get removed or something similar to this.
Also, somehow, the registration for the jobWorked callback went missing, don't ask me how.

I am filing this issue mostly for myself, so that I remember what I was working on.

[2016-08-22 03:54] #50 closed

[2016-08-22 03:56] vogonistic commented on #55
Closing this in favor of #86

[2016-08-22 03:56] #55 closed

[2016-08-22 03:57] vogonistic commented on #142
Who is interested in working on animating the sprites now that we have them?

[2016-08-22 04:00] vogonistic commented on #94
Is this still an ongoing discussion or are we ok with what has been merged?

[2016-08-22 04:05] vogonistic commented on #148
I'm closing this. Lets move more discussion to #431

[2016-08-22 04:05] #148 closed

[2016-08-22 04:06] b4ux1t3 opened #578 "[Discussion] Unit Tests"
So, while I'm catching up with the videos, I'm thinking about all the things that would go so much smoother if we just had unit tests. Then I checked out the issue list and, lo and behold, no discussion on unit tests!

So I'm going to start writing some basic unit tests over the next couple days. If you have a specific _thing_ you'd like me to build a test for, let me know. In the mean time, I'm j

[2016-08-22 04:08] vogonistic commented on #578
It'd be extremely welcome! Keep us in the loop of progress. There are plenty of people who like to see early versions and have opinions. =)

[2016-08-22 04:10] b4ux1t3 commented on #431
@lincore81 I think your last paragraph about sums up what I think. The base game could have a simple backstory (Space miners stranded! More at 11!), but having specific scenarios that you can play through (and that you can create for _others_ to play through) would be hugely beneficial.

[2016-08-22 04:21] vogonistic commented on #551
We could easily cache the localization locally, so you only need it in order to download new localization and anything but the default the first time. We could even bundle it with a version download check and keep a separate version for localization.

Language changes will need to have a separate review since the fact that the text shows up doesn't mean that it was a better description of a Gas Ge

[2016-08-22 04:38] #469 closed

[2016-08-22 04:39] svmnotn commented on #578
please test all the things! it would be awesome if we could auto test PRs so... keep that in mind?

[2016-08-22 04:41] svmnotn commented on #551
for this we could just do some hash checking? although it might make testing the game with newer lang file difficult...

[2016-08-22 04:57] vogonistic commented on #551
We need the release numbers so that we know if it belongs to version `1.1` or `1.2` of the game, so we might as well know that we have localization `1.1.14` installed and `1.1.16` is out.

[2016-08-22 05:02] #507 closed

[2016-08-22 05:23] Spool5520 opened #579 "Random does not contain definition for InitState"
In WorldGenerator.cs line 30 there Random.InitState(seed); is throwing an error.

[2016-08-22 05:26] Spool5520 commented on #579
whoops just realized im on wrong version of unity

[2016-08-22 05:26] #579 closed

[2016-08-22 05:27] NogginBops commented on #563
I'll be working on this in one hour, so consider this task taken.

[2016-08-22 05:41] ttyz commented on #578
Unit test are awesome, but most of the project is not very test-friendly, because it relies on static calls and public properties, I am trying to fix those. Also it might be a good idea to move all the instantiations to Fabric classes, and may be move most of the dependencies on Unity API to one class that can be mocked in tests.

[2016-08-22 05:50] #502 closed

[2016-08-22 06:15] Grenkin1988 opened #580 "[Bug] Power system not updating values appropriately"
After several merges it stopped seeing power lost situation.
Going to fix this.

[2016-08-22 06:38] vogonistic commented on #537
One big reason to have something that is entirely covered outside of the scene (but might be assets, idk) is modding. If we want them to add buttons, dialogs, move things around or generally do really cool things we haven't thought about, we need a system that is flexible enough for that.

We should implement our own UI as a mod, IMO.

[2016-08-22 06:53] vogonistic commented on #520
We've merged a PR that removes most controllers from the scene today (#407). I think that's the right path. Load as much as possible through code, including the UI (#537).

Both of these actually help us with modding and testing inside Unity.

[2016-08-22 07:02] b4ux1t3 commented on #537
Would it not be possible to have some kind of parser for the XML files, but that still uses Unity's UI controls behind the scenes? If I'm not mistaken, that's how Kerbal Space Program does it.

[2016-08-22 07:03] vogonistic commented on #537
@b4ux1t3 I think that was what @ttyz was suggesting.

[2016-08-22 07:07] vogonistic opened #582 "Fix spelling in WorldBuilder.cs and WorldBuilder.xml"
Replace all instances and variations of `Ressource` with `Resource`.

[2016-08-22 07:14] Raketfart commented on #142
I think @BeefEX is working on it.
If he's not, I'd like to give it a go.

[2016-08-22 07:15] #480 closed

[2016-08-22 07:31] Xeni91 commented on #304
Feature is merged

[2016-08-22 07:31] #304 closed

[2016-08-22 07:57] koosemose commented on #302
I think I've got it!

Adding an element, I'm thinking ParamList would be an appropriate name, that can be put in Params that can contain other (multiple) Params (or ParamLists), I think get's us what we need. As an example here's what I think the O2 generators params would look like with this:

`        <Params>

            <Param name="gas_limit" value="0.2" />
            <Param name="gas_per_s

[2016-08-22 08:26] koosemose commented on #532
I have an additional idea that may be useful for some furnitures (such as O2 Generator), that will however require a bit more complexity than @FilippoLeon's current WIP PR allows. Basically ParameterLists (or ParameterGroups) allowing multiple parameters to be grouped and accessed as such, and a very important part is for them to be able to be stored similarly (I'm thinking subclassing would be th

[2016-08-22 08:43] FilippoLeon commented on #532
What about implementing a type list or dictionary which will be read into a custom class that mimics  the standard list behaviour?

Would be
'''
< Param type=list name=gas>
< entry key=n2>0.2<\>
<Entry ...>
'''.

[2016-08-22 08:54] sboigelot commented on #532
I don't know much about lua, but isn't it dynamically type?
Coudn't we just have the type of Param be object in c# ?
Then we don't have to change anything else, we store object instead of float.

[2016-08-22 08:56] koosemose commented on #532
I'm not sure that that's functionally different from my example, unless it wouldn't be able to nest, and while it could mimic my versions behavior without it that was also an extremely simplified example, if for example I wanted each gas to also have an individual flow rate. Also your version isn't as self-documenting as my version (as you showed it anyways), if it weren't conveying the same infor

[2016-08-22 08:56] gunthergun commented on #307
Please close this issue

[2016-08-22 08:57] koosemose commented on #532
The problem of storing it as an object is it would need to be cast all the time.

[2016-08-22 08:59] FilippoLeon commented on #532
Go ahead and stomp.

Maybe ParamDictionary would be more suitable?

[2016-08-22 09:03] koosemose commented on #532
Maybe. ParamDictionary fits on the code side, since that's what it will mimic (and basically be underneath), but seems weird on the XML side. Whereas ParamList and ParamGroup fit on the XML side, and seem kind of weird on the code side.

I'll see what I can whip up and put up a WIP PR.

[2016-08-22 09:04] gunthergun opened #588 "[Question] Common inventory data in separate class or should every inventory carry the data ?"
With common inventory data I mean:
maxStackSize
Price
Name
Description
Things that are common among all the Items with the same name

[2016-08-22 09:04] NogginBops opened #589 "We need a european gatekeeper."
Right now the three gatekeepers we have are not able to be active during european hours. This creates a lot of pull requests during european hours and when the gatekeepers wake up and starts to accept PRs conflicts are created that will have to wait until the PRs owner wakes up when the gatekeeper is sleeping.

@quill18 What do you think about this?

[2016-08-22 09:21] Sommerbo commented on #589
I agree there should be a gatekeeper active during CET hours.
It could be good to have an Australian gatekeeper too. But gatekeepers should not be selected only by timezone.

[2016-08-22 09:32] NogginBops commented on #589
@Sommerbo That's true, butI think timezone should be a factor.

[2016-08-22 09:36] Xeni91 commented on #589
Well this is a Problem we have to endure at the Moment.  The gatekeeper system is a test and it works fine.  To complain about it because time zones conflict with each other is a bit high level complains.

[2016-08-22 09:42] Tranberry commented on #589
@Xeni91 if Quill thought he had gatekeepers dispersed around the globe, but don't - would it not be nice to let him know that?

I'm not sure how Quill like the gatekeepers to be managed.

[2016-08-22 09:49] Mizipzor commented on #589
Sweden reporting in! :)

I can definitely tell theres more activity during the American hours. It kinda makes then sense to have more gate keepers in that time zone as well.

The project is so young and is moving so insanely fast, I dont think I have been part of something quite like this. Desiring around the clock gate keeper presence might be asking for too much. Say we get one in each time zone

[2016-08-22 09:59] abackwood opened #593 "[Bug] Error in Metal Smelter"
In the latest master project version (as of 22 August, 10:56 GMT) I get this error every time a charrie brings raw iron to the metal smelter:

`InvalidOperationException: Collection was modified; enumeration operation may not execute`

Near as I can tell from the call stack, the problem is with Job.cs line 232, the foreach header in:
`foreach (string luaFunc in cbJobCompletedLua)
            {

[2016-08-22 10:03] NogginBops commented on #588
This is a interesting issue, if no one has a reason not to I don't see why not.

[2016-08-22 10:06] abackwood commented on #593
Probably fixed by #587?

[2016-08-22 10:09] NogginBops commented on #593
@abckwood Yes #587 fixes this.

[2016-08-22 10:11] NogginBops commented on #589
@Mizipor Good questions. I don't think we can expect gatekeepers to always be available, but so think we should maximize the times a getekeeper might be available.

[2016-08-22 10:25] racerand opened #594 "[Attention] A lot of new stuff is added not implementing the new naming scheme #505"
I'm working on creating a naming scheme for our inventory and furniture at the moment but a lot of new features is added not using this. My pr #505 is WIP because I want feedback and for people to comment on how it  should be. New content being added adds a lot of work for the implementation so would you please stop this until it's in. More comments mean faster implementation. The only reason I ha

[2016-08-22 10:31] Tranberry commented on #594
Sorry for my lazy research: Is this added to the documentation (contributing.md, readme.md, wiki and so on). If not it should be added ASAP.

To bad that there are no gatekeepers active now #589

[2016-08-22 10:38] racerand commented on #594
Added to working on in wiki now. I have an updated CONTRIBUTING.md in my pr, but it's far from done, need to merge in the changing from last 8 hours. Maybe I should just make a pr with the updated CONTRIBUTIN.md...

[2016-08-22 10:39] koosemose commented on #589
If I were more confident in my git skills I'd volunteer... not european, but I keep European hours most of the time.

[2016-08-22 10:40] Tranberry commented on #594
I think that the consesus was small more PRs , but don't quote me on that. So a new PR is what I would have done.

[2016-08-22 10:42] racerand commented on #594
yeah, I know, the PR got a bit bigger than it should have been.

[2016-08-22 10:42] Tranberry commented on #589
Maybe @RodRitter fills this 'gap' who knows?

[2016-08-22 10:43] NogginBops commented on #589
I volunteer if that was not apparent from this post... :P

[2016-08-22 10:45] bjubes commented on #496
@NogginBops not really.  only if the gatekeeper keeps that "fixes #???" in the PR when they sqash merge, so it's more likely to happen if you put it in the title of the PR

[2016-08-22 10:46] racerand commented on #594
Also the problem is I haven't completely finished how the naming standards should be.

[2016-08-22 10:55] Grenkin1988 opened #598 "[Bug] Power generator drop power immediately"
Power generator should be refilled before it has no fuel at all.
Right now it looks like:
1. Bring fuel
2. Operate and give power to power grid
3. No fuel
4. No power in grid
5. Ask for fuel
Related to #524
Should be fixed after #596

[2016-08-22 11:06] #580 closed

[2016-08-22 11:07] Xeni91 commented on #598
maybe we should implement an internal buffer for the generator, which only depletes when the power is activly used

[2016-08-22 11:08] Mizipzor commented on #496
@bjubes Although thus far they have kept them, right? If you just accept the pull request on the web interface I *think* it does a rebase rather than a merge, but it doesn't squash. And even if they do remove parts of commit messages I think they are at fault, they shouldn't do that. Auto closing of issues is an awesome feature that should be used.

[2016-08-22 11:08] Grenkin1988 commented on #598
You mean accumulate power?

[2016-08-22 11:08] Mizipzor commented on #589
Everyone does. ;)

[2016-08-22 11:10] Tranberry commented on #589
Not me, I'm not experienced enough with C# nor git.

[2016-08-22 11:10] Sommerbo commented on #589
Leave me out please!
While I could probably do it, I don't want to. :)

[2016-08-22 11:10] Grenkin1988 commented on #589
Me neither :-) Merge all this pull requests is nightmare

[2016-08-22 11:12] JosephBywater commented on #589
Me neither :P Too many PRs!

[2016-08-22 11:22] Xeni91 commented on #598
yes

[2016-08-22 11:36] Xeni91 commented on #589
I can't do it between work and sleep there is not much time, so I could only help at weekends. Besides C# is not my strong point.

[2016-08-22 11:37] mikejbrown opened #601 "[Discussion] Project documentation system"
(Related issue: #214 )
I understand the core game is very much in flux right now and probably will be for a while, but going forward it would be good to have a standardized way to document the project. There are at least three categories of things I can think of that need (or ideally would have) up to date documentation:

- User level (i.e. installation, gameplay etc)
- Developer documentation (in

[2016-08-22 11:56] racerand commented on #594
There are now some polls in #505 for the last parts of the namings standards.

[2016-08-22 11:59] Grenkin1988 opened #602 ""Live" power system implementation"
Power system discussion
Currently, initially developed by @TheRiven , we have “static” power system:
-	Power generator produce amount of power
-	Power consumers consume it
Power level = sum of power generators – sum of power consumers.
It is already possible to change power level of objects on fly representing not operating objects.
But we need to solve issue () when generators are refueling. Righ

[2016-08-22 12:02] GamerInspired commented on #602
I think I prefer the "live" power system as I could be expanded on more easily later on.

[2016-08-22 12:03] Mizipzor commented on #589
Well then, I was clearly wrong. ^^

[2016-08-22 12:14] Mizipzor commented on #94
Four days of inactivity is an eternity in this project. ^^ I think this can be closed.

[2016-08-22 12:20] Mizipzor commented on #572
It's for readability. Not everyone knows the default access. And if you put the access modifier on everything, it kinda aligns better, especially for fields. And you dont have to remember when you need access modifiers and when they can be skipped, StyleCop wants it on everything. I think the rule should stay.

[2016-08-22 12:23] sboigelot commented on #602
We could also take the advantage to make the system more generic then just power.

It could be any stream requirement.

For instance RAM or CPU usage. Some computer are producer of CPU power, some machine use it, etc..

[2016-08-22 12:24] Mizipzor commented on #566
This is not easy to do, add it as a feature on that vote-on-feature page. :)

[2016-08-22 12:26] Ferr013 commented on #602
I think the "live" solution could be more realistic: imagine a nuclear reactor that produces (x) Watt per hour, or a dam with an hydroelectric turbine. We could assume that the power they produce is constant through time, so we can average an amount of power available each second and apply the same approach to power-consumers. The power in excess could be stored in a backup battery (in case the ge

[2016-08-22 12:26] Grenkin1988 commented on #602
I was thinking to have this pattern for all furniture. It just should have `<Consume>` and `<Produce>`

[2016-08-22 12:31] Mizipzor commented on #578
Of course we are going to have (or at least want) unit tests. Thats not even a discussion as far as Im concerned. :)

[2016-08-22 12:33] Grenkin1988 commented on #578
@b4ux1t3 What test framework are you going to use. I was going to try xUnit, but it tured out it is for .NET4.5

[2016-08-22 12:34] itay347 commented on #565
I'm closing this issue. It is no longer relevant due to @zwrawr's new settings system. (#535 #549 #595)
Notice that currently the Quality Setting is not functional, and that might also be the case with the rest of the settings.
But I'm sure we will fix it in future commits.

_Side Note:_
Gotta say, I love this project for helping me with the learning of game development and using git/github.
**Tha

[2016-08-22 12:34] #565 closed

[2016-08-22 12:38] Xeni91 commented on #602
@Grenkin1988 do we have to differntiate this? Why cant we just use a <power> tag and increase it with generators and decrease it with consuming furniture?

[2016-08-22 12:40] Grenkin1988 commented on #602
@Xeni91 My last comment was not about power. It was just thoughts about generic solution. Some objects could produce multiple things, and consume multiple things

[2016-08-22 12:46] Mizipzor commented on #601
Both user and modder documentation is great to keep in the wiki, since they can both add to it. Until the game grows in complexity so much that it warrants setting up a dedicated wiki with with more features. But I dont see that happen in the foreseeable future.

As for the code/api documentation. I think that is irrelevant for open source project. You can look at the code and see what done. I tak

[2016-08-22 12:46] mikejbrown commented on #602
So like a generic resource system? We could have (say) IProducer and IConsumer interfaces which classes implement as needed. A consumer could then register a callback with a producer, or a producer manager class, saying that it wants to know any time a new unit of resource X is produced... Then the internal logic of the callbacks can be very simple. The trickiest thing would be to keep connections

[2016-08-22 12:47] QuiZr commented on #551
I've been working on this over at https://github.com/QuiZr/ProjectPorcupine/tree/download-localization-from-web - My best guess is that the version number will be the branch number in ProjectPorcupineLocalization (or whatever the name ends up being) repo. I don't think that having numeration on specific localization version is necessary (as in current paste it will lead to version numbers like 0.0

[2016-08-22 12:53] Dormanil commented on #302
This really seems like a smart way of dealing with this special problem while keeping it general enough to have other furniture be able to use it as well.
Good thinking, @koosemoose!

[2016-08-22 12:54] Grenkin1988 commented on #602
@mikejbrown Some kind of. But let's focus on power system right now :-) Producer/Consumer pattern is topic for another issue.

[2016-08-22 12:54] #582 closed

[2016-08-22 12:56] abackwood opened #603 "[Suggestion/Discussion] "Spawn Inventory" dev tool"
With new types of inventory being added every day and furniture more and more being dependent on it, I'd like to work on a dev tool that lets you spawn inventory by clicks to make testing things easier.

For example, I now have to spend some time waiting for steel to be produced to build my walls to test some objects that are dependent on rooms being there.

For this to work, I need a UI that make

[2016-08-22 13:02] mikejbrown commented on #601
@Mizipzor I see your point that the wiki is probably fine for now. The only thing I worry about is keeping it up to date & consistent.

As to your second point: I must respectfully disagree that API documentation is irrelevant to an open source project. Python is an open source project and I have not once had to read internal python source to figure out how some language feature or library functio

[2016-08-22 13:03] Grenkin1988 opened #604 "Producer/Consumer pattern for furniture"
Recently I was think of some generic pattern for our furniture so it could handle complicated stuff:
-   Some furniture could produce multiple resources
-   Some furniture could consume multiple resources
-   Some furniture could produce multiple things while consuming another

My thought was to have something like:

[code]

Some thoughts were here #602
What do you think about this?

[2016-08-22 13:05] quill18 commented on #602
@sboigelot I like the concept of a generic "stream" to/from resource consumers/producers.

I also like the idea of it being "live".  **Unlike** base Rimworld, I think it would be nice if things only consumed power while performing their task. This could lead to surges in demand, making batteries (and/or capacitors) very important parts of the network.

[2016-08-22 13:07] quill18 commented on #602
It's possible that all consumers -- but really "spiky" ones in particular, like lasers -- should probably act as their own capacitor/batter.  They will "consume" up to X power to charge their battery, but then stop consuming from the network while their batter is full.

[2016-08-22 13:09] mikejbrown commented on #602
@quill18 definitely like needing power only when working & having a real need for batteries... but only as long as you don't have Rimworld's zzzzt event! :)

[2016-08-22 13:09] Grenkin1988 commented on #602
For now most people is for "live' power system. We should also remeber that somebody going to implement [Utility System - Pipes, Power Conduits, Air Ducts and so on](http://feathub.com/TeamPorcupine/ProjectPorcupine/+10)

[2016-08-22 13:10] Xeni91 commented on #604
I think it is good but we need to implement a time aspekt in this. Consumption and Production can be after every operation, but when some furniture needs a constant supply of power/gas/oxygen we should be able to set the intervall.

[2016-08-22 13:12] Grenkin1988 commented on #604
Right now we need to gather all the requirements for this, and decide whether this is good idea at all

[2016-08-22 13:12] quill18 commented on #554
I think that as the Porcupine matures a bit and becomes broader, these "base" files will start getting touched less frequently (especially if we avoid making massive classes).  Maybe if a file hasn't been modified in a couple days and has no PRs against it, it'll mean that it's a good contender to be cleaned up to StyleCop standards.

[2016-08-22 13:13] Grenkin1988 commented on #602
@quill18 @sboigelot I opened another issue to discuss this #604

[2016-08-22 13:16] Mizipzor commented on #554
@quill18 not to mention that StyleCop fixups are **great** beginner tasks. It requires just the most basic understanding of C# syntax, since StyleCop tells you very specifically what needs to be done. If you just want to try the git/github/pullrequest flow, something like this is great.

[2016-08-22 13:18] mikejbrown commented on #604
So `<Item name=”” amount=”” rate=""/>` instead?

How about this calling arrangement:

- Producer OnUpdate makes X units of resource Y & calls a callback to a consumer registered for listening to that resource (scheduling could be an issue if there are >1 consumers?), essentially giving an _offer_ to the consumer...
- The Consumer, in its callback, decides whether or not it wants to use that resour

[2016-08-22 13:21] Mizipzor commented on #601
For something like Python such documentation makes sense. Its code is used by many people and (big parts of) it doesnt change. I consider this project to small and to rapidly changing to warrant the effort of keeping documentation up to date.

But we can both have our way, right? If you want documentation, make it happen.

[2016-08-22 13:27] quill18 opened #605 "Milestone: Version 0.1"
I have created our first milestone and, as a totally arbitrary date, set September 30th as the target date. No reason for it and I suspect we'll change it as we move forward.

I have flagged #49 as a milestone, because it seems like a pretty obvious "we need this".

Based on the votes, character needs - a simple first pass at least - should also be ready for version 0.1.  We should hammer down exa

[2016-08-22 13:30] QuiZr commented on #551
Yeah, after an hour of thinking some sort of localization version number does make a lot of sense >.>

[2016-08-22 13:30] quill18 commented on #605
P.S. You can sort Issues and Pull Requests by milestones.

[2016-08-22 13:37] Mizipzor commented on #605
Awesome!

[2016-08-22 13:37] TheRiven commented on #602
As with most I would agree that switching to a live system would probably be a good next stage for the power system. :+1:

And yeah it will definitely need to keep that future Utility system in mind so it will be easier to put them together later.

[2016-08-22 13:38] quill18 opened #607 "Missing Artwork for Version 0.1"
The following art is required to be done/redone for the Version 0.1 milestone:

- [x] Character (Kenney's art is good, and CC0, but I think it would be best if all of our assets were "custom")
- [x] Metal Smelter
- [x] O2 Generator
- [x] Wall
- [x] Door
- [x] Floor

These furniture pieces do have art, but we'll need to verify that they all look consistent with our style:
- [ ] Cloning Pod
- [ ] Po

[2016-08-22 13:43] RodRitter commented on #605
I can only speak for a company based system and those are the 3 branches we use. We also use Gitflow to organize our branching into Feature, Hotfix or Release folders. Not sure if that will be used but it does make things much more organized.

[2016-08-22 13:46] quill18 commented on #589
I do want to keep the set of collaborators relatively small at any given time, so that it's easier for each of them to keep track of what's been merged or not, but this is a reasonable suggestion.

Pulled the next name off my arbitrarily-ordered shortlist: Mizipor!

[2016-08-22 13:46] #589 closed

[2016-08-22 13:50] mikejbrown commented on #605
I've never really worked on a big collaborative open source project, so am asking: as a general rule should new features be started on experimental first and merged (rebased?) into devel if and only if the roadmap gets updated saying the feature should go in the next milestone? That's not quite gitflow... but I'm happy to go with whatever @quill18 and the community wants of course.

[2016-08-22 13:51] #546 closed

[2016-08-22 13:54] zwrawr commented on #607
Looks like Tranberry (TRBRY) is on the Character art
![](https://cdn.discordapp.com/attachments/216936858528120832/217274349114097674/spaceFarer.png)
*from the art channel in the [discord chat](discord.projectporcupine.com)*

[2016-08-22 13:55] RodRitter commented on #605
I think once a release happens, Develop becomes Master and Experimental becomes Develop.

[2016-08-22 13:55] dusho commented on #604
It definitely makes sense to make some generic factory. From the looks at Metal Smelter it should cover most of LUA code ( together with that stacking code - it shouldn't be in LUA at all)
Would this cover all that is needed?:
[code]
where position would be spawn points (required position for input, spawn position for output), and processingSpeed would be rate of taking all items from Input and pr

[2016-08-22 14:00] Grenkin1988 commented on #604
I would definitely go for making derived class for `Factory`

[2016-08-22 14:01] Mizipzor commented on #607
Should we add a label for these meta/todo issues? I would imagine that each checkbos gets an issue link behind it that would contain the details. Though I absolutely agree with having the list here, rather than in the wiki or somewhere else.

[2016-08-22 14:03] JosephBywater commented on #607
Also, we want an Art style that is easy to replicate so as not to dissuade people from creating art because it looks too hard!

[2016-08-22 14:04] RodRitter commented on #604
I think we could change FactoryItem to InventoryItem to fit #597

[2016-08-22 14:05] mikejbrown commented on #605
I'm not sure if that should necessarily be automatic? I'd imagine experimental could have a mix of "almost ready for the next release" which would be fine and "pipe dream for waaay down the track" that you wouldn't want to automatically push onto devel (e.g. fully immersive 3D VR UI ;-)). Alternatively there could be a policy that nothing too far fetched gets onto TeamPorcupine/ProjectPorcupine/ex

[2016-08-22 14:06] Sommerbo commented on #607
Um, no, @zwrawr I just pointed out that the airlock graphics is the wrong perspective. I am horrible at art. So I am not the one make any graphics.

[2016-08-22 14:07] JosephBywater commented on #607
I believe that it was actually @YourShadow.

[2016-08-22 14:10] RodRitter commented on #605
The problem is that once something is merged into Experimental, how would we knitpick that specific feature and move it into Develop without digging it out of code and adding it?

[2016-08-22 14:12] quill18 commented on #605
I don't think experimental would ever become develop.  I think that after we pull develop into master, we then start to pull features for the next release from experimental into develop -- but never the entire experimental branch.

But I don't actually know how to cherry-pick features like that.

[2016-08-22 14:12] Tranberry commented on #607
Oh my, that's embarrassing.

[2016-08-22 14:15] Mizipzor commented on #605
eId like to point out that using forward slashes in branch names is common for creating structure. People wouldnt share the `experimental `branch, rather create `experimental/feature1`

[2016-08-22 14:16] sboigelot commented on #605
@RodRitter you can cherry pick commit but... that's a pain

I'm a consultant in a big company with 200+ dev working on the same repositories. We have many git repo (per module) but most follow the same branch pattern:

- Devlop branch for the current developement
- Branch of develop for the release, the latest release branch is the stable version, if bug-fix need to be done on a specific version,

[2016-08-22 14:17] mikejbrown commented on #605
@RodRitter I see what you're saying... I was thinking about where feature branches were based off of, not where things have already been merged in...

@quill18 So why not just follow gitflow here and base feature branches on devel? When a release happens you just merge in the features that are ready into devel then devel into master. I'm just confused about the use case for experimental here, i.e.

[2016-08-22 14:18] JosephBywater commented on #607
@Tranberry Why's that embarrassing?

[2016-08-22 14:19] dusho commented on #604
I would still create FactoryItem, it should inherit from InventoryItem then and add new member ÍntVector2d relSpawnPosition; // relative placement to spawn position

[2016-08-22 14:21] Tranberry commented on #607
I guess it's like very badly written code on display. But I can handle it.

[2016-08-22 14:35] Grenkin1988 commented on #602
If nobody against I am going to do some prototyping for this. For "live" system with possibility for improvements with connections

[2016-08-22 14:44] bjubes commented on #605
Can we make devel just Dev? It sounds nicer IMO.

[2016-08-22 14:51] bjubes commented on #601
No we need documentation. How do I add a feature so that it can be localized? I don't know, so I add one that is totally incompatable and leave a nightmare for someone else to totally reimplement my system, which I didn't document so they give up after an hour. And thus the game is fragmented and broken with no one with enough knowledge to fix the problem easily

[2016-08-22 14:52] bjubes commented on #601
Also this is a non discussion, documenting changes is in the contributing file under best practices section

[2016-08-22 14:52] WardBenjamin commented on #605
While I have seen some projects that have used `experimental` or `exp` branches pretty successfully, it's a pretty big recipe for lots of hardship if you have unexperienced contributors who don't really know what they're doing with git. I'd suggest keeping it simple with a stable `master` branch that only has critical hotfixes applied, and an unstable `develop` branch that has new feature developm

[2016-08-22 14:54] TheRiven commented on #607
What's that! you want some more Programmer pixel art! welllll ok then :laughing:
![oresmelter-64bit](https://cloud.githubusercontent.com/assets/3747487/17859077/2c9cbce0-6880-11e6-9956-ba74b58582bc.png)

[2016-08-22 15:03] WardBenjamin commented on #607
@TheRiven wow dude, that looks fantastic. Do more plsthx

Seriously though, looks great!

[2016-08-22 15:04] mikejbrown commented on #601
@bjubes CONTRIBUTING.md says "Document your changes in your PR. If you add a feature that you expect others to use, explain exactly how future code should interact with your additions." which is great for features under active development but is not an ultimate documentation solution, e.g. we shouldn't expect a modder to search through year old closed PRs to find out the API they need to code to.

[2016-08-22 15:05] Mizipzor commented on #601
@bjubes I was talking specifically of the comments above a method or field, which is very different from the high level concept of, say, adding a feature. High level documentation is better.

[2016-08-22 15:08] Mizipzor commented on #605
Lets avoid shorthands. Say `experimental` not `exp`, and `develop` not `dev`. Its easier for everyone to read/understand. You dont type the names that often. Especially not if youre using a gui.

[2016-08-22 15:10] Mizipzor commented on #607
I think it looks awesome. Kinda clashes with the style of the character though.

[2016-08-22 15:11] WardBenjamin opened #611 "Missing MonoBehaviours"
I don't know how we missed this, but there's 2 missing Behaviours right now.
![capture](https://cloud.githubusercontent.com/assets/4739008/17859676/9826ecc4-6858-11e6-8831-4ed1e7625e38.PNG)

You can see them in the image, but we're missing the KeyboardController and the overlay is broken.

The scripts for the overlay seem to be there still, but I have no idea how they're used. If the KeyboardContr

[2016-08-22 15:13] RodRitter commented on #611
If the game is working as is, my suggestion is that we remove those references to keep it clean.

[2016-08-22 15:14] NogginBops commented on #611
I think the overlay is being worked on in #340

[2016-08-22 15:15] RodRitter commented on #607
That's amazing. Although I'm not sure if we want to keep the art style uniform throughout the game?

[2016-08-22 15:20] NogginBops commented on #607
@RodRitter I think so, we have a whole bunch of art people trying to organize themselves. It's a discussion in the discord chat if you want in. There will be some issues poster later I think.

[2016-08-22 15:21] ComputerOverlord commented on #607
Do we go with @TheRiven or with @Tranberry

[2016-08-22 15:29] RodRitter commented on #607
@NogginBops Sure, I'll join as soon as I have a gap.

[2016-08-22 15:31] Tranberry commented on #607
@Mizipzor I'm not sure it's a clash even with the outlines. Anyhow I'm not claiming anything my character will be done in the likes of the sprite-sheet that @Raketfart did.

[2016-08-22 15:33] ajahraus commented on #602
@quill18 I love the idea of batteries and capacitors. I think that they could provide a fun game mechanic.

Like perhaps batteries should be good for storing power (i.e. store large amounts of charge for long periods of time) but bad for providing power (i.e. charge/discharge slowly or else they take some type of 'damage').

Capacitors on the other hand change and discharge very quickly (making th

[2016-08-22 15:44] #423 closed

[2016-08-22 15:46] ajahraus opened #613 "Orbital height as a game mechanic?"
I've been wondering, since it's a space themed game, should orbital height be a mechanic we should consider?
For example, at the most basic level, I was thinking that a low orbit around a star may provide high amounts of solar energy, but very few other resources. Or maybe stars have distant asteroid fields, rich in minerals but low in sources of power. Maybe you have to be in orbit around a plane

[2016-08-22 15:52] abackwood commented on #613
I'd love if you position in the world affected your station. Could be chosen at game start or maybe you can move your station with tons of fuel

[2016-08-22 15:53] Ferr013 opened #614 "Music - background (help)"
Hi, I wanted to contribute in some way to this project, but probably I haven't enough programming skills for now, so I decided to try pick up the guitar and make some kind of backing track.

I already registered something (it's not great at all, but I'll try to improve it in the future), and I wanted to attach it to the game. First I imported the track in Resources/Music and then I wrote this code

[2016-08-22 15:55] ajahraus commented on #613
@abackwood That's a good point, about the fuel. Should we use realistic orbital mechanics, or should be opt for a simpler version for the sake of game balance and pacing?

[2016-08-22 15:55] sboigelot commented on #605
@sboigelot yep simplicity is the key. Keep it simple and stay out of complex system that will make everyone confused

[2016-08-22 15:59] mikejbrown commented on #613
Not sure if it fits the "base building game" atmos, but it does open some story possibilities. E.g. in addition to the stuff you mentioned already there could be a solar storm event with enough advanced warning that you can (if you choose) build engines to move out of the way... or build shields or do nothing and face the consequences depending on your play style.

[2016-08-22 16:05] JosephBywater commented on #607
What should the wires look like? Should they have a casing around them, here are some things that I made in a matter of milliseconds. Oh yeah, they're not the right dimensions either 👍
![screen shot 2016-08-22 at 17 03 07](https://cloud.githubusercontent.com/assets/5558617/17861833/86592a0c-688a-11e6-9597-0d3f5b822d93.png)
![screen shot 2016-08-22 at 17 00 20](https://cloud.githubusercontent.com/a

[2016-08-22 16:08] #551 closed

[2016-08-22 16:12] Mizipzor commented on #614
Screenshots of code now that's something  :)

You should either just post the code you've got, there is code tags for that.

Or, what I think is better, just commit and push what you've got. You can then link to specific lines in your pull request.

[2016-08-22 16:13] UnknownSoldier1 commented on #614
From what I see the code you have in place there throws a null reference exception. Is that right? If so, add the following code to your MusicController class:
`void Awake()`
`{`
`backgroundMusic = GetComponent<AudioSource>();`
`}`

This code will only work though if your MusicController is a MonoBehaviour and if it's attached to the same GameObject as your AudioSource.

[2016-08-22 16:18] fre-ber commented on #572
I vote for keeping this rule.

[2016-08-22 16:18] abackwood commented on #613
@mikejbrown yes exactly those kinds of things is what I'm hoping will be included. You make different choices based on where you are.

Other idea since you mentioned shields: one side of the world could be "towards the star". Building sheilds (or just walls i guess) can protect your station core from overheating. This isn't important in the habitable zone of the star, more so when close to the sta

[2016-08-22 16:21] Ferr013 commented on #614
@Mizipzor Ahah your right! I didn't commit it to avoid pushing something that doesn't work at all, but if I can't solve it today I'll commit it :+1:

@UnknownSoldier1 At first I've tryied with [RequireComponent] but without being a Monobehaviour... Another question: is it fine to create a new object, or is better (if possible, I don't now) to complete the task using only c# code?

[2016-08-22 16:23] fre-ber commented on #532
I think that the solution @koosemose suggested will be good. However, when this is implemented, please consider making it general enough so that we can plug the same system into anything that might need parameters/attributes such as Furniture, Character, Inventory, etc without the need to duplicate the code.

[2016-08-22 16:25] b4ux1t3 commented on #578
@Grenkin1988 In the short term I was just going to write some basic tests by hand. @ttyz pointed out that a lot of the project is not very testable, so I think a more targeted approach would be beneficial for the time being.

Specifically, I'm thinking of the stockpile situation (#568). Rather than just writing tests for everything, like I said last night, I'm probably going to start with things t

[2016-08-22 16:27] bjubes commented on #613
burns would be cool, but the option of messing up and crashing into your star and losing everything isn't exactly balanced.

[2016-08-22 16:29] bjubes commented on #604
keep in mind two types of production. a smelter produces differenly (5 iron -> five plates, every two seconds) than a o2 generator(power -> o2 at a given conversion rate and production time)

[2016-08-22 16:36] ComputerOverlord opened #617 "[Discussion] How high should a stack be?"
I think this is a good question. Should it be..
- 50
- 64
- 100
- 200?

[2016-08-22 16:36] Mizipzor commented on #614
@Ferr013 Heres the thing though... I'm not sure how much Git you know. But you would basically upload code to only your special copy of the game. We wont see it (unless we look). You would then, when youre done, formally request us to accept your stuff. And we click a button and it happens. :)

[2016-08-22 16:37] Ferr013 commented on #614
@UnknownSoldier1  Yes, because I don't know how to commit the GameObject (named MusicController), while I should be able to commit music and the code.
Anyway, I followed your advice (modified the MusicController, attached it to an EmptyGameObject and removed the WorldController stuff) and now it works!
Thank you :)

`using UnityEngine;
using System.Collections;

[RequireComponent (typeof (AudioSou

[2016-08-22 16:39] gunthergun commented on #617
500? who can raise the stakes 😂😂

[2016-08-22 16:39] abackwood commented on #613
More likely youd end up in interplanetary space, far away from anything useful.

We're getting a bit away from the original topic: orbital parameters as a feature.
Changing orbits is also a kind of transit so the above still applies.

Reasons you might want to raise orbits
- Less time being obscured by the planet = more sunlight for solar panels
- Warping interstellar spacecraft face less disrupti

[2016-08-22 16:39] UnknownSoldier1 commented on #614
@Ferr013 Good that it works now! The GameObject will be commited like every other thing in Git. Basically, it will show you that the scene file has been changed. You have to include that in your Pull Request.

[2016-08-22 16:40] Yourshadowq commented on #607
I think the wires should look a little thicker maybe like this![wire](https://cloud.githubusercontent.com/assets/17286353/17862900/eb924530-685c-11e6-83a0-764ea00213d4.png)

[2016-08-22 16:41] UnknownSoldier1 commented on #617
Go Rust style and do 1000, thats my opinion ;)

[2016-08-22 16:43] gunthergun commented on #617
I like having high numbers but we should probably keep it with just 3 numbers --> so 999 then :)

[2016-08-22 16:43] UnknownSoldier1 commented on #566
@kd7uiy I would say determine the pixel color by the average color of the tile sprite.

[2016-08-22 16:43] Ferr013 commented on #614
@Mizipzor Ok I get it, could you explain me how to upload correctly my work?
From quill video I would
create a new branch
git add <musicFile>
git add <codeFile>
git add <objectFile> (I dont know where to find it)
git commit -m "description"
git push origin testbranch
 and then from GitHub site ask for Pull Request

Is it wright?

[2016-08-22 16:44] UnknownSoldier1 commented on #617
999 would be fine too.

[2016-08-22 16:45] ComputerOverlord commented on #617
I'm having a hard time telling if you are being serious or not.
Either way... Closing for now.

[2016-08-22 16:45] #617 closed

[2016-08-22 16:47] gunthergun commented on #617
I was being serious just found it funny that you did small numbers... @ComputerOverlord I hope I did not offend you :/

[2016-08-22 16:50] ComputerOverlord commented on #607
The style of @Tranberry is good, but pixel art, like @TheRiven Is growing on me.

[2016-08-22 16:51] NogginBops commented on #607
I think the wires should be shown in a overlay, that way we have more freedom with the direction we want to take them. e.g. putting them in the middle of the tile.

[2016-08-22 16:52] NogginBops commented on #614
git push -u origin testbranch
I think would be better to save origin as upsteam.

[2016-08-22 16:54] fre-ber opened #619 "[Discussion] Ice? Solid, Liquid, Gas or Plasma?"
When seeing the ice raw material in game, I immediately asked myself "Is it water ice or ammonia ice?" I assume that the answer, in this case, is water ice, but then it struck me - maybe it would be cool to let our raw materials have different states. As in water can be used for cooling things when frozen but it can't be consumed by characters to replenish them, unless hacked into cubes and droppe

[2016-08-22 16:58] dustinwloring1988 commented on #537
Yes that is what I had going. I have prefabs made of the common game objects like buttons and panels with certin scripts attached like localization. Only the basic options like position anchors and OnClick are available to made by xml at lest to start. You can also call any prefab from a predefind list of like the dialog boxs and the langage dropdown.

[2016-08-22 17:01] ComputerOverlord commented on #619
I like that. Maybe a heating/cooling furniture for changing states, and if ice left out too long, it will melt.

[2016-08-22 17:05] Tranberry commented on #607
On the topic of art style;

I prefer a style that many can mimic for a project like this. And as most here have a decent hand at making pixel sprites that seems like the obvious route.

[2016-08-22 17:13] ComputerOverlord commented on #607
Most of my experience with pixel sprites:
(Sort of a civ style tileset)
![tileset](https://cloud.githubusercontent.com/assets/21087045/17864017/067dba84-6851-11e6-8940-f95ca9136e1c.png)

[2016-08-22 17:14] Dan54 opened #621 "Move localization offline"
The online localization makes new adding furniture more difficult.

[2016-08-22 17:16] Spool5520 commented on #607
I'm working on a full tile set ATM for all current sprites in the game I plan on pushing them all at once

[2016-08-22 17:18] Spool5520 commented on #607
Here is the new walls I did https://s10.postimg.io/x4087w655/wallsprites.png

[2016-08-22 17:20] Ferr013 commented on #614
committed it, thank you all again!

[2016-08-22 17:20] #614 closed

[2016-08-22 17:27] ComputerOverlord commented on #607
Character I made:
![station worker](https://cloud.githubusercontent.com/assets/21087045/17864463/0e5f731c-6853-11e6-8d25-0ddda08ebbb5.png)

[2016-08-22 17:31] Tranberry commented on #607
@Spool5520 is there a overhang on the top of the wall, or are my eyes deceiving me?

[2016-08-22 17:33] quill18 commented on #607
i lyk dis

Good progress!

[2016-08-22 17:35] ComputerOverlord opened #624 "My art"
I decided why not. Let's post my art ideas for this game.
Character:
![worker_station](https://cloud.githubusercontent.com/assets/21087045/17864712/120ff774-6854-11e6-9624-a66542e18f63.png)
Fusion pump - make alloys?
![pump_fusion](https://cloud.githubusercontent.com/assets/21087045/17864733/20d2a8ba-6854-11e6-9183-5255e1b1fb9e.png)

[2016-08-22 17:37] sboigelot commented on #578
Unity support natively NUnit unit test framework,, see https://docs.unity3d.com/Manual/testing-editortestsrunner.html

Also this seems cool:
https://unity3d.com/learn/tutorials/topics/production/unity-test-tools
https://www.assetstore.unity3d.com/en/#!/content/13802

[2016-08-22 17:38] RodRitter commented on #624
![image](https://cloud.githubusercontent.com/assets/4159679/17864815/f2add2ce-689f-11e6-93e8-f0458d861ef2.png)

[2016-08-22 17:46] Spool5520 commented on #607
On the ends where the walls go east and west yes there is a one pixel overhang and I've tried to add this to the project but I cannot get the XML to work right. If someone would be willing to explain the process to me or be willing to download my sprites from dropbox and put them in yourself would be really great. I'm not worried about credit for the art just doing it for fun.

[2016-08-22 17:50] mikejbrown commented on #568
The problem seems to be the line `return { Inventory.__new("Steel Plate", 50, 0) }` in Stockpile_GetItemsFromFilter() but I'm not sure the best way to fix it.

https://github.com/TeamPorcupine/ProjectPorcupine/blob/master/Assets/StreamingAssets/LUA/Furniture.lua#L80

[2016-08-22 17:54] Sommerbo commented on #619
States and temperature sound fun.

[2016-08-22 18:04] ComputerOverlord commented on #298
We can have a tile-based heat spreads to colder tiles until equalized.

[2016-08-22 18:05] b4ux1t3 commented on #578
@sboigelot the fact that it supports nunit is great!  The Unity Test Tools seem great, but it looks like they're tuned for Unity 4.x according to their Readme. I'll do a bit more research when I get back home.

[2016-08-22 18:06] sboigelot commented on #578
@b4ux1t3 too bad for the asset, but the first link about NUnit is already great, we can probably hook the NUnit test in a continous integration system too

[2016-08-22 18:09] sboigelot commented on #73
cf: #578

[2016-08-22 18:09] NogginBops opened #626 "Rename FurnitureActions to LuaActions"
I think we need a lua utility file for lua calls and such. I think FurnitureActions is a good candidate for this. Just rename and add some methods.

[2016-08-22 18:18] Sommerbo commented on #533
Heard from developer of 2ddl, it uses MIT license so no problem there.
If we want to use it.

[2016-08-22 18:20] ComputerOverlord commented on #624
raw materials:
![iron_raw](https://cloud.githubusercontent.com/assets/21087045/17866176/5d28c316-685a-11e6-987b-30e6036bd4e8.png)
![copper_raw](https://cloud.githubusercontent.com/assets/21087045/17866177/604c2bf0-685a-11e6-9b8f-95bb65c36329.png)

[2016-08-22 18:23] vogonistic commented on #605
I vote that instead of making our own system we adopt [Git Flow](https://github.com/nvie/gitflow). ([Git Flow Intro](http://nvie.com/posts/a-successful-git-branching-model/)) It has support in both SourceTree and GitKraken, as well as command line utilities.

It uses `master` for offical releases, `develop` for merged features and when people work on additions they create a new `feature` branch th

[2016-08-22 18:24] RodRitter commented on #624
I'm not sure if you've notice that your images are minuscule

[2016-08-22 18:27] TheRiven commented on #607
The smelter is hungry....
![smelteranimation1](https://cloud.githubusercontent.com/assets/3747487/17866406/4d52c4d4-689e-11e6-888e-a44b1723cb66.gif)

[2016-08-22 18:28] ComputerOverlord commented on #624
@RodRitter I do. But how am I supposed to scale them up in here?

[2016-08-22 18:29] Spool5520 commented on #607
@TheRiven I like that generator. What does the generator in-game use for fuel?

[2016-08-22 18:33] TheRiven commented on #607
I believe it has been set to use uranium as fuel

[2016-08-22 18:34] RodRitter commented on #624
@ComputerOverlord I don't think you can. You need to scale it up in an editor. Screenshotting/Snipping previews is also a good way to paste your stuff here.

[2016-08-22 18:36] Spool5520 commented on #607
Maybe we could use that one for a coal generator or something? It looks amazing. Maybe we should do something a little more nuclear? I'm at work right now but when I get home I'm going to work on the sprites some more. The perspective and everything is perfect in your sprite by the way :)

[2016-08-22 18:45] TheRiven commented on #607
ahh I think there is a slight misunderstanding, that sprite is for the smelter not the power generator :smile:

[2016-08-22 18:46] TheRiven commented on #607
Although I do need to go back and redo the power generator as I did not know what fuel it would run on when I made it.

[2016-08-22 18:48] WardBenjamin commented on #605
I like it. Seems... basically what I suggested :P

[2016-08-22 18:49] b4ux1t3 commented on #578
At home now, did a bit of research. It seems like Unity Test Tools will work with some tweaking, and there are a few tweaks out there already. But NUnit will probably be better, and easier to use on some of our, er, "non-Unity" scripts.

I'm actually in my final week of class this quarter, so I won't have a whole lot of time this week to test them both out. But, I'll do what I can and report back.

[2016-08-22 18:51] vogonistic commented on #605
Both you @WardBenjamin and @RodRitter. I'm just repeating it to sound cool =)

[2016-08-22 18:52] sboigelot commented on #578
If you have to prioritize because of lack of time, just worry about the NUnit.
Provide just one small PR with on unit test that does nothing, like checking that true == true.
It will already be great and provide an exemple for other devs to extend.

And if you don't have time, don't worry too much :) School and life comes first

[2016-08-22 18:56] Spool5520 commented on #607
Oh I'm sorry, my bad. Never mind then >.<

[2016-08-22 18:56] Mizipzor commented on #621
You should be able to add furniture and then localize it later. You arguably should anyway, in case the furniture dont work out. Cant you?

[2016-08-22 19:03] Mizipzor commented on #73
Its been five days so I [gave it a shot](https://travis-ci.org/Mizipzor/ProjectPorcupine). But cant really get it to work.

[2016-08-22 19:03] vogonistic commented on #537
This is a naive question because I'm not really that familiar with the Unity UI, but what is the big benefit of using prefabs as opposed to creating them with code?

[2016-08-22 19:09] Tranberry commented on #607
![third_01](https://cloud.githubusercontent.com/assets/16529/17867922/b7102746-68ac-11e6-9a99-7bc9559ef2ab.png)

Would this style do?

[2016-08-22 19:10] Spool5520 commented on #607
That looks great

[2016-08-22 19:14] RodRitter commented on #607
Thats awesome. I actually prefer that pixelated look over the clean one. Just my opinion though.

[2016-08-22 19:19] Tranberry commented on #607
@RodRitter well it takes about twice the time to make so I hope it's at least a tiny bit better ;D

[2016-08-22 19:22] FilippoLeon commented on #532
What if every class inherits from a master class which has Params and Actions?

[2016-08-22 19:25] quill18 commented on #607
Oof, that's a tough call. I actually really liked the vector-art looking one too.  A lot.

[2016-08-22 19:26] quill18 commented on #607
@TheRiven Love the smelter.

[2016-08-22 19:28] fre-ber commented on #532
Or the parameters are all stored in an object that can be added to other classes:

[code]

[2016-08-22 19:29] abackwood opened #630 "Inappropriate code in MouseController"
From MouseController.UpdateSelection():

`if (Input.GetKeyUp(KeyCode.Escape))
        {
            mySelection = null;
        }`

This should not technically be in here. This controller should only control mouse inputs, not keyboard inputs

[2016-08-22 19:30] FilippoLeon commented on #630
can add to keyboardController

[2016-08-22 19:41] longtomjr opened #631 "Music style/feel for Project Porcupine"
This is a discussion thread to try and figure out what music feel and style we want to go for. I just want the PPMusicians to know what style and feel to have in mind when composing and playing.

Here is my first improv track. I just wanted to put something on tape. This is just to see if this style resonates with the team. https://soundcloud.com/longtomjr/space-in-time
It was inspired by the Bast

[2016-08-22 19:46] Tranberry commented on #631
If I had a valid vote I'd vote for 2001: A Space Odyssey 1968 - Movie Soundtrack like. But that might be a bit too bombastic and odd for a game.

[2016-08-22 19:48] longtomjr commented on #631
because we are not story driven I am looking for something a bit more ambient. I will give the OST a listen and see what I think. :) Thanks for sharing!

[2016-08-22 19:50] longtomjr commented on #631
Oh and another problem is that we do not have a symphonic orchestra at our disposal unfortunately. So I am also trying to keep it simple.

[2016-08-22 19:57] Tranberry commented on #631
yeah, but as with art you can boil it down to a few notes I'm sure ;)

[2016-08-22 20:01] Dan54 commented on #621
It's just more complex and means that the player must always have an internet connection. Also, what benefit does it give?

[2016-08-22 20:02] mikejbrown commented on #603
Related PR: #612

[2016-08-22 20:02] Mizipzor commented on #73
The problem is that the solution file is not checked in. So for Travis to be able to do something, a solution file must be generated. I found [this](https://github.com/malud/unity-solution) that could generate the solution file. But it seems to be for an old version or something because [build 12](https://travis-ci.org/Mizipzor/ProjectPorcupine/builds/154253074) complain about missing **Dropdown**

[2016-08-22 20:05] ulve commented on #73
I got it to build the macos version. Tried to downgrade unity and build with a version that includes all the different architectures but failed. Still out of town so I cant fix anything now. at the moment my solution might be broken since it downloads the older version and times out.

[2016-08-22 20:07] Mizipzor commented on #73
@ulve Great. For the record, I would really like to see this happen. :)

[2016-08-22 20:08] Mizipzor commented on #73
Hm. Im missing a label for this. Build? Automation?

[2016-08-22 20:09] Mizipzor commented on #621
For the record I was against it. :) I assume the relevant people will pop up here explaining.

[2016-08-22 20:09] ulve commented on #73
https://travis-ci.org/ulve/ProjectPorcupine/builds/153073773 think that commit actually built the macos version. But as I said, I cant figure out how to install the modules for windows and linux.

[2016-08-22 20:13] #307 closed

[2016-08-22 20:14] ComputerOverlord commented on #607
@TheRiven Yeah, It's more of a fission station thing. Also the smelter should use fuel.

[2016-08-22 20:15] ajahraus commented on #631
That's a good tune, though perhaps a bit somber for ambient music. The acoustic guitar brings with it a bit of a 'space western' vibe, which could be the aesthetic we end up with, but I'm not sure we're there yet.

Now that I'm thinking about it, perhaps there may be a way to tie the ambient music to the recent in-game events or moods of the characters? If there was just an attack and a few people

[2016-08-22 20:26] Mizipzor commented on #73
I suppose I dont care. My primary goal was to make sure that we dont spend time on pull requests that dont compile. But of course for the future we want it to provide binaries for the game as well as running stylecop.

[2016-08-22 20:30] #453 closed

[2016-08-22 20:42] ajahraus commented on #604
Here's a weird question, are characters producers/consumers? Like, if a character is working at a station, does that work count in what's consumed during the job? Or is 'Work' handled in a different system, and if so, should it be unified with is system?

I'm not casting a vote, I'm just wondering if this is worth considering.

[2016-08-22 20:45] GamerInspired opened #636 "[BUG] Can't run latest build"
Here is an image of the error that's preventing me from running the game.

![ss 2016-08-22 at 09 44 06](https://cloud.githubusercontent.com/assets/8201304/17871040/c7cc131a-68b1-11e6-941f-9cc05f8fec65.png)

This is the zip build, I have done nothing to it. (Just clarifying). Also sorry if this has already been mentioned.

[2016-08-22 20:48] mikejbrown commented on #604
@ajahraus Am I understanding you right that you're suggesting a character produces a "resource" called "work" (or whatever) which is consumed by stations? I think that's an interesting idea. It gives an easy way to build in character leveling: they just produce work units more quickly. Then there is no need to tweak station stats or job stats or anything like that.

[2016-08-22 20:59] ajahraus commented on #604
@mikejbrown Yeah, that's a good way to think of it. Labour as a resource is also a good way to think about personal time management IRL, so that might also play well into the GOAP being used in character AI, #86. Since each character has to decide what to do with their own time, deciding on a task may just be as simple as maximizing the 'value' for the resource 'Work.'

That also has some implicat

[2016-08-22 21:03] GamerInspired commented on #636
Issue fixed in #638

[2016-08-22 21:03] #636 closed

[2016-08-22 21:03] FilippoLeon commented on #636
Use this, will create a PR:
[fix_dbg.zip](https://github.com/TeamPorcupine/ProjectPorcupine/files/431139/fix_dbg.zip)

[2016-08-22 21:07] GamerInspired opened #639 "Can't deconstruct Furniture"
Can't seem to decontruct funiture at the moment.

[2016-08-22 21:10] TomMalbran commented on #621
I guess that when we make a release version, we could just pack the localizations in it, so that you don't need to download it later.

[2016-08-22 21:12] bjubes commented on #453
YES!

[2016-08-22 21:14] GamerInspired opened #640 "Path finding logging noise"
I'm currently expeniencing the odd time here and there where the game just hang/freezes. FPS looks is fine, including the fps in the stats area.

Also whenever a character goes of to get something from a distance the fps drop to arround 20fps then bounces back to 60fps.

EDIT:  it's not just the game, unity is freezing with the game. Trying to find out what the debug says at the moment.

EDIT 2: T

[2016-08-22 21:24] mikejbrown commented on #604
@ajahraus I really like that idea, but it possibly should wait for a general GOAP implementation (or be done as a part of). It might be too much for this particular issue.

[2016-08-22 21:38] LukeDavies367 opened #643 "Unity (Crash after download files)"
Hello, I'm new & wanna try this great project after i saw it on youtube, Problem i'm having at the moment is i can download it from here: http://quill18.com/porcupine/ (Link as from the youtube desc) works without problems but it's few days old now...

But when i go here:
https://github.com/TeamPorcupine/ProjectPorcupine *& download it i keep getting a crash log, I've do everything i know i can (I

[2016-08-22 21:46] Tranberry commented on #142
![18plus_01](https://cloud.githubusercontent.com/assets/16529/17872865/76efbdbe-68c2-11e6-9747-1fcae2d398d3.png)

How will this system work, I mean we will want clothing and other changes to the character.

[2016-08-22 21:49] vogonistic commented on #142
Someone please tell me that we can easily layer sprites on this guy

[2016-08-22 21:49] mikejbrown commented on #643
Can you give any details of the error message? Either a log or a screen shot?

[2016-08-22 22:07] ajahraus commented on #631
Would it be appropriate for us to link to songs that have the style/feeling we'd like to see emulated, even if we aren't the artist? Or is musical style too personal to crowd source like that? Maybe we need some executive orders to get us started in an appropriate direction.

[2016-08-22 22:08] GamerInspired commented on #643
What version of unity are you running? As if you aren't on the latest then it will crash when it try's to load the scene.

Believe the last is version 4.4. And you will need to install the latest manually as the unity check for updates doesn't seem to work.

[2016-08-22 22:12] NogginBops commented on #643
@GamerInspired 5.4 :)

[2016-08-22 22:27] dustinwloring1988 commented on #639
I will fix in a PR I have pending

[2016-08-22 22:29] SquareMan commented on #631
I dig it! I'm not sure if it would fit as ambient, anytime music, but as @ajahraus said, i'm sure it could be tied into the eventsystem and trigger when appropriate.

[2016-08-22 22:40] dustinwloring1988 commented on #639
Fixed

[2016-08-22 22:46] kd7uiy opened #648 "Unit Testing"
Unity has a standardized unit test system that we should really add. I don't think @quill18 has done a video on this subject, but it would be a great thing to add soon. We really need to come up with a standardized set of unit tests to ensure that new features don't break old features. I think since 5.3 you don't need to get anything from the Asset store, it is built in. Take a look at the video a

[2016-08-22 22:46] #648 closed

[2016-08-22 22:47] Raketfart commented on #142
Wow - nice job @Tranberry!
I think the helmet can easily be seperate as it is en the current build, and the body will probably have to be clothes and walkcycle.
Maybe color variations could be done in code, if the image is loaded in layers.

@vogonistic We can easily layer sprites on that guy. (maybe. I hope.)

[2016-08-22 22:48] kd7uiy commented on #568
So then nothing I did broke it:-) What we should do is what is suggested, have a function in C# code that keeps track of all of the possible materials, and passes that to Lua. You've got the right spot in the code for sure.

[2016-08-22 22:51] #603 closed

[2016-08-22 23:19] LukeDavies367 commented on #643
It's working now. I wasn't updated (Which wired cuz unity said i was on correct version, :)

[2016-08-22 23:19] #643 closed

[2016-08-23 00:02] koosemose commented on #532
As it stands now it will just be an object, you create a variable of that type and use it. I've not quite finished moving reading the Xml over, but as it stands now (and the intent of further implementation) is that in the future, for anything that has a Params section, when you come to your Params, you will just pass the reader to the object (or perhaps a static method in the class), and it will

[2016-08-23 00:23] koosemose commented on #631
I'm not sure how feasible it would be, but it would interesting (somewhat of an addition to what @ajahraus suggested) to have some kind of rating of how the base was doing overall, that the music could tie in to. So aside from some kind of somber/mournful music when multiple people have died from an event, if the base was suddenly doing very well (steep increase in rating) a happier more upbeat mu

[2016-08-23 00:32] jdlaroche commented on #568
I'm not sure that the stockpile code really belong to LUA... we will probably need a stockpile manager and a lot of logic around stockpiles. For example, right now, from LUA, how could we tell the character that if we have 2 stockpiles with each 25 steel plates, he should pick all from tile A and move it to tile B at a very low priority...

[2016-08-23 00:33] jdlaroche commented on #568
When you create a new stockpile, a character will build it and then it will try to fill it once. After that, it seems to ignore it completely.

[2016-08-23 00:34] mikejbrown opened #657 "Rework GetSpriteForFurniture to be less hard coded"
Right now it has some pretty ugly `if (furn.objectType == "Door")`, `if (furn.objectType == "Airlock")` and similar nastiness that should go for the sake of moddability.

@TomMalbran had ideas how to do this on PR #644, but the changes probably belong on another PR.
Quote:

[2016-08-23 01:55] dustinwloring1988 commented on #537
I plled the XML UI PR since I just started call prefabs from a script for now. Here is the PR I posted with code driven Dialog Boxes https://github.com/TeamPorcupine/ProjectPorcupine/pull/659

[2016-08-23 04:31] brlodi commented on #607
Perhaps if done carefully the pawn and dropped object graphics could be the clean vector-style, while terrain and placed objects are the grittier pixellated type? I'm envisioning a similar feel to classic Disney, Looney Tunes, and Hanna-Barbera cartoons where very painterly backgrounds were paired with simple cell animation characters and props. They'd have to be appropriately color-matched but I

[2016-08-23 04:33] ComputerOverlord commented on #617
@gunthergun It's a pointless issue anyway.

[2016-08-23 04:36] brlodi commented on #640
These were quieted down by the changes in #329. You've still got an old version.

[2016-08-23 04:49] TomMalbran commented on #537
For the bottom Menu we could have a ```MenuManager``` that will allow to register ```MenuItems``` each with a name, position, onClick callback, and the manager will be responsible for drawing the menu correctly and calling the callbacks.

[2016-08-23 05:47] gunthergun commented on #577
Shouldn't this be fixed now as the fix has been merged --> so please close this issue

[2016-08-23 06:22] mikejbrown commented on #613
Instead of having orbital parameters that try to model real life more or less closely, what about a more abstracted region system roughly like this. I'm imagining the X and Y coordinates will just function a bit like the Rimworld world map: they are not really relevant to anything in game (and don't map to tiles in any direct way), but they may indirectly affect things like spawn rates, temperatur

[2016-08-23 06:36] DeShrike opened #661 "Comparing strings"
I always use string.equals when comparing strings.

if (someString.Equals("someValue", StringComparison.OrdinalIgnoreCase) )
instead of
if (someString == "someValue")

What do you all think about this ?

[2016-08-23 06:44] GamerInspired commented on #640
At the time of the creation of this issue it was the latest build.

[2016-08-23 06:48] Sommerbo commented on #661
I like Equals because it is more flexible.

[2016-08-23 06:53] longtomjr commented on #631
Thanks a lot for the replies! It really helps a ton!
We have already talked about a situation based Soundtrack. I am for this. Also feel free to link stuff you want to reference, it will help me understand what you mean a lot more :)

Another question I have: Will we make the music all one style to get a certain feel, or will we mix and match (like soundsense for df). I don't really know in what c

[2016-08-23 06:56] brlodi commented on #640
Ah you're right those changes were effectively reverted by #609. My apologies. This is now again a relatively minor but certainly slightly annoying issue.

[2016-08-23 07:06] mikejbrown commented on #613
Related issue #353

[2016-08-23 07:07] koosemose commented on #532
Just an update report on my progress: The actual Parameter class is implemented, and seems to work as I want. I'm just trying to implement the Xml reading now, which isn't going nearly so well as it seems to get stuck on an end element and either errors out (as expected), or if I try loop until it reads past it, it will just loop forever. Something doesn't work how I think it does, it would seem.

[2016-08-23 07:09] FilippoLeon commented on #532
You can create a WIP PR and we can try to figure it out together, if you wish.

[2016-08-23 07:12] Grenkin1988 commented on #532
#604 Here is another one discussion related to furniture

[2016-08-23 07:14] koosemose commented on #532
I just might do that once I get it back into a state where it doesn't just blow up in my face... or at least push it to my own repository so you can look at it there. It may well conflict with the current the most recent version of the code, and I'd rather not have to try to resolve conflicts with the code I've horribly butchered in the process of trying to get this to work.

[2016-08-23 07:19] Sommerbo commented on #568
Stockpiles aren't broken as much as not implemented yet. In `furniture.lua` there is a function that specify which items to stockpile, current only steel plates are there. And it isn't expandable the function just returns "Steel Plates"

[2016-08-23 07:28] Mizipzor commented on #648
Why close?

[2016-08-23 07:30] Mizipzor commented on #630
Do it! :)

[2016-08-23 07:32] Mizipzor commented on #661
Other than style, what's the difference?

[2016-08-23 07:42] spexiono commented on #661
Which one is more commonly taught in beginner tutorials?
I'm used to more used to `if (a == "string")` from scripting languages like Lua and Python.

But also it would be nice to hear Quill's thoughts and what he'll use in the C# tutorial coming.

[2016-08-23 07:43] looperhacks commented on #661
@Mizipzor Equals is more flexible, because you can provide some options (like ignoring case). MSDN recommends avoiding == and != for string comparison: https://msdn.microsoft.com/en-us/library/cc165449.aspx

However, using == with null values works, while using .Equals with null values will throw an exception.

[2016-08-23 07:46] Mizipzor commented on #661
Then surely `string.Equals(s1, s2)` is better so you dont have to check for null?

[2016-08-23 07:49] spexiono commented on #661
@Mizipzor
" .Equals with null values will throw an exception."
Do you mean ==? Or am I confused :P

[2016-08-23 07:55] looperhacks commented on #661
@spexiono

That's what I meant:

    string s1 = null;
    string s2 = null;
    bool eq = s1 == s2; // works
    eq = s1.Equals(s2); // crashes

[2016-08-23 07:56] Mizipzor commented on #661
I mean like this:

            string s1 = null;
            string s2 = null;
            var b = string.Equals(s1, s2); // true

If you would insist on using this:

            s1.Equals(s2);

You need to check for null. And you end up with something like this (which is how i think the other method is implemented).

            if (s1 == null)
            {
                return s2 == null;

[2016-08-23 08:01] gunthergun commented on #86
Is somebody working on this system at the moment ?

[2016-08-23 08:02] GamerInspired commented on #640
I'll leave this issue open, unless a gatekeeper believe it's ok to close.

[2016-08-23 08:06] Mizipzor commented on #640
With the now system we can add all path finding logging to a certain channel and then hide that channel. Ill leave this open until that happens.

[2016-08-23 08:10] misspellted commented on #605
*pokes in*

Hmm, more branching discussions. Almost left this one alone, but figured I'd add nearly worthless thoughts on how I am expected to work at .. work.

We use GitFlow, maybe a bit modified? I'm not the process person at work, I just use it. It may be a bit of overkill if implemented here, but figured it may [probably not] be useful:

- `master` _The most recent commit is the most recent p

[2016-08-23 08:11] satch3l commented on #631
Here is a track I'm working on. https://soundcloud.com/user-86473338/luna-wip
It's more electronic style. But I'm gonna try make some more ambient ones as well.

[2016-08-23 08:20] misspellted commented on #661
switch (method):
        case ".Equals":
            displayMessage("Used when one string is known to be non-null.");
            break;

    default:
        refactor();

[2016-08-23 08:22] longtomjr commented on #631
I like it. I dunno if it will fit in a base-building game while playing though. This is just my two cents. I do like the track though :).
Maybe it is a good fit for the title screen if it is loopable. It can also be used with the events system, I just don't think it will work for background stuff.

I think the style might work, but it is a bit to jumpy :). I really like the instruments you used. Y

[2016-08-23 08:26] fre-ber commented on #353
Is anyone working on this or have we not yet decided if we want it? Should I have a go at implementing it?

I was thinking of adding classes SiteManager, Site and Level. The WorldController would hold a reference to a SiteManager object and the SiteManager would keep track of a collection of Site objects and a property "CurrentSite". Each Site object would contain the job queue and a collection of

[2016-08-23 08:28] misspellted opened #663 "'Color' Versus 'Colour'"
Has this discussion occurred yet? If so, I didn't see/read it yet, so I apologize in advance/hindsight.

I don't think it's strictly a coding concern, so it wouldn't fall under those conventions.

If a decision is made, is there a need for a PR? I'm assuming it will affect translations...

[2016-08-23 08:31] Mizipzor commented on #353
Label has been added, removing text tag.

[2016-08-23 08:31] Tranberry commented on #663
I'm pretty sure we will us US English.

[2016-08-23 08:35] sboigelot opened #664 "Xml Elements & Attributes Naming _conVenTions"
We currrently have a lot of inconsistency in the structure and naming convention of elements and attributes in XML.

This is a non-issue for now, but as the code base grows, a lot of error may arise from it. (and this will also confuse moders a lot)

![image](https://cloud.githubusercontent.com/assets/6545998/17885307/fec2c9de-691c-11e6-8fd6-32d6bb8c9465.png)

Do we have a naming (and structure?)

[2016-08-23 08:35] DeShrike commented on #661
if you do
`if (s1.Equals("   "))`
and s1 can be null at this point, then you have other issues. This usualy means that something went wrong before this point.
You should have checked for null before coming to this point.

It's a good practice to always first check parameters in functions:
[code]
Just my 2 cents ....

[2016-08-23 08:36] Fogsight opened #665 "UberLogger"
Can it be setup to point to an error when you click on the message in the console, like default behavior? I find it very inconveniencing to have to manually dig out where the error points to.

It is easily disabled by temporary deleting its folder, I'm not against its presence, but how useful is it?

[2016-08-23 08:37] Tranberry commented on #664
I who thought that pascal case was camel case and vice versa.

[2016-08-23 08:44] sboigelot commented on #664
Yep reverse it, dyslexia kills my brain sometimes, but the concept stay the same :)

[2016-08-23 08:46] koosemose commented on #664
Yeah you've got your camelCase and PascalCase switched. But yeah consistency is important, particularly in the names  and casing. I tend to prefer Pascal for Elements, and camel for Attributes (as it is in Furnitures).

I'm not sure what you mean with the SubElement part, but I've solely had my nose stuck in Furnitures for a while, and am quite a few commits back where I'm working. Could you provi

[2016-08-23 08:49] GamerInspired commented on #613
I kinda like what @mikejbrown said  "what about a more abstracted region system", looking at the system he came up with in the example, I believe this would very moddable, and also allow different systems to have different things (if we have different systems) with different planet types and different chances for different parameters.

I think on discussion on fuel for moving around, it should may

[2016-08-23 08:52] Mizipzor commented on #661
If you dont want to allow the first paramter to be null, then you should do that. But people here really push back in exceptions, something I dont agree with. Log an error to return null is far more common.

I think this is just one of the cases where it will be up to the individual developer writing that code. One way will throw exceptions if value is null, the other will not.

[2016-08-23 08:56] Mizipzor commented on #665
I though it did that. Or it did for me. Any ideas of what I could be doing that you are not?

[2016-08-23 08:57] misspellted commented on #631
"Space In Time"... I got kinda a "hmm, this item makes music... what can I do after a few weeks of plucking at it while I'm traveling in space to the space station" vibe.

Maybe the traveler is the only one, or of but a few on a ship heading out, and needs a little distraction from looking at all the same dots in the sky?

I liked it, although it felt, at times, obstructed. Like it didn't always f

[2016-08-23 08:58] Mizipzor commented on #663
US English as default, UK as a localization. We use US spelling in the code as well.

[2016-08-23 08:59] Fogsight commented on #665
Maybe something didn't get through? All I get is every error points to UberLogger.cs:491

[2016-08-23 09:08] TomMalbran commented on #630
I think that the MouseController does too much stuff and it makes so that if we need something that depends on the mouse we need to go to that file.

I think that it should be more event driven and don't depend on any other module, but have other modules depend on it. Something like if you need an on click event, you can register an onClick callback on the MouseController that would give you the t

[2016-08-23 09:13] Mizipzor commented on #665
In the menu bar if you do Window -> Show Uber Console. Its supposed to replace the default console. Are you using the regular one?

[2016-08-23 09:14] sboigelot commented on #664
It's hard to explain, let's say you have a room with furniture in it

You can represent it by

(my naming: flat structure)
[code]

or

(my naming: elementParent_subElement)
[code]

or

(my naming and my personal :heart:  favorite: SubElement)
[code]

[2016-08-23 09:17] Fogsight commented on #665
Yep, found it, Uber Console points correctly.

Needs some disclaimer on how to use it, otherwise you just get half featured default one and doesn't know what happens. Probably a good idea to leave a comment about it near UberLogger.cs:491.

[2016-08-23 09:18] #665 closed

[2016-08-23 09:24] vircung commented on #605
@vogonistic @WardBenjamin @RodRitter you're right. I would also go with git-flow approach but in limited scope. All we need is only :
- ```master``` (with tags?) for stable
- ```release/*``` for code freeze/hardening/bug fixing
- ```develop```  for unstable/WIP

Additionally every ```bugfix/```, ```hotfix/``` and ```feature/``` would be handled by PR to proper branch as we do now. No rocket scienc

[2016-08-23 09:26] koosemose commented on #664
Ahh I see, I think I am also fond of the SubElement version. Furnitures seems to match that style (though I may have overlooked something), it just has a large number of singular unrelated elements in it.

[2016-08-23 09:36] koosemose commented on #302
BOOYAH! I've got it. I had to make a few decisions I'm less than happy with (for example, Param and ParamList are both Param, due to some oddities I couldn't straighten out with subReader, and ReadToSibling needing the tag name). But I've got it, and now have the O2 Generator generating both Oxygen and Nitrogen in the appropriate ratios, and it is not hardcoded. It will take me a while longer to c

[2016-08-23 09:38] NogginBops commented on #86
@gunrhergun I don't thinks so. Note that we kindof decided on a HTN  rather than GOAP.

[2016-08-23 09:41] koosemose commented on #532
BOOYAH! I've got it. I had to make a few decisions I'm less than happy with (for example, Param and ParamList are both Param, due to some oddities I couldn't straighten out with subReader, and ReadToSibling needing the tag name). I now have nesting Parameters (that can be either floats or strings, or technically anything that can convert to a float or string), it's properly accessible from Lua (I'

[2016-08-23 09:43] vircung opened #668 "Dynamic menu"
I've started thinking on reworking build menu. In my opinion it should be code/items driven. Every item will have additional parameters like category or list of tags. And based on those categories/tags items will be places in proper spots in menu.  We could whitelist only those that can create higher level menu entries.

This would be also one of points where mod management #528 can be automated.

[2016-08-23 09:47] kd7uiy commented on #648
I opened two by mistake.

On Aug 23, 2016 3:29 AM, "Alexander Fast" <notifications@github.com> wrote:

[2016-08-23 09:47] sboigelot commented on #664
@koosemose furniture is a mix bag

For instance the onUpdate lua Function are "flat structure"

[2016-08-23 09:58] Mizipzor commented on #665
Good idea. I was wondering how people would find a wiki page.

[2016-08-23 09:58] koosemose commented on #664
Ah hah, I'd missed that one... and looking through it, it quickly becomes obvious how/why it's that way, since originally OnUpdate was a singular SubElement, and then a second OnUpdate was added to door. It would probably be a good idea to try to do a bit of forward thinking on some of these things and try to decide if it's reasonable for there to be multiple of a particular element (or closely re

[2016-08-23 10:01] Mizipzor commented on #639
Pull request was never accepted, I assume this is still an issue.

[2016-08-23 10:02] koosemose commented on #668
There was some discussion of this when I was first thinking about implementing BaseType (which became TypeTag), regarding using that as categorization, and once it transition to TypeTag (which can be multiples) using that and allowing things to be in multiple categories. That's still a possibility, though it would mean, in many cases, you may have super-specific categories (such as "door" and "wal

[2016-08-23 10:04] Raketfart commented on #142
I hope I'm not stepping on any toes here. I know BeefEx is working on animation, but I couldn't wait, so I made a CharacterAnimation in PR #669.
Sorry

[2016-08-23 10:04] lincore81 commented on #631
How about something like Journey of the Sorcerer?
https://www.youtube.com/watch?v=7rOMGIbY-9s

[2016-08-23 10:05] Fogsight commented on #668
Great idea, if #666 go through, you would be able to `Resources.Load` prefabs as well. Less things hardcoded on the scene the better.

Probably some kind of centralized view-state-machine connected to menus would be beneficial as well.

[2016-08-23 10:05] GamerInspired commented on #639
I can't currently test this as I'm away from my main machine. Could someone else check this for me.

[2016-08-23 10:06] Mizipzor commented on #639
No rush. :)

[2016-08-23 10:08] Fogsight commented on #665
@Mizipzor Doing awesome job, BTW! I was afraid I was coming off a bit dry. My sleep schedule screwed up, and I might behave like a zombie.

[2016-08-23 10:10] Mizipzor commented on #665
@Fogsight No worries man. :)

[2016-08-23 10:13] sboigelot commented on #664
If we adopt the SubElement method, I don't think we need to keep bothering ourself with unsafe-ish code like the xml reader etc.

We can just use a simple .net xml serialization
Somthing like that:
[code]

[2016-08-23 10:14] Mizipzor commented on #631
I always assumed it would be something electronic. Fat, lofty pads. Drawn out chords, slight vibrato. Ambient. You know, space music! :)

[2016-08-23 10:17] Mizipzor commented on #532
@koosemose is there a pull request for that?

[2016-08-23 10:26] vircung commented on #668
@koosemose having ```TypeTag``` already in place is good start with. This could correspond to skill needed to use/create that object.

For category data i thought it could be higher level like: structure, workshop, furniture, defense, utility, job, etc. And i found this one #324

[2016-08-23 10:29] longtomjr commented on #631
thanks for all the feedback! There will be some original stuff! @misspellted do you lik the style, the space in time was just a sample track, nothing properly composed. do you think the feel and style will work for some tracks.

@Mizipzor How do you feel about the style and feel of the music, should it all be same style / feel or do you think we can make a mix of different styles/feels as long as

[2016-08-23 10:29] mikejbrown commented on #568
Don't know if anyone else is working on it at the moment so I've started working on stockpile logic. Will hopefully put up a (probably) [WIP] PR in the next day or two to see if people think its a good start.

[2016-08-23 10:33] koosemose commented on #532
Not yet, I still have to clean up the code (it is chock full of Logging which is unneeded, commented out code from testing, completely uncommented, and deeply conflicting with the current codebase.) Once that's done, I'll look into PRing it.

[2016-08-23 10:49] vircung commented on #496
Check out [waffle.io](https://waffle.io/) for https://waffle.io/TeamPorcupine/ProjectPorcupine

[2016-08-23 11:05] Jorchay commented on #607
Hey guys, first poster here.

Just as a suggestion, we could look into another game to get reference, this game is: _Space Station 13_

They have a pretty cool system of atmospherics, I could link to some of the wiki of how it works, but just as a preview this is the power system it haves:
![image](https://cloud.githubusercontent.com/assets/8218098/17889745/220c0382-6932-11e6-92ec-50a383c0e54c.png

[2016-08-23 11:17] Fogsight commented on #668
Also if UI is to be remade we should consider switching canvas to use Constant Physical Size to prevent #471. It would affect everything.

[2016-08-23 11:18] Mizipzor commented on #631
I would assume that we can mix music styles. But Im very picky though, Im one of those that usually turns off the music and pick my own track. :)

[2016-08-23 11:30] bjubes commented on #661
IMO `name == "me"` is the shortest and makes a lot of sense to read over. I don't think any meaning is lost this way, so maybe only use `string.Equals` when extra options like ignore case are required

[2016-08-23 11:34] Mizipzor commented on #607
Wow those graphics are amazing!

[2016-08-23 11:38] Sommerbo commented on #661
Seems like the main argument for == over Equals() is that == works with null-strings. I always disliked when null is a valid data for anything. A null should be just that null/nothing/uninitialized not a valid option to carry data.

If you have to compare a null string to anything I would say you have made a mistake. But that is just like my opinion, dude.

[2016-08-23 11:39] Tranberry commented on #607
@Mizipzor you don't suggest we steal art from another game right?

[2016-08-23 11:56] Mizipzor commented on #607
@Tranberry No, I was commenting on how good they are. As in, both clear an interesting. When it comes to stuff I appreciate, stealing is not my default position.

[2016-08-23 11:59] Mizipzor commented on #661
@Sommerbo I would like that that was the case. It was discussed before, instead of throwing exception you log an error and return null. I disagree quite strongly with this, I prefer to crash if theres bad data. But as long as null is returned left and right, it has to be taken into consideration.

[2016-08-23 12:15] mmooxy opened #671 "[Discussion] World generation resources"
Currently, Resources have a chance between 0 and 1 AND a combined chance of 1. Every time someone adds a new resource (either during development or with a mod) they would have to change the chances of the other ressources.
[code]
[code]
I sugesst 2 alternatives.
1. This still has the problem of eventually being over 100%, but I doubt there will be that many resources.
[code]
[code]
2. Have a weigh

[2016-08-23 12:28] Raketfart commented on #142
I have an idea for changing colors. I'm still working on it, but essentially this can replace any color in the sprite with the "charactercolor". This could replace the blue color with any other color. The only drawback, is we have to limit this to a couple of fixed colors that can't be used elsewhere (like greenscreen).
We could have a maincolor, hightlightcolor and shadowcolor that gets replaced.

[2016-08-23 12:28] bjubes commented on #626
do u mean like a layer conncting unity c# funcs and lua calls so that functions like mathf dont have to be rewritten in lua?

[2016-08-23 12:32] bjubes commented on #621
I think the point is so that you dont need to push an update every time you add a localization change when the game "ships". I was under the impression that localization downloads once, and checks for updates, but if you dont have internet it will use the potentially outdated version.

[2016-08-23 12:56] abackwood commented on #639
Can confirm. The furniture deconstruct button doesn't seem to be doing anything

[2016-08-23 12:57] bjubes commented on #671
weight seems cleaner. Besides usually mods will add a material, but not want to over enrich the world so that there is more material overall. Weights make sure that the same total number of material is always spawned, which feels more elegant than modifying a ton of percentages and busting out a calculator

[2016-08-23 13:16] abackwood commented on #613
To be clear, I'm not talking about shifting the station up a few tile Z-levels. Shifting orbits would amount to an entirely new place for the station to be in. Station levels are in the order of meters, orbits in kilometers

[2016-08-23 13:28] Tranberry commented on #142
![pixelatedspacefarerspritesheet](https://cloud.githubusercontent.com/assets/16529/17893460/16ac3d40-6946-11e6-8b42-93535548f4ed.png)

First 'final' draft, if anyone wants to play with it. No masking layers yet (I'm on lunch might take some time).

[2016-08-23 13:34] mikejbrown commented on #671
I second the weights option. It fits in well with the regions idea #613

[2016-08-23 13:43] GamerInspired commented on #613
When I mentioned "z-level" I meant place. I wasn't quite sure what to say.

[2016-08-23 13:46] Raketfart commented on #142
I do! But this image is 786x786, so larger than the 512x512 original spritesheet.
What pixelPerUnit should it use?
Or is the character just supposed to be a bit larger?

You don't have to make a masking layer, we just define your colors like this, and the blue line will be replaced:
        Color32 fromColorMain = new Color32(71, 86, 163, 255);
        Color32 fromColorLight = new Color32(142, 154

[2016-08-23 13:49] Tranberry commented on #142
I'll fix that.
![pixelatedspacefarerspritesheet](https://cloud.githubusercontent.com/assets/16529/17894310/3d1973b4-6949-11e6-8806-f1ff14d5106b.png)

[2016-08-23 14:15] NogginBops commented on #626
Kind of, but also like utility functions to interface with lua and moonsharp. Like right now we have FurnitureActions.CallFunction(string, params object[]) to call a lua function. I think we need more lua utilities for e.g. loading files ect.

[2016-08-23 14:16] Raketfart commented on #142
This looks SOOO cool. Good job @Tranberry
![colors](https://cloud.githubusercontent.com/assets/7031323/17895041/088f350e-694c-11e6-8e3f-7f2bfb3b8411.png)

Is it possible to have this guy without helmet in this spritesheet, and then the helmet in a separate spritesheet but same locations as now? Then he can remove the helmet when indoors.
Or is it easier to just have two spritesheets - one with hel

[2016-08-23 14:33] Spool5520 commented on #607
I'm working on something similar for the game right now. Graphics wise. Hopefully be done with the tile set tomorrow.

[2016-08-23 14:38] quill18 commented on #607
Flagging the smelter as done.  @TheRiven Please make a PR for it when you can!

@Tranberry How's the status of your character?    What do you think about making versions for facing left/right/up?

[2016-08-23 14:39] Spool5520 commented on #607
My only concern with having wires and pipes and what ever else we end up adding, running on the floor is that the screen gets cluttered really fast and it becomes hard to see what your doing and making it look cool or pretty becomes very hard. I was thinking about the idea of having utility lines,wires ect be toggled in and out of view by the user so you can see it when you need to and not just al

[2016-08-23 14:40] Tranberry commented on #607
@quill18 like this?
![spacefarerpiskelmasked](https://cloud.githubusercontent.com/assets/16529/17896262/42f515d4-6950-11e6-9bc9-58f59baa07a9.png)

[2016-08-23 14:41] Tranberry commented on #142
I'm on it! (helmet-less character)

[2016-08-23 14:41] vogonistic commented on #86
I have the start of some code I was playing with before I got picked as a gatekeeper. It can sort of do simple optimizations, but it's pretty naive code that isn't fully thought out. If anyone is interested, I could share it. It's not connected to the actual job queue, but could be used as inspiration.

[2016-08-23 14:43] Spool5520 commented on #607
That looks great!

[2016-08-23 14:43] quill18 commented on #605
I like it.  `release/*` and `develop` is clearer than `develop` and `experimental`.

[2016-08-23 14:45] TheRiven commented on #607
@quill18 Will do :smiley:
I also have this for consideration:
![o2gen-animation](https://cloud.githubusercontent.com/assets/3747487/17896436/8e8c66f8-6948-11e6-9af0-4026da3a099d.gif)

[2016-08-23 14:45] GamerInspired commented on #671
@mikejbrown I hope with the regions idea goes ahead, we then have different resources in different areas. For instance you can only find titanium (example only) at/around magma planets. (again example only).

[2016-08-23 14:47] Spool5520 commented on #607
@quill18 I watched your video but I just can't seem to make the new art work in unity. Would you be willing to add them for me if I sent you a zip file with all the sprites in it?

[2016-08-23 14:50] vogonistic commented on #86
It's early code so take it for what it is: https://github.com/vogonistic/ProjectPorcupine/commit/354bd8124fc41299a6f23224121512cae189e336

It's on a branch called `job-optimizer` in my repo. It predates @Kreol-Dev, but I was going for something kinda like that.

[2016-08-23 14:51] koosemose commented on #619
Would this even need a separate system? It mostly just seems like a way to draw a relation between similar items. Assuming a Gas class and a Liquid class (and all plus maybe inventory can have Lua scripts attached), then a Lua OnUpdate could check the temperature and start destroying its current type and creating the other (so if Ice Inventory is sitting in a warm space, every update it will destr

[2016-08-23 14:54] Tranberry commented on #607
@Spool5520 you should probably join the discord chat if you want quick help with anything

[2016-08-23 14:54] koosemose commented on #532
And I finally have a PR up for this. I even tried to include a summary of how it's used... though for as long as I've been working on it straight, I'm not sure how coherent the summary actually is.

[2016-08-23 14:57] GamerInspired commented on #607
Just need to ask are @TheRiven and @Tranberry our artists now? :stuck_out_tongue_closed_eyes:

[2016-08-23 15:00] Fogsight commented on #661
I would go with more readable option. You can spot `==` at glance.

[2016-08-23 15:21] bjubes commented on #593
@abackwood you can also refer to the project's "version" by naming how many commits appear in the master branch, so its time zone independent and easier to see how may changes have occoured since then.

[2016-08-23 15:50] Spool5520 commented on #607
@Tranberry I'll go on there after work today. Didn't know we had one thanks.

[2016-08-23 15:50] mikejbrown commented on #661
My opinion coming from python FWIW: if you know it is invalid for null to be passed to your function check that case early and explicitly throw an exception for it, then you can use the readable `==` option. Readability + explicit checking beats weird method call syntax + helpful side effect any day.

Of course `.Equals` is a documented and stable API so this really is just a discretionary opinion

[2016-08-23 15:51] Spool5520 commented on #607
I use monogame with vs 2015 for my game so Unity is a bit different for me >.<

[2016-08-23 16:13] ComputerOverlord commented on #471
It was made CPixS to prevnt text bluriness. If we did that we'd get bluriness.

[2016-08-23 16:39] #671 closed

[2016-08-23 16:58] zleeoo opened #680 "Game broken?"
I've just downloaded the game and it appears to be completly broken to me.
It's only my problem?

[2016-08-23 17:01] RodRitter commented on #680
Latest master works fine. What isn't working for you? Any error messages?

[2016-08-23 17:06] ajahraus commented on #431
It seems to me that a 'story' (i.e. specific turn of events that lead the characters to the place they are now) is much less important than a 'setting' (i.e. the universe and its history that the current events unfold within).
Are the space-pirates members of a naturally violent race, or were they a peaceful and resource rich race before some great injustice left them scattered, weak, and hungry f

[2016-08-23 17:36] fre-ber commented on #302
Awesome! Good job!

[2016-08-23 17:36] FilippoLeon commented on #680
You may need to reload the scene or clean your git copy.

[2016-08-23 17:38] fre-ber commented on #619
@koosemose Sounds like a good solution.

[2016-08-23 17:40] #515 closed

[2016-08-23 17:41] FilippoLeon commented on #515
Closed in favor of https://github.com/TeamPorcupine/ProjectPorcupine/pull/682.

[2016-08-23 17:42] zleeoo commented on #680
I'll try again cleaning my folder and re-downloading the entire project, Thanks!

[2016-08-23 17:45] Mizipzor commented on #680
Maybe wrong Unity version?

[2016-08-23 17:52] #680 closed

[2016-08-23 18:04] ComputerOverlord commented on #663
@misspellted Yes, it has been dissucssed before

[2016-08-23 18:49] abackwood opened #685 "No deconstruction of walls under pressure"
A requested feature for 0.1 is that pressurized rooms can't simply be breached by deconstructing walls.

This might be fun for someone relatively new to programming to pick up.

Deconstructing happens instantly as of commit #629. BuildModeController's DoBuild() method takes care of that. A check could be added there against accidentally breaching a room.

Any implementation of this would need to f

[2016-08-23 19:03] TomMalbran commented on #664
We are using PascalCase for both classes and properties/methods in C#, so I think that we probably should just use PascalCase for both elements and attributes, for consistency.

[2016-08-23 19:27] FilippoLeon opened #689 "Discussion: Damage value"
Looking at the sprite controller, I see that there are many "hardcoded" specific handles for the sprites (cf. https://github.com/TeamPorcupine/ProjectPorcupine/issues/657)

I think we should have some more flexibility for the system.

In particular: animations and damage value.

Currently we have code like this:

[code]

However, we could generalize the system by implementing a damage value system

[2016-08-23 19:28] #689 closed

[2016-08-23 20:02] GamerInspired opened #690 "[Question] Power cell size?"
Is the power cell meant to be that big?

![ss 2016-08-23 at 09 01 36](https://cloud.githubusercontent.com/assets/8201304/17907701/f9f442f4-6974-11e6-9845-6d72809a85d0.png)

[2016-08-23 20:05] Tranberry commented on #607
if #684 gets merged we will almost have ticked of the first check on this list.

[2016-08-23 20:08] GamerInspired opened #691 "Flooring Tip"
I highly recommend that no one trys to queue up the entire map to be floored all at once. As when I did this semi by accident and semi on purpose, found that the game will hang for a long time.

[2016-08-23 20:11] GamerInspired commented on #639
Just found out during my once a day (minimum) test session. That you can deconstuct things but only using the right click and selecting deconstruct method.

[2016-08-23 20:29] vogonistic commented on #605
We had a chat among the Gatekeepers (me, @WardBenjamin, @RodRitter and @Mizipzor) trying to figure out how to not break things when switching methods and avoid having to train all the new developers coming in that are interested in the project but doesn't have much git experience.

We came to the conclusion that it would avoid a lot effort if we keep the `master` branch as the Development branch.

[2016-08-23 20:33] ComputerOverlord commented on #690
no... I don't think so...

[2016-08-23 20:35] Mizipzor commented on #605
@vogonistic I'm going to assume that there will be questions, comments and concerns regarding this. Lets setup an issue dedicated to that so they dont end up here.

[2016-08-23 20:39] Tranberry commented on #691
Sounds like something solved with a restriction.

[2016-08-23 20:46] vogonistic opened #694 "Milestone 0.1: Git branch naming conventions (git-flow)"
We had a chat among the Gatekeepers (me, @WardBenjamin, @RodRitter and @Mizipzor) trying to figure out how to not break things when switching methods and avoid having to train all the new developers coming in that are interested in the project but doesn't have much git experience.

We came to the conclusion that it would avoid a lot effort if we keep the `master` branch as the Development branch.

[2016-08-23 20:56] GamerInspired commented on #691
All I did was click one corner then went to check another window, came back clicked the other corner and wondered why the game was hanging, to then find out that I had just queued up the entire map to be floored.

[2016-08-23 21:12] vircung commented on #694
Using git-flow is good point. But i think we can get out without changing names for ```develop``` and ```master``` branches. That's because at some point ```develop``` and ```master``` need to point out to one commit because there won't be any ```master```/```stable``` to merge into. Additionally project is at very early stage without any official release.

Also GitHub gives ability to [change tar

[2016-08-23 21:16] svmnotn opened #696 "Unity freezes when the Power generator is fed"
This is happening in the latest unity build for linux, I'm running the latest kernel using Arch. The last commit of master was: 5fe9990

[2016-08-23 21:28] mikejbrown commented on #689
For reference why this has closed: #657 has now been closed with PR #660. With the new system this should be pretty simple to implement. All that hard coding is replaced by a `<GetSpriteName FunctionName="GetSpriteName_Door" />` XML tag and matching LUA function

[code]

So it's easy to change furniture sprites arbitrarily through LUA now!

[2016-08-23 21:44] misspellted commented on #663
Well, if discussed, I'm going to close it then.

[2016-08-23 21:44] #663 closed

[2016-08-23 21:48] svmnotn opened #699 "Characters protesting at random points"
After some commits characters stop doing jobs, currently I know it is happening in #687 and #683, also @WardBenjamin said it has happened on master also.

[2016-08-23 21:53] Dan54 commented on #621
@bjubes has a good point - closing.

[2016-08-23 21:53] #621 closed

[2016-08-23 22:20] svmnotn commented on #699
also #688

[2016-08-23 22:39] Fogsight commented on #471
It is not 100% sharp, but it is not blurry. It is a good trade off, because when you are using resized text to fit it on buttons, it becomes pretty blurry indeed, with Constant Pixel Size.

I think CPS should only be used when catering to specific device with set resolution. There's no other fix for variable resolutions. And it can be made crisp later by using custom 3D font.

[2016-08-23 22:54] vogonistic commented on #605
I created a separate issue for discussing the branches I mention here: #694

[2016-08-23 22:59] vogonistic commented on #694
We like the official git flow branch names `develop` and `master`, but the reasoning for going with `master` and `stable` was this:

  1. Keeping `master` as is allows people not familiar with git flow to keep working without changing anything. _(Better to be inclusive to beginners when it is an option)_
  1. While the target branch can be changed after a PR is made, it involves more work for gate

[2016-08-23 23:06] sboigelot opened #702 "[BUG] [Latest] NullReferenceException in Character"
[code]

To Reproduce just build this scene:

![image](https://cloud.githubusercontent.com/assets/6545998/17912903/eb960fc2-6996-11e6-879c-b39e6ca25dc7.png)

[2016-08-23 23:12] sboigelot commented on #702
maybe related to #699 ?

[2016-08-23 23:15] SteelFall opened #704 "Pipes and Vents"
Hey there!
**Pipes**
I was going to start to work on pipes and vents but I am really unsure about the way that pipes should be. Here are the two of "styles" I was thinking about:

- Pipes will be a type of visible furniture (which may make more sense once we have some world layers)
- Pipes will be beneath the floor and they are visible without a floor (ie Prison Architect)

**Vents**
Vents should

[2016-08-23 23:16] sboigelot commented on #704
Another suggestion is:

Visible pipes ouside of room
Invisible (under floor) pipes indoors (turn visible on build mode)

[2016-08-23 23:18] SteelFall commented on #704
@sboigelot Ah yes! Good idea!

[2016-08-23 23:20] bjubes commented on #601
Agree, we need high level docs for large changes so devs don't get lost when large PRs are merged in overnight.

[2016-08-23 23:27] sboigelot commented on #324
I need that for the trading system I'm working on (many PR) but well underway. If it's not there when I implement the TraderVisitEvent I'll add it.

[2016-08-23 23:29] SteelFall commented on #704
Updated the description as I have forgotten to talk about the vents. :/

[2016-08-23 23:33] GamerInspired commented on #704
I think I prefer the idea of having them visible (but able to walk through them for now) for when we have multiple levels. Would be cools to see the pipes run outside the base.

[2016-08-23 23:34] vogonistic commented on #704
It'll be important to be able to see when pipes and connections that goes outside the base breaks, so it might be good to show them in some way at all times.

[2016-08-23 23:36] GamerInspired commented on #704
We will also need to make sure that pipes can go through walls? With breaching it so that the room stays a room; maybe by using a wall-pipe or something.

[2016-08-23 23:37] vogonistic commented on #704
I think we might need a new layer, so we get this stack: `tile`, `furniture`, `pipes`, `inventory`

[2016-08-23 23:39] sboigelot commented on #704
We should probably also be able to build multiple pipes on the same tile:

For instance, power, water, gaz

In order to not make the pipe building too tedious

[2016-08-23 23:39] GamerInspired commented on #704
@vogonistic so getting the z-level started?

[2016-08-23 23:40] vogonistic commented on #704
I think z-level is separate, but we might be able to pipe between connected levels. =)

[2016-08-23 23:42] GamerInspired commented on #704
@vogonistic In my opinion that's fine as long as you are still able to have them on the same level as the workers; would look cool to have the workers walk past steaming pipes or something.

[2016-08-23 23:44] GamerInspired commented on #704
@sboigelot I also think that's a good idea, don't want to have to spaghetti the pipes/wires to much.

[2016-08-23 23:50] koosemose commented on #664
However, we use camelCase for variables and a property is more analogous to a variable.

[2016-08-24 00:21] ComputerOverlord commented on #624
Materials:
![mat_sprite-sheet](https://cloud.githubusercontent.com/assets/21087045/17914333/fd7bc22c-6955-11e6-83e8-4f515888172c.png)

[2016-08-24 00:24] dustinwloring1988 opened #706 "[WIP - UI] Need some input"
Here is what the Hierarchy in unity will look like on this PR -will submit after my current PR is meged

![hierarchy](https://cloud.githubusercontent.com/assets/21135165/17914328/1ca27196-696f-11e6-950b-70786b2344ee.png)

Game play in the Editor

![grid](https://cloud.githubusercontent.com/assets/21135165/17914331/1d9b45f0-696f-11e6-8a5c-d148a6c5adf2.png)

Now all the Dialog Boxes and Menus are lo

[2016-08-24 00:27] ComputerOverlord commented on #624
I decided to open this back up. I can't use these (password problems...), but maybe someone else can.

[2016-08-24 00:28] sboigelot commented on #706
yes if the column count is not restricted

[2016-08-24 00:29] bjubes commented on #706
i think the grid view is a bit crowded, especially on low res displays, but the scene looks very clean

[2016-08-24 00:30] bjubes commented on #706
also you may want to add the PR number to your OP

[2016-08-24 00:32] vogonistic commented on #86
@gunthergun Are you working on this?

[2016-08-24 01:21] Spool5520 commented on #607
The origin for the x,y is the top left of the image right? (for walls)

[2016-08-24 01:24] Spool5520 commented on #607
![wall](https://cloud.githubusercontent.com/assets/13977485/17915338/a03ca096-695e-11e6-8dc6-4be3839394ec.png)

so going from a 64x64 sprite and a 512x832 image SteelWall_NEW would be x256 y64 w64 h64 right?

[2016-08-24 01:26] vircung commented on #694
Actually we don't need to have multiple ```hotfix/*``` and ```release/*``` branches. Only one of those will be needed. That's because any changes made in branches ```hotfix``` and ```release``` should be merged back to ```master``` and ```stable```. Therefore there will be only 2 continuous branches ```master``` and ```stable```  every other should be removed after merging.

[2016-08-24 01:41] quill18 commented on #607
#684 merged and checked off!

[2016-08-24 02:29] dustinwloring1988 commented on #706
I will when I submit it working one a couple more bugs.
Thanks for the input guys.

I really just did things like this as a "place holder" until we get a better UI system in place. I know the way I have it is not the best. But it keeps us out of the _SCENE_ file for the most part.

[2016-08-24 02:42] dustinwloring1988 commented on #706
https://github.com/TeamPorcupine/ProjectPorcupine/pull/707

[2016-08-24 03:46] AaronBuckles opened #709 "[WIP, Concept] Art for Uranium"
I just came up with a concept for the Uranium.  Is the black outline a good idea?  I figured it would match the rest of the art in the game.  Can be removed though.  I plan on keeping a consistent look for other resources.  Please give any suggestions.
![uranium_concept](https://cloud.githubusercontent.com/assets/21068682/17917572/84e7ccee-6972-11e6-8ad3-b0241f183db2.PNG)

[2016-08-24 04:00] Sommerbo opened #710 "Logspam and Uberlogger"
We should aim to reduce log spam since right now it is ridiculous. Log spamming reduces the usefulness of the log and degrades performance. A lot of `Debug.Log` calls are inside loops and that is their main problem additionally quite a lot of the debug log-messages contain no information besides the fact that it was run, while this is useful for debugging those calls should be removed before pushi

[2016-08-24 04:03] vogonistic commented on #710
Everybody is waiting for someone else to break eye contact first and have to fix it. I would love to see this, especially for Jobs and Pathfinding.

[2016-08-24 04:08] vogonistic opened #711 "Add ULogChannel, ULogWarningChannel and ULogErrorChannel to ModUtils"
ModUtils exports C# methods so that they are available to Lua scripts. UberLogger (the logger library we use) has some channel logging capabilities and we would like to make those available to lua scripts as well.

Look at #672 for how it was originally implemented.

We expect the Pull Request to include at least one log message sent using each of these functions from a Lua script.

Make sure to f

[2016-08-24 04:11] vogonistic opened #712 "Fix spelling error in ContextMenuAction and related places"
ContextMenuAction has a spelling error in one of the fields. Find and replace `RequiereCharacterSelected` with `RequireCharacterSelected` where you can find it.

Follow the style guidelines in [CONTRIBUTING.md](https://github.com/TeamPorcupine/ProjectPorcupine/blob/master/CONTRIBUTING.md)

[2016-08-24 05:56] Fogsight commented on #710
Now you can appreciate full amount of spam in real-time :) #718

[2016-08-24 05:58] Sommerbo commented on #710
Slowly fixing these. Worst spam already removed

[2016-08-24 06:25] RodRitter opened #721 "Error: Downloading Localization"
I seem to be getting an error about 2 seconds into my game regarding the LocalizationDownloader.

![image](https://cloud.githubusercontent.com/assets/4159679/17920289/faedc81a-69d3-11e6-8810-24bae54e0e49.png)

[2016-08-24 06:32] sboigelot commented on #721
Confirm having the same issue

[2016-08-24 06:33] vogonistic commented on #721
It must be something with #667

[2016-08-24 06:34] sboigelot commented on #712
Oups sorry, I'm not a native speaker and sometimes I get confused with English :'(

[2016-08-24 06:35] vogonistic commented on #712
@sboigelot It's no big deal. It created a nice beginners task.

[2016-08-24 06:44] RodRitter commented on #721
Perhaps people with firewalls will have trouble with this? I see localization is being downloaded from https://github.com/QuiZr/ProjectPorcupineLocalization/archive/[version].zip

[2016-08-24 06:46] DeShrike opened #724 "Water Recycler"
Idea: Water Recycler

Recycles waste water (into a Water Tank maybe)
Ice can be used to create water
Water is consumed by chars over time
Oxygen Generator uses Water
Hydroponics Farm uses water

[2016-08-24 06:50] Sommerbo commented on #721
It also happens when `curr.ver` file is missing. That should fixed.
Try deleting all files in `/Assets/StreamingAssets/Localization` and re run

[2016-08-24 06:51] RodRitter commented on #721
That indeed fixes it.

[2016-08-24 06:52] mikejbrown opened #725 "[BUG] KeyNotFoundException in Parameter.cs"
Getting this whenever building the metal smelter:

[code]

Refers to the return line here:

[code]
Should there be a default value here?

[2016-08-24 06:55] #721 closed

[2016-08-24 07:34] vogonistic opened #726 "Thoughts and early attempt at a new Job System"
WARNING: I ramble a lot in here. It's past midnight, but I wanted it shared. I'll update this post as things gets fixed, catch fire, I give up. @svmnotn has volunteered to help.

I've written this at an attempt at getting us a new job system. Link to the code is in the bottom, but there isn't that much to see. The code is purposely disconnected from the game. I wanted the logic to work before I tr

[2016-08-24 07:36] vogonistic commented on #726
I put it here instead of in #86 so that it doesn't drown in an otherwise silent thread, but they are definitely related.

[2016-08-24 07:37] gunthergun commented on #86
currently not no, just wanted to know how things were going

[2016-08-24 08:13] gunthergun commented on #726
@vogonistic can't we make the goals and conditions in a graph and then let dijkstra run on it --> that would solve the looping problems ?

[2016-08-24 08:29] Tritaris commented on #704
abackwood: but I think then what we'd need is gas tanks
abackwood: that function as "genertators" when set to do so
Tritaris: yeah i have been thinking about that myself. it makes sense to make it from ice . Tanks could come once we start on the piping and vent system
abackwood: if (gasPressure <  THRESHOLD) exude gas else store gas
abackwood: for now they could take it from the room they're in
ab

[2016-08-24 08:33] abackwood opened #729 "[Discussion/Enhancement] Gas Compressors"
There has been some talk of making the O2-Generator require ice to operate. I think that makes a lot of sense and is cool. However, that could leave the player with no way to produce oxygen at the start if there is no ie nearby. It would be lame for the characters to suffocate so quickly.

Therefore, I was thinking of adding Gas Compressors. They are essentially big tanks that release their gas in

[2016-08-24 08:53] abackwood opened #730 "[Bug] UI doesn't fit on screen"
SOme o the UI seems to be falling off my screen since commit #716. Does anyone else have this happen to them? I can hardly see some of the border UI elements.

![uitoobig](https://cloud.githubusercontent.com/assets/6920426/17924400/cda564ac-69e8-11e6-996b-cc98d3bf0c49.png)

[2016-08-24 09:02] GamerInspired commented on #729
Seems like a good idea to me, would also other uses later on, as it sounds like you could pump gas into it later on (once pipes are in) making it more of a gas tank.

[2016-08-24 09:24] abackwood commented on #729
That's my thought too. It could be tied into the pipe system. But while that's not there (or as default behaviour) it works locally

[2016-08-24 09:40] GamerInspired commented on #729
I think once pipes are in then there should be a separate furniture that does the releasing of gas. But maybe also having a early game all in one system would be a good start but also nice to have for progression sake.

[2016-08-24 09:43] Tranberry commented on #680
If you tell us what the error was maybe someone else would benefit from that. @gatekeepers what's your thoughts on this?

[2016-08-24 09:57] Raketfart commented on #709
I think the black outline fits nicely with the new character sprite

[2016-08-24 09:57] yonner opened #732 "Any thoughts about adding simple GAB"
Hi Porcupiners,

First let my start by saying I don't want to steel anyone else's thunder if some else's is planning to implement a GAB (goal-driven agent behavior) system or some other form of AI for this game. Please point me to the relevant issues or pull requests if stuff like this is already in motion.

So I have been watching the progress on project porcupine since it first started and I can

[2016-08-24 10:07] mmooxy commented on #732
#86 #726

[2016-08-24 10:16] longtomjr opened #734 "How to submit RAW image files. (.svg, .piskel etc.)"
How do you think should we go about submitting our raw image files. I was thinking branch, but I am not sure. What do you guys think

[2016-08-24 10:29] longtomjr opened #735 "Airlock Size and Visual Representation."
I am planning on making the airlock art. I feel like the way the airlock is represented in game is maybe not final. I just want to have a little discussion about this. Maybe have a 2 or 3 tile long Airlock, and have the character wait in between the two doors for a bit.

What do you guys think?

[2016-08-24 10:32] GamerInspired commented on #735
I think it would be awesome if you were to be able to make your own airlocks and just designate that area as an airlock.

[2016-08-24 10:50] TheRiven commented on #709
It does fit but I do feel that dumping lumps of uranium into the reactor does not seem like the safest way to run such a machine. :laughing:

but then it is the future :thought_balloon:

[2016-08-24 11:03] GamerInspired commented on #709
Maybe we need to process it before hand?

[2016-08-24 11:05] TheRiven commented on #709
Probably something like that

[2016-08-24 11:26] yonner commented on #726
Hi all, as just pointed out to me by @mmooxy I also raised an issue #732 in order to discuss a possible implementation of GAB (Goal-driven Agent Behaviour) in project porcupine. If this is a repeat of this discussion I would be happy for my issue to be closed.

Again I certainly don't want to steel anyones thunder but I would like to be a part or contribute to this in some way.

How I would implem

[2016-08-24 11:35] Fogsight commented on #730
Scale on the screen set to 1.1, roll back a mouse wheel a bit :)

[2016-08-24 11:45] koosemose commented on #735
Yeah, I much prefer the idea of the Airlock currently in game be an Airlock door, and being able to designate our own airlocks. Something roughly akin to Prison Architect, where to be considered a valid Airlock it requires certain conditions be met (2 airlock doors, an air pump, and some kind of vac-suit storage locker). It would allow the player some planning and choice of style, i.e. do they wan

[2016-08-24 11:54] Randshot commented on #577
Oh, sorry. Thought that a mod would have closed it.

[2016-08-24 11:54] #577 closed

[2016-08-24 11:57] Randshot commented on #593
Maybe close this one?

[2016-08-24 11:57] longtomjr commented on #735
I really like the idea you have there @koosemose and @GamerInspired !

[2016-08-24 12:02] bjubes commented on #734
I don't think raw files belong on the repo. lets say a 5MB raw file is uploaded, then changed 3 times, that 20MB. multiply for 30 images/sounds and that's 600MB out of 1024MBfree. Binaries that aren't required for the game to run have to be stored either off the repo in some dropbox like system so that we don't run out of room on github for texted based assets

[2016-08-24 12:03] JosephBywater commented on #734
I have unlimited storage in my Google Drive (2 petabytes or something crazy ;) )

[2016-08-24 12:06] GamerInspired commented on #735
@koosemose I really like the expanded explication you gave about having it "a good ol' fashion do it yerself" method and I agree having a "Quillcorp readimade Airlock 4000 Deluxe (with red stripe)" would also be a good idea, maybe as a early game solution.

[2016-08-24 12:09] bjubes commented on #710
Thanks for this issue, I think most people (me included) havent used UberLogger before so we aren't using channels because of it. hopefully from now on more PRs put this in initially.

[2016-08-24 12:09] longtomjr commented on #734
I was thinking raw data files. Like .piskel and .svg. Both of those are text. So they should not be more than like 50kb at most. It is just files that can be opened to make changes to the art.

[2016-08-24 12:12] gunthergun opened #740 "Tried the current master and after 2 min of gameplay the game throws out errors nearly every frame"
The errors come after this warning:
`Trying to set a thermal diffusivity that may break the world: 1.`
[code]

Is anyone having this swell or did I do anything wrong ? It is something with the lua stuff. But I do not know the lua very well...

[2016-08-24 12:18] #724 closed

[2016-08-24 12:19] GamerInspired commented on #724
I like this idea, and I hope something like this gets added at a later date. Most likely after pipes have been added.

[2016-08-24 12:20] Randshot commented on #740
I think that it is very likely to be a Lua related error. We may have to recheck after my PR #688 gets merged.

[2016-08-24 12:24] gunthergun commented on #740
ok thanks @Randshot, i had no time to work in the last 3 days and am slowly trying to find my way back to the project :) so much changed

[2016-08-24 12:26] mikejbrown commented on #740
Possibly related #725

[2016-08-24 12:28] Randshot commented on #740
@mikejbrown That's entirely possible. I will recheck after my PR gets merged.

[2016-08-24 12:33] Sommerbo commented on #735
Currently regular doors leak oxygen, Airlock doors do not so we can already build airlocks. Just wasteful ones

[2016-08-24 12:36] gunthergun commented on #740
@mikejbrown definitely related

[2016-08-24 12:39] koosemose commented on #725
I'm not a huge fan of defaults (at least defaults not set by the caller), but since the actual fault is user modifiable code, and we can't give proper error messages from Lua, it's probably reasonable to have some form of defaults so one bad mod doesn't bring the entire thing crashing down.

[2016-08-24 12:44] mikejbrown commented on #725
Yep... that's what it is. I put `Debug.ULogWarningChannel("Parameter", "Accessing key: " + key);` above the return statement and when it throws the error it is `Accessing key: smelting` which doesn't exist in the XML but is (or, rather, was previously) created in code a runtime. So it is not getting created.

If furniture continues to use the params for the equivalent of local instance variables t

[2016-08-24 12:47] mikejbrown commented on #740
Yep, definitely that. Put the debug line in Parameters.cs to see exactly what's going on:

[code]

[2016-08-24 12:50] koosemose commented on #725
Yeah, unfortunately I'm not sure if there's any reasonable way to have local instance variables in the Lua with the way it is set up, I'm pretty sure with how it is now any variables would be shared between all furniture, or at the very least all furniture that uses that function if there's a way to make a local scope to that function call. I'm not familiar enough with Lua to know if there's a way

[2016-08-24 12:50] Randshot commented on #740
Yeah, it took me a while to notice that there is a new parameter system :)

[2016-08-24 12:56] Randshot commented on #740
Just out of curiosity, is there any method for logging in Lua?
I find it very difficult to debug any errors without being able to check the values and so on.

[2016-08-24 12:57] koosemose opened #743 "Local instance variables in Lua"
Currently, when a Lua function needs a variable that is persistent between calls to that function and exclusive to that particular piece of furniture, the convention seems to be to set a Parameter, and the way it's usually implemented is just to try to use it, and if it isn't there it relies on the old default values (which aren't present at the moment), which now causes an error (#740 & #725).

T

[2016-08-24 12:57] gunthergun commented on #740
We should make a debug function that logs for lua code in the unity logger

[2016-08-24 12:59] koosemose commented on #740
Yep, my bad, I didn't put in a system for default values, and didn't realize several pieces of furniture relied on the default values.

[2016-08-24 13:00] mikejbrown commented on #725
So the metal smelter doesn't throw this after #688. But it would still be good to establish what happens when someone accesses a parameter key that is not defined. Should we let an exception be thrown (keep in mind this could be from code in mods) or specify a default value or enforce something more Lua-centric?

[2016-08-24 13:00] jdlaroche opened #744 "Selection tooltip (ISelectable)"
In one of the last tutorials, Quill created the ISelectable interface that is used to populate the selection tooltip. Right now, the ISelectable interface has 4 methods. GetName, GetDescription, GetHitPointString and GetJobDescription.

The last one is a method I added to be able to display the job owned by a character in the tooltip.

When I added that, my initial idea was to also display the job

[2016-08-24 13:02] Randshot commented on #743
I don't know if the Lua state is kept alive or created anew for every call, but if it is kept alive, then it is possible to define Lua intern tables to keep track of values or such.
You won't have access to the xml values with this method though.

[2016-08-24 13:03] mikejbrown commented on #740
@Randshot @gunthergun Logging in Lua is a PR #723 just waiting to be merged

[2016-08-24 13:06] koosemose commented on #725
The exception as is is simply unacceptable, at the very least we need a more explicit error (at the very minimum something along the lines of what you used for debugging), something more Lua-centric would be preferable in my opinion, if we could get an actual Lua line number for the error would be great so that if we decide to lay the bug at the Lua script's feet, it can be shown where it is. If n

[2016-08-24 13:07] koosemose commented on #743
... and that means it wouldn't persist across saves... dangit.

[2016-08-24 13:09] Randshot commented on #743
Just tried it and it doesn't seem to work anyways.

[2016-08-24 13:10] gunthergun commented on #740
@mikejbrown thanks :)

[2016-08-24 13:12] abackwood opened #745 "Localization downloader throws non-error errors"
Right now, the Localization table will throw errors if new Localization is downloaded or when a key is not present. This seems overly dramatic. Errors are problems that mean the program is not running well. "Hey a new localization has been downloaded" is working as designed and doesn't need the game to pause to make me check what's wrong?

Same with missing loc keys. It's not game-breaking if ther

[2016-08-24 13:14] mikejbrown commented on #743
An advantage of the Parameter system is that it is easily saveable in the XML without any modifications to the system.

A problem with the Parameter system (apart from the KeyNotFoundException bug which exists at the moment) is that the parameters are effectively static "class" level variables (think of furniture types as a class and specific instances of furniture as objects). So if you want to i

[2016-08-24 13:14] bjubes commented on #745
those should probably be warnings/info, and should be under the localization tab in uberlogger so you don't have to see them

[2016-08-24 13:17] koosemose commented on #743
Parameters should be individual to a piece of furniture, I know openness for doors is, because I had a bug when I was working on Parameters and it wasn't. Once a piece of furniture is cloned from the prototype it gets its own copy of the Parameters with a deep clone of all the inner bits.

[2016-08-24 13:20] FilippoLeon commented on #743
I think the Parameters are perfect for that. All LUA codes for Furniture act as "Member" function of the furniture, just that is implemented in lua. All parameters (Param) act as storage (i.e. like c# class parameters) and represent the state of the FRurniture object, exposing the Parameters to both c# and LUA

[2016-08-24 13:27] koosemose commented on #743
My issue is only with default values when not requested by the caller, in that they can mask bugs.

If I try to access `openness` but instead type `openess`, getting an error (that can actually track down the error rather than the current Lua errors) seems preferable to silently giving me a 0. Whereas if I have to explicitly ask for a default, I'm only going to get a default value when I want it,

[2016-08-24 13:28] mikejbrown commented on #725
#746 is a first pass. Thoughts?

[2016-08-24 13:28] FilippoLeon commented on #743
We should change things like:

[code]
To

[code]

[2016-08-24 13:29] Randshot commented on #740
@mikejbrown That's nice to hear :)

[2016-08-24 13:30] mikejbrown commented on #743
@koosemose I stand corrected. If parameters are local then they are the perfect solution. We just need better debugging options for lua code.

[2016-08-24 13:36] koosemose commented on #743
@FilippoLeon Your solution will make them no longer separate, trust me, that is exactly the code I originally had, a dictionary copy constructor doesn't make a deep copy, so all the Parameters it contains are referencing the exact same Parameters the original did.

I implemented the GetDictionary function precisely to create a proper clone of the dictionary (though the name could perhaps be more e

[2016-08-24 13:58] FilippoLeon commented on #743
Sorry I thought GetDictionary returned the dictionary. So, if you perform a deep copy, the Params act as a non-static property, right?

Btw, You could make param a struct.

[2016-08-24 14:05] #711 closed

[2016-08-24 14:05] AaronBuckles commented on #709
Ok, I will try to make some sprites more after school today.

[2016-08-24 14:09] koosemose commented on #743
Correct. Yeah, that's why I should probably have had a different name for GetDictionary, so it's clear even from the caller what it's doing.

[2016-08-24 14:24] #593 closed

[2016-08-24 14:32] MSigma commented on #726
@vogonistic Glancing through it, your system seems to pick the first viable goal-path and run with it, which would probably make the agents behave a little bit too predictably.

More importantly, cost in time should probably not be the single deciding factor in what makes a path better than another. Say the goal was to build a wall. The agent, using the proposed system, could decide that deconstru

[2016-08-24 14:37] yonner commented on #726
My work here is done :)

On serious note though I did have a FPS example game that used the GAB system I proposed and the AI looked very convincing. Also it allows us to start with a very minimal list of needs and goals and to build up on the complexity as the game grows.

[2016-08-24 14:46] UnknownSoldier1 commented on #745
The warning that a key doesn't exist is meant for those who make localizations, that they can see immediately what's missing in the localization file.

[2016-08-24 14:46] Grenkin1988 commented on #602
#750 More to be added soon

[2016-08-24 14:48] vogonistic commented on #726
@gunthergun I don't think we can build a graph, there might be valid reasons for someone to require steel for two different dependencies. That is, we can't pre-build it.

[2016-08-24 15:03] vogonistic commented on #726
@yonner It sounds like you are describing a system for handling the needs of the characters, while what I'm trying to build is a system the finds how how achieve a goal, after we know that it exists. If I'm correct then your system would run higher up and when there is something the character needs that is important enough to do now, it would create a goal in my system and it would be used to figu

[2016-08-24 15:08] vogonistic commented on #726
@MSigma No, you are spot on for this first naive implementation. We might need to add modifiers to the actions cost based on the character and maybe needs of the station.

Ideally, the cost would be such that when the lowest cost path is found, it's also the best fit.

[2016-08-24 15:09] gunthergun commented on #726
@vogonistic I still think that is possible though a graph can have multiple paths. but I think for a game like this this is to deep, to build at runtime

[2016-08-24 15:10] vogonistic commented on #726
@gunthergun Yeah. I'm also trying to avoid having to rebuild a graph when a new piece of furniture is placed.

[2016-08-24 15:11] gunthergun commented on #726
@vogonistic But I must say I like the start of your system... It definitely will be a big improvement of what we have now if it gets finished... Will you be working on it now ?

[2016-08-24 15:13] vogonistic commented on #22
In PP age, this is ancient. Closing in favor of newer issues.

[2016-08-24 15:13] #22 closed

[2016-08-24 15:16] vogonistic commented on #47
I think this is still a relevant issue. Does someone want to have a go at building it?

[2016-08-24 15:17] vogonistic commented on #57
With discord in place and active, I'm closing this.

[2016-08-24 15:17] #57 closed

[2016-08-24 15:17] cskiwi commented on #536
here are some more ideas:

1) Character skill levels
 -> each time a character preforms a task, he gets a little better at it (building goes faster, can carry more, walks faster, ...)
-> or has influence on the thing they are doing (machine is produces more/faster,...)

2) Enviroments (not really reasearch but same result)
 -> the enviroment affects how the character does his job, in well decorate

[2016-08-24 15:18] vogonistic commented on #73
What do we do about this? I think it would be a huge benefit to the project.

[2016-08-24 15:19] vogonistic commented on #94
Warning shot was ignored, closing.

[2016-08-24 15:19] #94 closed

[2016-08-24 15:21] vogonistic commented on #105
How do we add more resources and make them more interesting to get?

[2016-08-24 15:24] vogonistic commented on #147
I believe it's Wednesday in most time zones, how are things going? :) I highly recommend you make sure you can rebase or restart now, because this project is changing quickly.

[2016-08-24 15:25] vogonistic commented on #153
Do we need to do more work on localization, or is this issue past its close by date?

[2016-08-24 15:26] yonner commented on #726
@vogonistic I would say that the GAB system would both handle the characters needs, which then equate to goals that should satisfy that need. Once we have an overall goal eg **Goal_GetFood** that Goal would add a whole host of sub goals to achieve the goal. Eg **Goal_FindNearestFood** which would determine the nearest food source and generate a path. Once the character has achieved his goal of fol

[2016-08-24 15:27] vogonistic commented on #167
I believe this has been fixed, right? Reopen the issue if it hasn't.

[2016-08-24 15:27] #167 closed

[2016-08-24 15:28] vogonistic commented on #177
Is this a current bug?

[2016-08-24 15:31] vogonistic commented on #180
I think this might be a perfectly reasonable time to work on this.

[2016-08-24 15:33] vogonistic commented on #182
This looks like the discussion ended, reopen if relevant.

[2016-08-24 15:33] #182 closed

[2016-08-24 15:33] vogonistic commented on #197
Closing for inactivity.

[2016-08-24 15:33] #197 closed

[2016-08-24 15:34] GamerInspired commented on #180
I agree with @vogonistic this is a good time to work on this.

[2016-08-24 15:36] vogonistic commented on #205
Is this still an issue?

[2016-08-24 15:39] vogonistic commented on #209
Closing in favor of #745

[2016-08-24 15:39] #209 closed

[2016-08-24 15:42] vogonistic commented on #745
Was this solved with #720?

[2016-08-24 15:44] vogonistic commented on #212
I'm closing based on age and inactivity.

[2016-08-24 15:44] #212 closed

[2016-08-24 15:52] vogonistic commented on #213
Do we keep this issue open for discussions or close it?

[2016-08-24 15:54] abackwood commented on #745
No. It happened because I added a new furn, which of course had no localization set for it. The LocalizationTable counts that as an error

[2016-08-24 15:57] FilippoLeon commented on #544
@gunthergun, @BeefEX, would you like to plan something with the temperature system?

[2016-08-24 15:58] #305 closed

[2016-08-24 16:00] mattpott commented on #147
Hi, things are going well. I have only just gotten internet again so I am starting again.

[2016-08-24 16:04] vogonistic commented on #147
Excellent! We need this desperately, so don't hesitate to reach out for help figuring things out. We have a pretty active Discord chat. Link is in the readme.

[2016-08-24 16:05] MSigma commented on #726
Another concern of mine is that planners like these, when introduced to a changing world-state with a lot of inputs and possible actions tend to be pretty heavy duty. Traditionally, they're not suited to run-time usage, right? Has performance been a factor in the discussion at all?

[2016-08-24 16:09] yonner commented on #726
@MSigma I would imagine games like Prison architect would use systems similar to this. In order to improve performance things like splitting the map into regions and keeping lookup tables of all resources would help. But we need to start somewhere and then maybe think about performance tuning if we notice that things are beginning to slow down.

[2016-08-24 16:10] vogonistic commented on #726
@MSigma I don't envision it being very heavy since we are just matching a list of input conditions. Each iteration in the loop is checking for that limited set of conditions which most actions will not be able to fulfill. We could even optimize and register the calls for types of conditions, so we can exclude some of them. I.e. don't look at stockpiles if we need to walk. If I'm wrong, we can opti

[2016-08-24 16:13] FilippoLeon commented on #601
I'm starting a wiki page, where we can put a brief description of some core subsystem and briefly document how it works. (By core subsytem I mean Furniture, PowerSystem, Trading, Temperature, Oxygen, etc.). I, for instance, have completely no clue how the new power system works.

I propose the following temporary solution:

E.g. for my overlay system:
document how to add new overlay trough xml + l

[2016-08-24 16:18] vogonistic commented on #745
I'd accept a PR that lowers the messages to info when I'm merging PRs later. I'm sure the others would too.

[2016-08-24 16:23] vogonistic commented on #726
@yonner It sounds good but how does the actual selection of subgoals work?

[2016-08-24 16:26] Ohda commented on #745
I will do it, just for aovoiding error level actually.

[2016-08-24 16:26] RodRitter opened #752 "[Bug?] Unlimited Panning"
Hello everyone,

One thing I've noticed while testing other PR's, is that I can pan way off the map. Is this intentional?

[2016-08-24 16:40] vogonistic commented on #752
I don't recall it ever coming up. Should we limit it so that you can only go a little bit outside the world?

[2016-08-24 16:49] FilippoLeon commented on #752
Definitely, otherwise you can easily get lost :).

[2016-08-24 16:50] #745 closed

[2016-08-24 16:54] FilippoLeon commented on #752
[code]

Figuring out good min max values is annoying tough. I guess the centre of the camera should be at most at the corners?

so min = 0 max = world.current.width?

[2016-08-24 16:57] mikejbrown commented on #710
Since it is hard to tell atm where people are working I announce my intent to start work on the controllers... If somebody out there is already working on them please let me know so I don't stomp all over your toes. :smile:

[2016-08-24 16:58] vogonistic commented on #710
@mikejbrown It's easier for us to accept the PR's if they are limited in scope, so don't fix all of them in a single PR.

[2016-08-24 17:00] vogonistic commented on #704
It'll probably be important to be able to set a color that automatically gets used for everything connected to it, so you can follow your pipes more easily.

[2016-08-24 17:01] mikejbrown commented on #710
I'll go alphabetically down the list: BuildModeController, CharacterSpriteController, ...
Do you want each file in a separate PR or is it ok to combine a few? Some especially don't have many calls to fix.

[2016-08-24 17:02] vogonistic commented on #729
Sounds like what we are going to need in airlocks too. When you want to go out, we pump the gas into a tank and when the outer door is closed, we can put it back.

[2016-08-24 17:03] SteelFall commented on #704
That might be a good idea.

[2016-08-24 17:04] vogonistic commented on #265
I think this is fixed. Reopen if I'm wrong.

[2016-08-24 17:04] #265 closed

[2016-08-24 17:04] Sommerbo commented on #710
Go for it, @mikejbrown

[2016-08-24 17:06] vogonistic commented on #269
Closing this in favor of the many discussions on Job systems. #86 #726 #732

[2016-08-24 17:06] #269 closed

[2016-08-24 17:07] vogonistic commented on #272
Is this still the case?

[2016-08-24 17:07] vogonistic commented on #273
This has been fixed. It's not super clear, but it does exist.

[2016-08-24 17:07] #273 closed

[2016-08-24 17:08] vogonistic commented on #278
I'm pretty sure this has been fixed.

[2016-08-24 17:08] #278 closed

[2016-08-24 17:08] RodRitter commented on #752
I've defnitely glitched out before, where my camera ended up way off the map.

@FilippoLeon Yea, you can just use something like `float xMax = (float)World.width` since every tile is 1 unit.

[2016-08-24 17:10] vogonistic commented on #301
Can we generate a list of missing localizations for en_US?

[2016-08-24 17:12] vogonistic commented on #331
There has been several improvements for this, but it's going to be an ongoing project. I suggest we add issues for specific things that slows the characters down so we can have a criteria to finish issues.

[2016-08-24 17:12] #331 closed

[2016-08-24 17:13] vogonistic commented on #335
Closing in favor of job system discussions #86 #726 #732

[2016-08-24 17:13] #335 closed

[2016-08-24 17:16] #730 closed

[2016-08-24 17:17] neobonde commented on #704
What if you could choose what layer pipes where to be placed on? One layer visible(Above flooring) and an other one not visible(Under flooring).

[2016-08-24 17:18] SteelFall commented on #704
That could be a good idea at a later stage. I am currently still trying to get the basic pipe layer sorted out. :)

[2016-08-24 17:19] vogonistic commented on #704
I'd prefer an ability to turn off rendering of the entire pipe layer rather than having multiple places to put them.

[2016-08-24 17:19] abackwood commented on #704
That compressor has since been added

[2016-08-24 17:27] TomMalbran commented on #177
The Jobs aren't being saved. Since Quill was planning on redoing it at some point, he didn't added the save. I agree with him, and think that it might be better to first redo the system. If we don't change it by 0.1, maybe at that point we can think of saving the jobs, so that the game doesn't feel broken.

[2016-08-24 17:29] vogonistic commented on #177
I think regardless of a new job system, we should add saving of the current job. That way when implementing the new system, they know that they have to add that functionality as well.

[2016-08-24 17:43] abackwood commented on #298
I don't think a tile-specific temperature model is the most appropriate for a game like this. Barring the odd case where a room is so big that there are meaningful temp differences between two parts of it, air was spread pretty quickly through the room anyway.

It sounds like calculating temperature would become computationally expensive, so it should add a proportional amount to gameplay or it's

[2016-08-24 18:02] mikejbrown commented on #743
Development on this happening in #746 and https://github.com/mikejbrown/ProjectPorcupine/pull/4 which is a PR on #746

[2016-08-24 18:11] GamerInspired opened #758 "[BUG] KeyNotFoundException"
So I started up the lastest build only to find after a while the error KeyNotFoundException appeared. It also seemed to cause the fps to drop to rock bottom.

![ss 2016-08-24 at 07 07 41](https://cloud.githubusercontent.com/assets/8201304/17942254/883c3f58-6a2e-11e6-9d59-83118d897e99.png)

[2016-08-24 18:12] Randshot commented on #694
@vogonistic Should we set origin or upstream as remote? (I am guessing origin, but want to make sure.)

[2016-08-24 18:14] vogonistic commented on #694
@Randshot That only affects you since we never get to see what you called it. You just have to know what it means. I call it `upstream` personally.

[2016-08-24 18:17] Randshot commented on #694
For now, I am not seeing any other branches than master on this repository.

[2016-08-24 18:19] vogonistic commented on #694
We don't need `stable` until we make the first release, so we haven't created it yet. `master` is what all work will be focused on for now.

[2016-08-24 18:21] NogginBops commented on #758
You left out the important part... the callstack.

[2016-08-24 18:21] Randshot commented on #694
One question, what is the point of using git-flow, when you can't merge the other (feature, hotfix, etc...) branches into the master branch?
Because when I click 'finish feature', it asks me how I want to merge the feature branch into the master branch.

[2016-08-24 18:24] vogonistic commented on #694
You should have the ability to publish the feature, which you then create a pull request from.

[2016-08-24 18:24] vogonistic commented on #694
Which app do you use?

[2016-08-24 18:29] Randshot commented on #694
SmartGit

[2016-08-24 18:29] SteelFall commented on #704
Just added a PR to establish utility items in general (#759). It is mostly the furniture classes where "furniture" is replaced with "utility" until we find out what to keep and what to remove.

[2016-08-24 18:33] racerand commented on #758
It's the metal smelter, have the same problem, from Parameter.cs: 62

[2016-08-24 18:33] vogonistic commented on #694
Hmm, I don't see the ability to publish your features. Smartgit's implementation of git flow seems to be focused on a single repo and might not be compatible with the fork & pull request model.

For now, can you disable git flow and do the usual PR's while we discuss this?

[2016-08-24 18:35] Mizipzor commented on #73
@vogonistic I still *really* want this to happen. But I havent found the time yet, the time Ive had has gone to pull requests. My branch and all that is still there (linked above).

[2016-08-24 18:36] vogonistic commented on #73
My time is also almost entirely devoted to PR's. Maybe we can find someone else to take it on.

[2016-08-24 18:39] koosemose commented on #758
Yep, I didn't account for some of the Lua scripts (smelter, and some temperature stuff I think) referencing nonexistent parameters, and only creating them when needed. PR #746 is in the works to fix the issue.

[2016-08-24 18:46] Mizipzor commented on #153
Close it.

[2016-08-24 18:48] GamerInspired commented on #758
callstack?

[2016-08-24 18:49] Randshot commented on #694
I will just use the command line version :)

[2016-08-24 18:58] TomMalbran commented on #177
If it is not hard to implemente it and someone wants to, there would be no problem in doing it. Eventually it will be changed, and maybe removed, but that is ok.

[2016-08-24 18:58] Sommerbo opened #762 "PageUp & PageDown for zooming"
I tried to implement this myself and end up with a none working mess. Maybe someone can take a stab at it. It would help those lacking a mousewheel.
Should be a relatively small thing, I think.

[2016-08-24 19:11] mikejbrown commented on #758
duplicate of #725

[2016-08-24 19:18] mikejbrown commented on #743
@koosemose @FilippoLeon Since the name `GetDictionary` is misleading and it's a private method I just renamed it to `DeepCloneDictionary` in #746. Okay with that:question:

[2016-08-24 19:22] abackwood opened #764 "[Discussion] Naming standard for furniture Lua functions"
How do the naming standards apply to furniture Lua functions?

Like a function `OxygenCompressor_OnUpdate()` relating to the oxygen compressor. Should that be named `compressor_oxygen_OnUpdate()`?

Personally, I don't think that looks very good and goes against the coding standard of capitalizing your functions.

[2016-08-24 19:23] racerand opened #765 "[Discussion] LUA functions vs item names"
Me and @abackwood were just discussing how the naming system of `type_material` in snake_casing looks bad as a function name in LUA like `generator_oxygen_OnUpdate`. What do you guys think of this?

[2016-08-24 19:24] koosemose commented on #743
Sounds good to me.

[2016-08-24 19:25] mikejbrown commented on #205
Fixed by #670

[2016-08-24 19:25] #764 closed

[2016-08-24 19:26] NogginBops commented on #758
@GamerInspired This is the callstack. The part that tells you where the error occurred.

![image](https://cloud.githubusercontent.com/assets/3778357/17944759/5afb7276-6a41-11e6-8184-073a9722a99c.png)

[2016-08-24 19:51] bjubes commented on #765
I would keep Lua functions as they were with `OxygenGenerator_OnUpdate` As it makes more sense to have a capitalized function

[2016-08-24 19:52] bjubes commented on #762
Actually tried this too. Did u put page up and page down as alt buttons in the input manager? I tried that but i didn't work

[2016-08-24 20:21] bjubes commented on #734
okay since their text based maybe those can be included then in a new directory? Idk this is probably one for @quill18, but large binaries like gimp and photoshop files should not be in the repo at all if possible

[2016-08-24 20:38] TomMalbran commented on #765
We can go for something like ```GeneratorOxygen_OnUpdate``` so that it keeps the furniture name order.

[2016-08-24 20:47] bjubes commented on #73
Is there any tools that allow stylecop to auto check PRs? I googled for a bit but found nothing. CI would be great but I would prefer to have unit tests over simple compilation since most errors in PRs thus far break previous logic on runtime not when compiled

[2016-08-24 20:56] Mizipzor commented on #73
For me, the biggest problem was that the solution file needs to be generated by something. One approach was to install the editor on the build machine, dont ask me how they allow this. Another approach was a custom tool that generated a solution, also linked above. Neither worked. I suppose if we can live with having a solution file checked in, thats the quickest dirtiest way to get something runn

[2016-08-24 20:57] Mizipzor commented on #73
@bjubes Yes, StyleCop can be ran as part of MsBuild, so if we get some kind of CI system going, thats the obvious next step.

[2016-08-24 20:59] vogonistic commented on #73
If we can figure out the command, getting a CI system to run is trivial. After that it gets a bit more complicated because it needs rights to change the status of the PR, which means admin rights.